<div class="grid u-spacer--tiny">
  <div class="col--6-12">
    {{#link-to 'inbox.index' class="smaller link-dark"}}&leftarrow; Terug naar overzicht{{/link-to}}
  </div>
  <div class="col--6-12 u-align-right">
    {{#if editorDocument.createdOn}}
      <p class="small">
        {{moment-from editorDocument.createdOn}} aangemaakt
        {{editor-status-pill status=(await editorDocument.status)}}
      </p>
    {{/if}}
  </div>
</div>
<div class="grid">
  <div class="col--5-12">
    {{editor-document-title editorDocument=editorDocument readOnly=readOnly}}
  </div>
  <div class="col--7-12 u-align-bottom">
    {{yield}}
  </div>
</div>
