<div class="tasklist__header">
	<div class="grid">
        <div class="col--10-12">
            <h2 class="h4 u-spacer--tb--tiny">Takenlijst</h2>
        </div>
        <div class="col--2-12 u-align--right">
            <div class="button-group">
                <a class="u-spacer--none button button--link button--link--dark button--narrow delete-me-toggle-checklist">
                    <i class="vi vi-expand u-padding--right--none vi-u-s delete-me-button-toggle-checklist"></i>
                    <span class="delete-me-toggle-checklist--text u-hidden"> klap checklist in</span>
                </a>
{{!--                     <a class="u-spacer--none button button--link button--link--dark button--narrow delete-me-hide-checklist">
                    <i class="vi vi-cross u-padding--right--none vi-u-s delete-me-button-hide-checklist"></i>
                </a> --}}
            </div>
        </div>
    </div>
</div>
<div class="tasklist__content">
	<div class="tasklist-navigation">
		<div class="tasklist-navigation__group">
			{{#each tasklistSolutions as |solution|}}
			  {{tasklist-solution/edit tasklistSolution=solution class="tasklist-navigation__item js-accordion js-accordion--open"}}
			{{/each}}
			{{yield}}
		</div>
	</div>
</div>
