<div class="toolbar__annotations-switch">
  {{#wu-button-group}}
    <div class="checkbox--switch__wrapper checkbox--switch--small">
      {{input class="checkbox--switch" type="checkbox" id="toggle-1" name="isAdmin" checked=showRdfaBlocks click=(action "toggleRdfaBlocks") }}
      <label class="checkbox--switch__label" for="toggle-1"></label>
      <span>Toon annotaties</span>
    </div>
  {{/wu-button-group}}
</div>
{{yield}}
