{{#wu-button-group class="u-align-right"}}
	<div class="checkbox--switch__wrapper checkbox--switch--small">
		{{input class="checkbox--switch" id="toggle-1" type="checkbox" name="isAdmin" checked=showRdfaBlocks click=(action "toggleRdfaBlocks") }}
		<label class="checkbox--switch__label" for="toggle-1"></label>
		<span>Toon annotaties</span>
	</div>
{{/wu-button-group}}
{{yield}}
