<AuHeader @appTitle="Gelinkt Notuleren" @contactLink="https://gelinkt-notuleren.lblod.info/contact">
  <AcmidmLoginCompact @styles="au-c-button-link">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
      <path d="M22,32.8485398 C24.175958,32.8485398 25.9562872,31.0682106 25.9562872,28.8922526 C25.9562872,26.7162946 24.175958,24.9359654 22,24.9359654 C19.824042,24.9359654 18.0437128,26.7162946 18.0437128,28.8922526 C18.0437128,31.0682106 19.824042,32.8485398 22,32.8485398 Z M33.8688616,15.0452474 L31.890718,15.0452474 L31.890718,11.0889602 C31.890718,5.62928385 27.4596763,1.19824219 22,1.19824219 C16.5403237,1.19824219 12.109282,5.62928385 12.109282,11.0889602 L12.109282,15.0452474 L10.1311384,15.0452474 C7.95518043,15.0452474 6.17485119,16.8255766 6.17485119,19.0015346 L6.17485119,38.7829706 C6.17485119,40.9589286 7.95518043,42.7392578 10.1311384,42.7392578 L33.8688616,42.7392578 C36.0448196,42.7392578 37.8251488,40.9589286 37.8251488,38.7829706 L37.8251488,19.0015346 C37.8251488,16.8255766 36.0448196,15.0452474 33.8688616,15.0452474 Z M15.8677548,11.0889602 C15.8677548,7.70633464 18.6173744,4.95671503 22,4.95671503 C25.3826256,4.95671503 28.1322452,7.70633464 28.1322452,11.0889602 L28.1322452,15.0452474 L15.8677548,15.0452474 L15.8677548,11.0889602 Z M33.8688616,38.7829706 L10.1311384,38.7829706 L10.1311384,19.0015346 L33.8688616,19.0015346 L33.8688616,38.7829706 Z"/>
    </svg>Aanmelden
  </AcmidmLoginCompact>
</AuHeader>
<div class="page">
  <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
    <header class="content-header content-header--small content-header--half-image u-spacer">
      <div class="content-header__wrapper">
        <picture class="content-header__bg"><img sizes="50vw" src="/assets/images/loket-header-1600.jpg" srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w" alt="" title=""></picture>
        <div class="layout layout--wide">
          <div class="content-header__content">
            <div class="content-header__logo-wrapper"><a href="#" class="content-header__entity-logo content-header__entity-logo--lowercase"><span class="content-header__entity-logo__prefix">Vlaanderen</span><span class="content-header__entity-logo__title">is gelinkt notuleren</span></a></div>
          </div>
        </div>
      </div>
    </header>
    {{yield}}
  </div>
  {{#if showFooter}}
    <WuWidget @src={{footer}} />
  {{/if}}
</div>
