<AuMainHeader @brandLink="https://www.vlaanderen.be/nl" @homeRoute="index" @appTitle="Gelinkt Notuleren" @contactRoute="contact">
  <AcmidmLoginCompact @styles="au-c-button au-c-button--tertiary">
    <AuIcon @icon="login" @alignment="left" />Aanmelden
  </AcmidmLoginCompact>
</AuMainHeader>

<div class="au-c-main-container">
  <div class="au-c-main-container__content au-c-main-container__content--scroll">
    <div class="page">
      <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
        <header class="content-header content-header--small content-header--half-image u-spacer">
          <div class="content-header__wrapper">
            <picture class="content-header__bg"><img sizes="50vw" src="/assets/images/loket-header-1600.jpg" srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w" alt="" title=""></picture>
            <div class="layout layout--wide">
              <div class="content-header__content">
                <div class="content-header__logo-wrapper"><a href="#" class="content-header__entity-logo content-header__entity-logo--lowercase"><span class="content-header__entity-logo__prefix">Vlaanderen</span><span class="content-header__entity-logo__title">is gelinkt notuleren</span></a></div>
              </div>
            </div>
          </div>
        </header>
        {{yield}}
      </div>
    </div>

    <AuMainFooter>
      <AuHeading @level="3" @skin="4">
        Gelinkt-notuleren.lblod.info is een officiële website van de Vlaamse overheid
      </AuHeading>
      <AuContent @skin="small">
        <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a></p>
        <ul class="au-c-list-horizontal">
          <li class="au-c-list-horizontal__item">
            <AuLink @linkRoute="legaal.disclaimer" @skin="secondary">Disclaimer</AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            <AuLink @linkRoute="legaal.cookieverklaring" @skin="secondary">Cookieverklaring</AuLink>
          </li>
        </ul>
      </AuContent>
    </AuMainFooter>
  </div>
</div>