<div class="u-spacer--top">
  {{#if this.initializeBesluitenLijst.lastSuccessful}}
  <WuTimelineAccordion as |timeline|>
    <Signatures::Besluitenlijst::TimelineStep
            @name="besluitenlijst"
            @step={{timeline.step}}
            @lijst={{this.besluitenlijst}}
            @signing={{perform this.createSignedResource}}
            @publish={{perform this.createPublishedResource}}
    />

  </WuTimelineAccordion>
  {{/if}}
</div>