<div>
  <span class="say-modal-backdrop is-visible" aria-hidden="true"></span>
  <div class="say-modal say-modal--fullscreen is-visible" tabindex="-1" role="document">
    <div class="say-modal__header">
      <div>
        <p class="say-modal__prefix">
          <LinkTo @route="inbox.index" class="say-link say-link--secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="say-icon say-icon--left">
              <g class="arrow-left">
                <path d="M8.11 15l-1.42 1.41L2 11.69 6.69 7l1.42 1.41-2.3 2.28H22v2H5.81L8.11 15z" class="Vector"/>
              </g>
            </svg>
            Terug naar ontwerp
          </LinkTo>
        </p>
        <h1 class="say-modal__title" tabindex="-1">
          Voeg een verwijzing toe
        </h1>
      </div>
      <button type="button" {{on "click" this.closeModal}} class="say-modal__close">
        <AuIcon @icon="cross" @size="large" />
        <span class="au-u-hidden-visually">Venster sluiten</span>
      </button>
    </div>
    <div class="say-modal__body">
      <div class="say-modal__sidebar">
        <div class="form">
          <div class="form__row">
            <label class="say-label say-label--block" for="search-codex">Zoekterm</label>
            <input class="say-input say-input--search" type="text" name="" id="search-codex">
          </div>

          <div class="form__row">
            <div class="say-checkbox-wrapper">
              <input class="say-checkbox" type="checkbox" name="" id="opschrift" checked>
              <label class="say-label" for="opschrift">Zoek in opschrift</label>
            </div>
          </div>

          <div class="form__row">
            <div class="say-checkbox-wrapper">
              <input class="say-checkbox" type="checkbox" name="" id="inhoud" checked>
              <label class="say-label" for="inhoud">Zoek in inhoud</label>
            </div>
          </div>

          <div class="form__row">
            <button class="say-button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="say-icon say-icon--left" aria-hidden="true">
                <path d="M21.701 20.301l-5.4-5.4a7.88 7.88 0 001.7-4.9 8.27 8.27 0 00-2.3-5.7 8.21 8.21 0 00-11.4 0 8.21 8.21 0 000 11.4 8.27 8.27 0 005.7 2.3 7.88 7.88 0 004.9-1.7l5.4 5.4 1.4-1.4zm-11.7-4.3a5.6 5.6 0 01-4.2-1.8 5.6 5.6 0 01-1.8-4.2 5.6 5.6 0 011.8-4.2 5.6 5.6 0 014.2-1.8 5.6 5.6 0 014.2 1.8 5.6 5.6 0 011.8 4.2 5.6 5.6 0 01-1.8 4.2 5.6 5.6 0 01-4.2 1.8z" class="Vector"></path>
              </svg>
              Zoek (liever auto-search)
            </button>
          </div>

          <hr class="u-spacer--tb--small">

          <div class="form__row">
            <label class="say-label say-label--block" for="search-codex">Type document</label>
            <select class="say-input say-input--select" name="" id="search-codex">
              <option value="Decreet">Decreet</option>
              <option value="DecreetDecreet">DecreetDecreet</option>
              <option value="DecreetDecreetDecreet">DecreetDecreetDecreet</option>
              <option value="DecreetDecreetDecreetDecreet">DecreetDecreetDecreetDecreet</option>
            </select>
          </div>

          <div class="form__row">
            <label class="say-label say-label--block" for="search-codex-datum-document-van">Filter op datum document</label>
            <div class="form__row">
              <label class="say-label say-u-hidden-visually" for="search-codex-datum-document-van">Filter op datum document vanaf datum:</label>
              <input class="say-input say-input--pre" aria-hidden="true" type="text" name="" value="van">
              <input class="say-input" type="date" name="" id="search-codex-datum-document-van">
            </div>
            <div class="form__row">
              <label class="say-label say-u-hidden-visually" for="search-codex-datum-document-tot">Filter op datum document tot datum:</label>
              <input class="say-input say-input--pre" aria-hidden="true" type="text" name="" value="tot">
              <input class="say-input" type="date" name="" id="search-codex-datum-document-tot">
            </div>
          </div>

          <div class="form__row">
            <label class="say-label say-label--block" for="search-codex-datum-staatsblad-van">Filter op datum staatsblad</label>
            <div class="form__row">
              <label class="say-label say-u-hidden-visually" for="search-codex-datum-staatsblad-van">Filter op datum staatsblad vanaf datum:</label>
              <input class="say-input say-input--pre" aria-hidden="true" type="text" name="" value="van">
              <input class="say-input" type="date" name="" id="search-codex-datum-staatsblad-van">
            </div>
            <div class="form__row">
              <label class="say-label say-u-hidden-visually" for="search-codex-datum-staatsblad-tot">Filter op datum staatsblad tot datum:</label>
              <input class="say-input say-input--pre" aria-hidden="true" type="text" name="" value="tot">
              <input class="say-input" type="date" name="" id="search-codex-datum-staatsblad-tot">
            </div>
          </div>

        </div>
      </div>
      <div class="say-modal__content">
        <ul class="say-link-list say-link-list--large">
          <li class="say-link-list__item">
            <a href="/citaten/citaten-voeg-in" class="say-link-list__link say-link-list__link--arrow">
              Decreet over het lokaal bestuur <span class="say-link__highlight">vaststelling</span>
              <br>
              <strong>DD/MM/YYYY</strong>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="say-icon say-icon--left say-icon--large" aria-hidden="true">
                <g class="nav-right">
                  <path d="M8.429 21L7 19.5l7.143-7.5L7 4.5 8.429 3 17 12l-8.571 9z" class="Vector"/>
                </g>
              </svg>
            </a>
          </li>
          <li class="say-link-list__item">
            <a href="/citaten/citaten-voeg-in" class="say-link-list__link say-link-list__link--arrow">
              Besluit van de Vlaamse Regering tot <span class="say-link__highlight">vaststelling</span> van de tuchtprocedure voor het statutaire personeel van het lokaal bestuur en tot vaststelling van de werking, de samenstelling en de vergoeding van de leden van de Beroepscommissie voor Tuchtzaken (B.S.14/09/2018)
              <br>
              <strong>DD/MM/YYYY</strong>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="say-icon say-icon--left say-icon--large" aria-hidden="true">
                <g class="nav-right">
                  <path d="M8.429 21L7 19.5l7.143-7.5L7 4.5 8.429 3 17 12l-8.571 9z" class="Vector"/>
                </g>
              </svg>
            </a>
          </li>
          <li class="say-link-list__item">
            <a href="/citaten/citaten-voeg-in" class="say-link-list__link say-link-list__link--arrow">
              Decreet over het lokaal bestuur <span class="say-link__highlight">vaststelling</span>
              <br>
              <strong>DD/MM/YYYY</strong>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="say-icon say-icon--left say-icon--large" aria-hidden="true">
                <g class="nav-right">
                  <path d="M8.429 21L7 19.5l7.143-7.5L7 4.5 8.429 3 17 12l-8.571 9z" class="Vector"/>
                </g>
              </svg>
            </a>
          </li>
          <li class="say-link-list__item">
            <a href="/citaten/citaten-voeg-in" class="say-link-list__link say-link-list__link--arrow">
              Besluit van de Vlaamse Regering tot <span class="say-link__highlight">vaststelling</span> van de tuchtprocedure voor het statutaire personeel van het lokaal bestuur en tot vaststelling van de werking, de samenstelling en de vergoeding van de leden van de Beroepscommissie voor Tuchtzaken (B.S.14/09/2018)
              <br>
              <strong>DD/MM/YYYY</strong>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="say-icon say-icon--left say-icon--large" aria-hidden="true">
                <g class="nav-right">
                  <path d="M8.429 21L7 19.5l7.143-7.5L7 4.5 8.429 3 17 12l-8.571 9z" class="Vector"/>
                </g>
              </svg>
            </a>
          </li>
          <li class="say-link-list__item">
            <a href="/citaten/citaten-voeg-in" class="say-link-list__link say-link-list__link--arrow">
              Besluit van de Vlaamse Regering tot <span class="say-link__highlight">vaststelling</span> van de tuchtprocedure voor het statutaire personeel van het lokaal bestuur en tot vaststelling van de werking, de samenstelling en de vergoeding van de leden van de Beroepscommissie voor Tuchtzaken (B.S.14/09/2018)
              <br>
              <strong>DD/MM/YYYY</strong>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="say-icon say-icon--left say-icon--large" aria-hidden="true">
                <g class="nav-right">
                  <path d="M8.429 21L7 19.5l7.143-7.5L7 4.5 8.429 3 17 12l-8.571 9z" class="Vector"/>
                </g>
              </svg>
            </a>
          </li>
          <li class="say-link-list__item">
            <a href="/citaten/citaten-voeg-in" class="say-link-list__link say-link-list__link--arrow">
              Decreet over het lokaal bestuur <span class="say-link__highlight">vaststelling</span>
              <br>
              <strong>DD/MM/YYYY</strong>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="say-icon say-icon--left say-icon--large" aria-hidden="true">
                <g class="nav-right">
                  <path d="M8.429 21L7 19.5l7.143-7.5L7 4.5 8.429 3 17 12l-8.571 9z" class="Vector"/>
                </g>
              </svg>
            </a>
          </li>
          <li class="say-link-list__item">
            <a href="/citaten/citaten-voeg-in" class="say-link-list__link say-link-list__link--arrow">
              Besluit van de Vlaamse Regering tot <span class="say-link__highlight">vaststelling</span> van de tuchtprocedure voor het statutaire personeel van het lokaal bestuur en tot vaststelling van de werking, de samenstelling en de vergoeding van de leden van de Beroepscommissie voor Tuchtzaken (B.S.14/09/2018)
              <br>
              <strong>DD/MM/YYYY</strong>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="say-icon say-icon--left say-icon--large" aria-hidden="true">
                <g class="nav-right">
                  <path d="M8.429 21L7 19.5l7.143-7.5L7 4.5 8.429 3 17 12l-8.571 9z" class="Vector"/>
                </g>
              </svg>
            </a>
          </li>
        </ul>
        <div class="say-pagination say-pagination--large">
          <p class="say-pagination__info"><span class="say-u-hidden-visually">Rij</span> <strong>Artikels 5 tot en met 10</strong> van 59 artikels</p>
          <ul class="say-pagination__list">
            <li class="say-pagination__item">
              <button class="say-button say-button--tertiary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="say-icon say-icon--left">
                  <path d="M15.429 21L6 12l9.429-9L17 4.5 9.143 12 17 19.5 15.429 21z" class="Vector"/>
                </svg>
                vorige <span class="say-u-hidden-visually"> 5 rijen</span>
              </button>
            </li>
            <li class="say-pagination__item">
              <button class="say-button say-button--tertiary">
                volgende <span class="say-u-hidden-visually"> 5 rijen</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="say-icon say-icon--right">
                  <path d="M8.429 21L7 19.5l7.143-7.5L7 4.5 8.429 3 17 12l-8.571 9z" class="Vector"/>
                </svg>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
