/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

/* side nav problem remove once webuniversum updated*/

.side-navigation__item a {
  word-break: initial;
}

/* step styling override remove once webuniversum updated*/

.step__header > .grid {
  width: 100%;
}

.step__content p + p {
  margin-top: 0;
}

/* spans in link lists replacing data */

li.link-list__item span {
  display: block;
  padding: 1rem 1.5rem;
}

li.link-list__item > button.button {
  padding: 1rem 1.5rem;
  background-color: transparent;
  color: $primary-blue;
  border: none;
  height: auto;
  display: block;
  width: 100%;
  text-align: left;
  white-space: initial;
  line-height: 1.4;

  &:hover {
    background-color: $blue-gray-lightest;
  }

  &.button--disabled {
    color: $gray;
    pointer-events: none;
  }
}

/* ember data table red color override */

.data-table-menu {
  color: $gray-dark;
}

.badge--xs {
  width: 2rem;
  height: 2rem;
  line-height: 0.9;
  padding: 0.25rem 0.4rem;
  text-align: center;
  position: relative;
  top: 0.6rem;

  .vi {
    font-size: 0.9rem;
  }
}

.pill {
  .badge--xs {
    position: relative;
    top: 0.3rem;
    margin-right: 0.5rem;
    line-height: 1.1;
    width: 1.6rem;
    height: 1.6rem;
    padding: 0 0.35rem;
  }
}

/** Collapsable document structure */
.editor-container {
  background-color: $blue-gray-lightest;

  .grid {

    .sidebar-wrapper {
      position: relative;
      transition: 0.5s;
      left: 0;

      &.col--3-12.col--collapsed {
        left: calc(-25% + 50px);
      }

      .sidebar {
        background-color: white;

        .sidebar__header i {
          cursor: pointer;
        }
      }
    }
  }
}

/* temporary fix for besluittypes dropdown */

.ember-basic-dropdown-content.ember-power-select-dropdown.ember-basic-dropdown-content--below {
  z-index: 1006;
}

/* temporary demo fixes for fracties */

input.input-field {
  padding-right: 0;
}

.data-table th .button {
  font-weight: normal;
}

.modal-dialog.modal-dialog--sectioned .modal-dialog__content {
  max-height: 75vh;
}

.data-table--white tr {
  background-color: white !important;
}

.data-table--bordered {
  border-left: 1px solid $gray-lighter;
  border-right: 1px solid $gray-lighter;
}


// Temporary focus overrides for focus area's
// @TODO: discuss where to put this or how to fix this focus style.
#main:focus,
#content:focus {
  outline: 0;
}

/* temporary styling for import-export demo */

.preview-list__image {
  width: 16rem;
  height: 20rem;
  display: block;
  box-shadow: 0 0 6px 0 #CBD2DA;
  overflow: hidden;
  margin-bottom: 1rem;
}

.preview-list__name {
  line-height: 1;
  margin-bottom: 2rem;
}

.description-data__value--placeholder {
  font-style: italic;
  // color: $gray;
  font-weight: 300;
  font-size: 1.4rem;
}

// Fix ACMIDM login alerts/loading in header
// @TODO: rework ACMIDM components to work with appuniversum classes
.au-c-main-header__actions .alert {
  position: absolute;
  right: $au-unit-small;
  max-width: 480px;
  top: $au-unit-large + $au-unit-tiny;
}

// Position ACMIDM login loader
.au-c-main-header__actions .u-padding--round--small {
  position: absolute;
  right: 0;
  max-width: 480px;
  top: $au-unit-large - $au-unit-tiny/2;
  padding: 0;
  background-color: $au-white;

  .loader-wrapper {
    padding: 0;
  }
}


// Small text in a toolbar
// @TODO: port to ember-appuniversum component
.au-c-toolbar__group {
  align-items: center;
}

.au-c-toolbar__group--small {
  @include au-font-size($au-base);

  > * + * {
    margin-left: $au-unit-small;
  }
}

.au-c-toolbar__group {
  .link--edit,
  .input-field--block  {
    width: auto;
    margin: 0;
    display: block;
    padding-top: $au-unit-tiny;
    padding-bottom: $au-unit-tiny;
    max-height: $au-unit-large;
  }

  .link--edit,
  .link--edit:hover {
    &::after {
      top: auto;
      bottom: auto;
    }
  }

  .input-field--block {
    width: $au-unit-huge*7;
  }

  .u-spacer--top--tinier {
    margin: 0 !important;
  }
}
