/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

/* side nav problem remove once webuniversum updated*/

.side-navigation__item a {
  word-break: initial;
}

/* step styling override remove once webuniversum updated*/

.step__header > .grid {
  width: 100%;
}

.step__content p + p {
  margin-top: 0;
}

/* spans in link lists replacing data */

li.link-list__item > span {
  display: block;
  padding: 1rem 1.5rem;
}

li.link-list__item > button.button {
  padding: 1rem 1.5rem;
  background-color: transparent;
  color: $primary-blue;
  border: none;
  height: auto;
  display: block;
  width: 100%;
  text-align: left;
  white-space: initial;
  line-height: 1.4;

  &:hover {
    background-color: $blue-gray-lightest;
  }

  &.button--disabled {
    color: $gray;
    pointer-events: none;
  }
}

/* ember data table red color override */

.data-table-menu {
  color: $gray-dark;
}

.badge--xs {
  width: 2rem;
  height: 2rem;
  line-height: 0.9;
  padding: 0.25rem 0.4rem;
  text-align: center;
  position: relative;
  top: 0.6rem;

  .vi {
    font-size: 0.9rem;
  }
}

.pill {
  .badge--xs {
    position: relative;
    top: 0.3rem;
    margin-right: 0.5rem;
    line-height: 1.1;
    width: 1.6rem;
    height: 1.6rem;
    padding: 0 0.35rem;
  }
}

/** Collapsable document structure */
.editor-container {
  background-color: $blue-gray-lightest;

  .grid {

    .sidebar-wrapper {
      position: relative;
      transition: 0.5s;
      left: 0;

      &.col--3-12.col--collapsed {
        left: calc(-25% + 50px);
      }

      .sidebar {
        background-color: white;

        .sidebar__header i {
          cursor: pointer;
        }
      }
    }
  }
}

/* temporary fix for besluittypes dropdown */

.ember-basic-dropdown-content.ember-power-select-dropdown.ember-basic-dropdown-content--below {
  z-index: 9999;
}

/* temporary demo fixes for fracties */

input.input-field {
  padding-right: 0;
}

.data-table th .button {
  font-weight: normal;
}

.modal-dialog.modal-dialog--sectioned .modal-dialog__content {
  max-height: 75vh;
}

.data-table--white tr {
  background-color: white !important;
}

.data-table--bordered {
  border-left: 1px solid $gray-lighter;
  border-right: 1px solid $gray-lighter;
}


// Temporary focus overrides for focus area's
// @TODO: discuss where to put this or how to fix this focus style.
#main:focus,
#content:focus {
  outline: 0;
}

/* temporary styling for import-export demo */

.preview-list__image {
  width: 16rem;
  height: 20rem;
  display: block;
  box-shadow: 0 0 6px 0 #CBD2DA;
  overflow: hidden;
  margin-bottom: 1rem;
}

.preview-list__name {
  line-height: 1;
  margin-bottom: 2rem;
}

.description-data__value--placeholder {
  font-style: italic;
  // color: $gray;
  font-weight: 300;
  font-size: 1.4rem;
}

// Fix ACMIDM login alerts/loading in header
// @TODO: rework ACMIDM components to work with appuniversum classes
.au-c-main-header__actions .alert {
  position: absolute;
  right: $au-unit-small;
  max-width: 480px;
  top: $au-unit-large + $au-unit-tiny;
}

// Position ACMIDM login loader
.au-c-main-header__actions .u-padding--round--small {
  position: absolute;
  right: 0;
  max-width: 480px;
  top: $au-unit-large - $au-unit-tiny/2;
  padding: 0;
  background-color: $au-white;

  .loader-wrapper {
    padding: 0;
  }
}

.au-c-dropdown__menu [role="menuitem"] {
  padding-top: $au-unit-tiny;
  padding-bottom: $au-unit-tiny;
}

// Toolbar alignment fix
// @TODO: port to ember-appuniversum component
.au-c-toolbar__group {
  align-items: center !important; // Fix toolbar alignment
}

// Right aligned toolbar group
// @TODO: port to ember-appuniversum component
.au-c-toolbar__group--search {
  flex-grow: 1;
  justify-content: flex-end;

  > * + * {
    margin-left: $au-unit-small;
  }
}

.au-c-toolbar__group--actions {
  > * + * {
    margin-left: $au-unit-small;
  }
}

.au-c-toolbar__group--column {
  flex-direction: column;
  align-items: flex-start !important;

  > * + * {
    margin-left: 0;
    margin-top: $au-unit-tiny;
  }
}

// Fix visited state on links acting as buttons
// @TODO: port to ember-appuniversum component or convert link to button
.au-c-button-link {
  @include au-font-size($au-button-font-size, $au-button-height - $au-button-border * 2);
  cursor: default;
  font-family: $au-font;
  font-weight: $au-regular;
  height: $au-button-height;
  text-decoration: none;
  text-align: center;
  appearance: none;
  display: inline-flex;
  align-items: center;
  padding: 0 $au-unit-small .1rem; // Visually center the text in the button
  border-radius: $au-button-radius;
  border: $au-button-border solid $au-button-contrast-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color $au-transition, background-color $au-transition, border-color $au-transition, box-shadow $au-transition;

  &,
  &:visited {
    color: $au-button-color;
    background-color: $au-button-contrast-color;
    box-shadow: inset 0px 0px 0px $au-button-border transparent;
  }

  &:hover,
  &:focus {
    color: $au-button-color;
    background-color: $au-button-contrast-hover-color;
    text-decoration: none;
  }

  &:focus {
    outline: $au-outline;
  }

  &:active {
    background-color: $au-button-contrast-active-color;
  }
}

// Ember a11y refocus
#ember-a11y-refocus-nav-message {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


// Data table quick fix
// @TODO port to appuniversum
.au-c-data-table__header th {
  border-radius: 0;
}

// Lists
.au-c-list-divider {
  font-style: italic;

  a,
  h2 {
    font-style: normal;
  }

  strong {
    font-style: normal;
    font-weight: 500;
    border-bottom: .2rem dotted $au-gray-300;
  }

  .au-c-list-divider {
    padding-left: $au-unit - $au-unit-tiny*1.5;
    border-left: .3rem solid $au-gray-300;
    margin-top: $au-unit-tiny*1.5;
  }

  .au-c-list-numbered {
    border-left: .3rem solid $au-gray-300;
    margin-top: $au-unit-small;
  }

  .au-c-list-divider .au-c-list-divider__item,
  .au-c-list-numbered .au-c-list-numbered__item {
    padding-left: 0;
  }

  .au-c-list-divider .au-c-list-divider__item:last-child,
  .au-c-list-numbered .au-c-list-numbered__item:last-child {
    padding-bottom: 0;
  }

  .au-c-list-divider .au-c-list-divider__item:first-child,
  .au-c-list-numbered .au-c-list-numbered__item:first-child {
    padding-top: 0;
  }
}

.au-c-list-divider__item {
  padding: $au-unit-tiny*1.5;
  position: relative;

  & + & {
    border-top: .1rem dotted $au-gray-300;
  }

  &.has-error {
    padding-left: $au-unit + $au-unit-tiny;
  }

  &.has-error:before {
    content: "!";
    font-size: $au-label-error-badge-font-size;
    font-style: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $au-white;
    position: absolute;
    top: 50%;
    left: $au-unit-tiny/2;
    transform: translateY(-50%);
    background-color: $au-label-error-badge-color;
    width: $au-unit-small * 1.5;
    height: $au-unit-small * 1.5 - .05rem;
    border-radius: $au-unit-small * 1.5;
    margin-right: $au-unit-tiny;
  }
}

.au-c-list-numbered {
  list-style: decimal;
  padding-left: $au-unit;
  font-style: normal;
}

.au-c-list-numbered__item {
  padding: $au-unit-tiny*1.5;
  position: relative;

  & + & {
    border-top: .1rem dotted $au-gray-300;
  }

  &.has-error {
    padding-left: $au-unit + $au-unit-tiny;
  }

  &.has-error:before {
    content: "!";
    font-size: $au-label-error-badge-font-size;
    font-style: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $au-white;
    position: absolute;
    top: 50%;
    left: $au-unit-tiny/2;
    transform: translateY(-50%);
    background-color: $au-label-error-badge-color;
    width: $au-unit-small * 1.5;
    height: $au-unit-small * 1.5 - .05rem;
    border-radius: $au-unit-small * 1.5;
    margin-right: $au-unit-tiny;
  }
}




.au-c-datepicker {
  input,
  .datepicker {
    display: block;
    width: 100%;
  }
}

// Flow object @TODO: remove after appuniversum update
.au-o-flow {
  > * {
    margin-bottom: 0;
  }

  > * + * {
    margin-top: $au-unit;
  }
}

.au-o-flow--tiny {
  > * + * {
    margin-top: $au-unit-tiny;
  }
}

.au-o-flow--small {
  > * + * {
    margin-top: $au-unit-small;
  }
}

.au-o-flow--large {
  > * + * {
    margin-top: $au-unit-large;
  }
}

.au-o-flow--huge {
  > * + * {
    margin-top: $au-unit-huge;
  }
}

.au-hr-dotted {
  border: 0;
  border-top: .1rem dotted $au-gray-200;
}

// Temp styles for archive
.editor__paper--full {
  width: calc(100% - #{$au-unit-large});
  max-width: calc(100% - #{$au-unit-large});
}

// Modal quick fixes
.au-c-modal__footer {
  position: relative;
  z-index: 99;
}

// Say modal tweaks
.say-modal-backdrop,
.au-c-modal-backdrop {
  z-index: 9998;
}

.modal-overlay,
.au-c-modal {
  z-index: 9999;
}

.pika-single {
  z-index: 9999;
}

// Fix dropdown above
.ember-basic-dropdown-content--above .ember-power-select-dropdown.ember-basic-dropdown-content--below, .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  border-bottom: 0;
  border-top: .1rem solid $au-gray-300;
}

// Align table cell right
.au-u-table-right {
  text-align: right;

  .au-c-button {
    display: flex;
    margin-left: auto;
  }

  .au-c-button-group {
    display: flex;
    justify-content: flex-end;
  }

  .au-c-button-group .au-c-button {
    margin-left: $au-unit-tiny;
  }
}

.au-c-modal--no-padding .au-c-modal__body {
  padding: 0;
}

// Replace container class
.au-c-app-container {
  display: flex;
  height: 100vh;
  flex-direction: column;


  @include mq(medium) {
    overflow: hidden;
  }
}

.au-u-capitalize {
  text-transform: capitalize;
}

// Override card > port to appuniversum cards
.au-c-card--flex.au-c-card--expandable.au-c-card--publish {
  padding: 0 !important;

  > .au-c-card__header--clickable {
    align-items: center;
    padding: $au-unit-small;
    margin-bottom: 0;
  }

  .au-c-card__header .au-c-toolbar--nowrap {
    align-items: center;
  }

  .au-c-pill {
    white-space: nowrap;
  }

  // Dirty fix for long buttons
  .au-c-button {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    .au-c-icon {
      bottom: -.1ex;
    }
  }

  > .au-c-card__content {
    padding: $au-unit-small;
  }

  .au-c-card__toggle {
    margin-left: $au-unit-small;
  }
}

.au-c-modal--publish {
  > .au-c-modal__body {
    padding: 0;
  }
}

// Checkbox font size fix
.au-c-control {
  @include au-font-size($au-h6);
}

// Quick fix for standalone tables
.au-c-table-border {
  border: .1rem solid $au-gray-300;
}

// Quick fix for button group
.au-c-button-group-fix {
  display: flex;

  .au-c-button {
    display: inline-flex;
  }
}
