/* ==========================================================================
  modals
  Style the modals here.
 ========================================================================== */

.editor__actionbar {
	background-color: $white;
	border-left: $blue-gray-lighter;
}

/* temporary fix for multiple plugins triggered at once */

	.annotation-suggestion__suggestion .modal-dialog {
		max-height: 70vh;
		overflow-y: auto;
		display: block;
		// position: fixed;
	}

	.annotation-suggestion__suggestion .modal-dialog li .modal-dialog--temporary-fix {
		box-shadow: none;

		.modal-dialog__header {
			display: none;
		}

		.modal-dialog__link-list {
			font-size: 1.4rem;
			padding: 1rem;
			border-bottom: 1px solid $blue-gray-light;

			.button {
				font-size: 1.4rem;
				font-weight: 500;
			}
		}
	}

	.annotation-suggestion__suggestion .modal-dialog li:first-child .modal-dialog--temporary-fix {

		.modal-dialog__header {
			display: block;
			font-weight: 500;
			border-bottom: 1px solid $blue-gray;
		}
	}

	.annotation-suggestion__suggestion .modal-dialog + .modal-dialog:not(.modal-dialog--temporary-fix) {
	  right: 15rem !important;
	  top: 22rem !important;
	}

	.annotation-suggestion__suggestion .modal-dialog .modal-dialog:not(.modal-dialog--temporary-fix) {
	    padding: 0;
	    left: auto;
	    top: 25rem;
	    right: -15rem;
	}

	.annotation-suggestion__suggestion .modal-dialog li + li .modal-dialog:not(.modal-dialog--temporary-fix) {
	    padding: 0;
	    left: auto;
	    right: 25rem;
	}

	.annotation-suggestion__suggestion .modal-dialog li + li + li .modal-dialog:not(.modal-dialog--temporary-fix) {
	    padding: 0;
	    left: auto;
	    top: 55rem;
	    right: -15rem;
	}

	.annotation-suggestion__suggestion .modal-dialog li + li + li + li .modal-dialog:not(.modal-dialog--temporary-fix) {
	    padding: 0;
	    left: auto;
	    top: 55rem;
	    right: 25rem;
	}

	.annotation-suggestion__suggestion .modal-dialog li + li + li + li + li .modal-dialog:not(.modal-dialog--temporary-fix) {
	    padding: 0;
	    left: auto;
	    top: 55rem;
	    right: 25rem;
	}

/* ==========================================================================
    Temporary modal fix
========================================================================== */

/* restyling annotation positions and styling for demo */

.modal-dialog--hint {
  position: fixed !important;
  top: 15rem !important;
  right: 5rem !important;
  left: auto !important;
  max-height: 50vh;
}

.text-highlight {
	color: $primary-blue;
	border: 1px solid $blue-gray-light;
	border-radius: 3px;
	background-color: $blue-gray-lightest;
	margin: 0.5rem 0;
	padding: 0.5rem;
	display: block;
}

.modal-dialog__content li.link-list__item.link-list__item--sidenotes a {
	padding: 1rem 3rem 2rem 0;
	position: relative;

	&:hover:after {
		border: 1px solid mix($primary-blue, $blue-gray-light);
		color: $primary-blue;
		// background-color: $white;
		transition: all 200ms;
		background-color: $blue-gray-lightest;
	}

	&:after {
		content: "\f067";
		font-family: fontawesome;
		position: absolute;
		right: 0;
		top: 1rem;
		color: $gray;
		font-size: 1.3rem;
		width: 2rem;
		padding-top: 0.4rem;
		height: 2.1rem;
		text-align: center;
		border-radius: 3px;
		border: 1px solid $blue-gray-light;
		background-color: $blue-gray-lighter;
	}
}

.modal-dialog__content li.link-list__item.link-list__item--sidenotes a:first-child {
	border-bottom: none;
	padding-bottom: 0.3rem;
}

.modal-dialog__content li.link-list__item .link-list__item__sidenote {
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0.5rem;
	color: $gray;
	font-size: 80%;
	line-height: 1.3;
	display: block;
	word-break: break-all;
	border-bottom: $blue-gray-light;
	font-size: 1.3rem;

	&:hover {
		background-color: transparent;
		color: $black;
	}
}

.modal-dialog__content li.link-list__item {
	&:first-child {
		border-top: 1px solid $blue-gray-lighter;
	}

	&:last-child {
		border-bottom: 0;
	}

	a {
		position: relative;
		padding: 1.5rem 0;

		&:hover:after {
			border: 1px solid mix($primary-blue, $blue-gray-light);
			color: $primary-blue;
			// background-color: $white;
			transition: all 200ms;
			background-color: $blue-gray-lightest;
		}

		&:after {
			content: "\f067";
			font-family: fontawesome;
			position: absolute;
			right: 0;
			top: 1rem;
			color: $gray;
			font-size: 1.3rem;
			width: 2rem;
			padding-top: 0.4rem;
			height: 2.1rem;
			text-align: center;
			border-radius: 3px;
			border: 1px solid $blue-gray-light;
			background-color: $blue-gray-lighter;
		}
	}
}

.modal-dialog__content li.link-list__item span.link-list__item__sidenote {
	cursor: default;
	pointer-events: none;
}

.modal-dialog__content > .data-table {
	margin-bottom: 22rem;
}

.modal-dialog.modal-dialog--snippet {
	padding: 2rem;
	right: -7rem;
	max-width: 40rem;
	position: absolute;
	top: 40rem;
	left: auto;
}

.editor-loading-events--snippets .editor-loading-events__snippets {
	position: absolute;
	bottom: 5rem;
}
