
/* Removing annotations
 ========================================================================== */

.rdfa-editor [typeof="besluit:Zitting"] {
	[data-flagged-remove="almost-complete"],
	[data-flagged-remove="complete"] {
	  cursor: text;
	  background-color: rgba($primary-blue, 0.25);
	  box-shadow: -2px 0 0 $primary-blue;

	  &:after {
	  	content: "\000A0";
	  }
	}

	[data-flagged-remove="complete"],
	[data-flagged-remove="complete"]:empty {
		min-height: 1em;
		min-width: 10em;
		width: auto;

		position: relative !important;
		display: inline-block;

		border: 0;
	  box-shadow: -2px 0 0 black, 0 0.3rem 0 rgba($primary-blue, 0.25);
		font-size: inherit;
		transition: background-color 200ms;
		line-height: inherit;

		&:hover {
			background-color: rgba($primary-blue, 0.15) !important;
		}

		&:before,
		&:after {
			color: mix($gray, $primary-blue, 70%);
			transition: none;
		}

		&:hover:before,
		&:hover:after {
			color: mix($gray-lightest, $primary-blue);
		}

		&:after {
			position: absolute;
			content: "Vul in";
			font-weight: 400;
			width: 3em;
			opacity: 1;
			letter-spacing: inherit;
			font-family: "flanders-sans", sans-serif;
		}

		&:before,
		&:hover:before,
		&:after {
			left: 0 !important;
			top: 0 !important;
			font-size: inherit;
			line-height: inherit;
		}

		&:before,
		&:hover:before {
			padding: 0 0 0 3em !important;
			width: auto !important;
			margin: 0 !important;

			right: auto;
			opacity: 1;
			background-color: transparent;
			border: 0;
			box-shadow: none;
			max-width: none;
		}
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&[data-flagged-remove="complete"],
		&[data-flagged-remove="complete"]:empty {
			display: block;
			min-height: 1.2em;
		}
	}

	li[data-flagged-remove="complete"] {
		display: list-item;
		min-height: 1.2em;
	}
}
