/* ==========================================================================
  Annotations styles on show and click
 ========================================================================== */

.rdfa-annotations {
	&.show-rdfa-blocks .mark-highlight-manual,
	&.show-rdfa-blocks [data-editor-highlight="true"],
	&.show-rdfa-blocks [data-type],
	&.show-rdfa-blocks [property],
	&.show-rdfa-blocks [typeof],
	[data-editor-position-level="0"][property],
	[data-editor-position-level="1"][property],
	[data-editor-position-level="2"][property],
	[data-editor-position-level="3"][property],
	[data-editor-position-level="4"][property],
	[data-editor-position-level="0"][typeof],
	[data-editor-position-level="1"][typeof],
	[data-editor-position-level="2"][typeof],
	[data-editor-position-level="3"][typeof],
	[data-editor-position-level="4"][typeof],
	[data-editor-position-level="0"][data-type],
	[data-editor-position-level="1"][data-type],
	[data-editor-position-level="2"][data-type],
	[data-editor-position-level="3"][data-type],
	[data-editor-position-level="4"][data-type],
	[data-editor-position-level="0"][data-editor-highlight="true"],
	[data-editor-position-level="1"][data-editor-highlight="true"],
	[data-editor-position-level="2"][data-editor-highlight="true"],
	[data-editor-position-level="3"][data-editor-highlight="true"],
	[data-editor-position-level="4"][data-editor-highlight="true"],
	[data-editor-position-level="0"].mark-highlight-manual,
	[data-editor-position-level="1"].mark-highlight-manual,
	[data-editor-position-level="2"].mark-highlight-manual,
	[data-editor-position-level="3"].mark-highlight-manual,
	[data-editor-position-level="4"].mark-highlight-manual,
	[data-editor-position-level="1"] > [property],
	[data-editor-position-level="1"] > [typeof]
	{
  	padding: 4.5rem 1rem 0 1rem;
		margin: 1rem 0 0.5rem 0;
		min-width: 18rem;
		position: relative;
		border-bottom: 0;
		display: inline-block;

		&:hover {
    	background-color: transparent;
		}

    &:hover:before,
    &:before,
		&:hover:after,
    &:after {
    	left: -1px !important;
    	top: -1px !important;
    	right: -1px !important;
    	max-width: none;
    	width: 100%;
    	border: 1px solid $blue-gray;
    }

		&:hover:after,
    &:after {
    	content: "";
    	display: block;
    	bottom: 0 !important;
    	height: auto;
    	position: absolute;
    	pointer-events: none;
    	margin-top: 0 !important;
    	border-top: 0;
    }

    &:hover:before,
    &:before {
			opacity: 1 !important;
  		padding: 0.5rem 1rem;
  		background-color: $blue-gray-lightest;
    	margin: 0 !important;
    	border-bottom: 0;
    }
	}
}

/* make zitting not stand out, as it would constantly be visible */

.rdfa-annotations	[typeof="besluit:Zitting"] {
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	background-color: transparent !important;

	&:hover:after,
	&:hover:before,
	&:before,
	&:after {
		content: normal !important;
	}
}

/* make sure icons looks normal when showing the rdfa annotations */

.rdfa-annotations {
	[typeof="besluit:Agendapunt"] [property="besluit:geplandOpenbaar"] i.fa,
	[typeof="besluit:BehandelingVanAgendapunt"] [property="besluit:openbaar"] i.fa {
		position: relative;
		left: auto;
		top: auto;
		font-style: normal;
	}
}

/* only extra metadata on when hovering over fields, when "show annotations" has been switched on */

.rdfa-annotations.show-rdfa-blocks {
	[data-type],
	[property],
	[typeof]:not([typeof="besluit:Zitting"]) {

		&:hover {
			background-color: rgba($white, 0.4) !important;
			transition: box-shadow 200ms;
			position: relative;
		}

		&:after {
			transition: top 200ms;
		}

		&:hover:before {
			padding-top: 3.5em;
			top: -3.5em !important;
		}

		&:hover:after {
			content: attr(property) " " attr(typeof) " " attr(data-type);
			top: -3.5em !important;
			display: block;
			padding-top: 3.5em;
			color: $blue-gray-dark;
			letter-spacing: 0.2px;
			font-size: 1.3rem;
			font-weight: 400;
			font-family: "flanders-sans";
			padding: 0.3rem 0 0 1rem;
			text-transform: none;
			z-index: 901;
		}
	}
}

/* hide superfluous elements */

[property="besluit:gebeurtNa"],
[property="besluit:aangebrachtNa"],
[property="eli:language"], // these three are metadata relevant to the document

[typeof="ext:TasklistData"],
[class="ext_scroll_to"],
[property="ext:variableState"],
[property="ext:idInSnippet"],
[property="ext:intentionUri"],
[typeof="ext:Variable"],
	[property="ext:metadata"] { // these are elements to help us work with the document
	display: none !important;
}

