/* ==================================
   #APPUNIVERSUM
   ================================== */

/**
 * A design universe for Flanders GOV applications
 */

/**
 * CONTENTS
 * ---
 * SETTINGS: Project settings and variables
 * TOOLS: Mixins
 * GENERIC: Reset, global box-sizing and font-styles
 * ELEMENTS: Plain html tag styling
 * OBJECTS: OOCSS unstyled objects (namespace: '.au-o-...')
 * COMPONENTS: Components (namespace: '.au-c-...')
 * UTILITIES: Single function helper classes (namespace: '.au-u-...')
 * SHAME: Temporary hacks and quickfixes
 */

// WU VARIABLES (DEPRECATED)
@import 'deprecated/colors';


// VARIABLES
@import "appuniversum/s-colors.scss";
@import "appuniversum/s-global";
@import "appuniversum/s-utilities";


// PROJECT SPECIFIC VARIABLES
@import "project/s-global";


// MIXINS
@import "appuniversum/t-font-size";
@import "appuniversum/t-sass-mq";


// GENERIC
@import "appuniversum/g-reset";
@import "appuniversum/g-box-sizing";
// @import "appuniversum/g-font"; // (BREAKING CHANGE | CONFLICT IN FONT WEIGHTS)


// ELEMENTS
@import "appuniversum/e-page";


// OBJECTS
@import "appuniversum/o-box";
@import "appuniversum/o-grid";
@import "appuniversum/o-layout";
@import "appuniversum/o-region";


// WU COMPONENTS (DEPRECATED)
@import 'ember-vo-webuniversum-data-table';
@import 'ember-vo-webuniversum';
@import 'ember-rdfa-editor-template-variables-manager-plugin';
@import 'ember-vo-tasklist';
@import 'ember-rdfa-editor-document-tasklist-plugin';
@import 'ember-rdfa-editor-scroll-to-plugin';
@import 'ember-power-select';


// COMPONENTS (DEPRECATED)
@import 'deprecated/published-documents';
@import 'deprecated/sign-publish-flow';
@import 'deprecated/scrollto';
@import 'deprecated/loading-events';
@import 'deprecated/tasklist';
@import 'deprecated/wizard';


// PROJECT COMPONENTS
@import 'project/c-editor-chrome';


// COMPONENTS
@import "ember-appuniversum/c-brand";
@import "ember-appuniversum/c-button";
@import "ember-appuniversum/c-button-link";
@import "ember-appuniversum/c-link";
@import "ember-appuniversum/c-icon";
@import "ember-appuniversum/c-list-horizontal";
@import "ember-appuniversum/c-list-navigation";
@import "ember-appuniversum/c-popover";
@import "ember-appuniversum/c-header";
@import "ember-appuniversum/c-sidebar";


// PLUGINS
@import "say/p-editor";
@import "say/p-toolbar";
@import "say/p-rdfa";
@import "say/p-typography";
@import "say/p-annotations";
@import "say/p-annotations-hover";
@import "say/p-annotations-modal";
@import "say/p-annotations-flag-remove";
@import "say/p-annotations-content-nl";
@import "say/p-annotations-content-en";


// UTILITIES (DEPRECATED)
@import 'deprecated/print';


// UTILITIES
@import "appuniversum/u-headings";
@import "appuniversum/u-font-weights";
@import "appuniversum/u-font-family";
@import "appuniversum/u-widths";
@import "appuniversum/u-spacings";
@import "appuniversum/u-responsive-spacings";
@import "appuniversum/u-hide";
@import "appuniversum/u-print";


// TEMPORARY HACKS AND QUICKFIXES
@import 'shame';
