@import 'ember-vo-webuniversum-data-table';
@import 'ember-vo-webuniversum';
@import 'ember-rdfa-editor-template-variables-manager-plugin';
@import 'ember-vo-tasklist';
@import 'ember-rdfa-editor-document-tasklist-plugin';
@import 'ember-rdfa-editor-scroll-to-plugin';
@import 'ember-power-select';
@import 'ember-rdfa-editor-bijzonder-comite-aanstelling-plugin';

@import 'colors';
@import 'shame';

@import 'hover-annotations-style';
@import 'hover-annotations-content';
@import 'show-annotations-style';
@import 'show-annotations-content';

@import 'published-documents';
@import 'scrollto';

@import 'annotation-suggestion-modals';
@import 'editor';
@import 'loading-events';
@import 'tasklist';
@import 'toolbar';
@import 'wizard';

@import 'print';


.steps .agendapunten {
	[typeof="besluit:Agendapunt"] {
		display: block;
		margin-bottom: 1rem;
	}

	[property="besluit:geplandBesloten"],
	[property="besluit:geplandOpenbaar"] {
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $gray-light;
		font-weight: 400;
		width: 2rem;

		+ span {
			display: inline-block;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $gray-light;
			font-weight: 400;
			font-size: 1.2rem;
		}
	}

	[property="besluit:geplandOpenbaar"] + span {
		&:before {
			content: "Openbaar agendapunt — ";
		}
	}

	[property="besluit:geplandBesloten"] + span {
		&:before {
			content: "Besloten agendapunt — ";
		}
	}

	[property="dc:title"] {
		display: block;
		margin-left: 2.3rem;
		font-size: 1.8rem;
	}
}

.step-info {
	color: $gray;
	padding: 1.5rem 0 2rem 8rem;
	font-size: 1.6rem;
	position: relative;

	&:before {
		display: block;
    content: '';
    position: absolute;
    left: 2.5rem;
    top: .4rem;
    bottom: .4rem;
    width: 3px;
    background-size: 6px 6px;
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, $blue-gray-lighter));
	  background-image: -webkit-linear-gradient(transparent 50%, $blue-gray-lighter 50%);
	  background-image: linear-gradient(transparent 50%, $blue-gray-lighter 50%);
	}
}

.u-hr--lighter {
	border-color: $blue-gray-lighter;
}

/* shame */

.side-navigation__item a {
	word-break: initial;
}
