/* ==================================
   #APPUNIVERSUM
   ================================== */

/**
 * A design universe for Flanders GOV applications
 */

/**
 * CONTENTS
 * ---
 * SETTINGS: Project settings and variables
 * TOOLS: Mixins
 * GENERIC: Reset, global box-sizing and font-styles
 * ELEMENTS: Plain html tag styling
 * OBJECTS: OOCSS unstyled objects (namespace: '.au-o-...')
 * COMPONENTS: Components (namespace: '.au-c-...')
 * UTILITIES: Single function helper classes (namespace: '.au-u-...')
 * SHAME: Temporary hacks and quickfixes
 */

// WU VARIABLES (DEPRECATED)
@import 'deprecated/colors';


// VARIABLES
@import "appuniversum/s-colors.scss";
@import "appuniversum/s-global";
@import "appuniversum/s-utilities";


// PROJECT SPECIFIC VARIABLES
@import "project/s-global";
@import "project/s-say-theme";


// MIXINS
@import "appuniversum/t-font-size";
@import "appuniversum/t-sass-mq";


// GENERIC
@import "appuniversum/g-reset";
@import "appuniversum/g-box-sizing";
@import "appuniversum/g-font";


// ELEMENTS
@import "appuniversum/e-page";


// OBJECTS
@import "appuniversum/o-box";
@import "appuniversum/o-grid";
@import "appuniversum/o-layout";
@import "appuniversum/o-region";


// WU COMPONENTS (DEPRECATED)
@import 'ember-vo-webuniversum-data-table';
@import 'ember-vo-webuniversum';
@import 'ember-rdfa-editor-template-variables-manager-plugin';
@import 'ember-vo-tasklist';
@import 'ember-rdfa-editor-document-tasklist-plugin';
@import 'ember-rdfa-editor-scroll-to-plugin';
@import 'ember-power-select';


// COMPONENTS (DEPRECATED)
@import 'deprecated/published-documents';
@import 'deprecated/sign-publish-flow';
@import 'deprecated/scrollto';
@import 'deprecated/loading-events';
@import 'deprecated/tasklist';
@import 'deprecated/wizard';


// PROJECT COMPONENTS
@import 'project/c-app-chrome';
@import 'project/c-meeting-chrome';
@import 'project/c-rdfa-editor';


// COMPONENTS
@import "ember-appuniversum/c-alert";
@import "ember-appuniversum/c-badge";
@import "ember-appuniversum/c-body-container";
@import "ember-appuniversum/c-brand";
@import "ember-appuniversum/c-button";
@import "ember-appuniversum/c-button-group";
@import "ember-appuniversum/c-card";
@import "ember-appuniversum/c-content";
@import "ember-appuniversum/c-content-header";
@import "ember-appuniversum/c-control";
@import "ember-appuniversum/c-data-table";
@import "ember-appuniversum/c-dropdown";
@import "ember-appuniversum/c-form";
@import "ember-appuniversum/c-heading";
@import "ember-appuniversum/c-help-text";
@import "ember-appuniversum/c-hr";
@import "ember-appuniversum/c-icon";
@import "ember-appuniversum/c-input";
@import "ember-appuniversum/c-label";
@import "ember-appuniversum/c-link";
@import "ember-appuniversum/c-list-horizontal";
@import "ember-appuniversum/c-list-navigation";
@import "ember-appuniversum/c-loader";
@import "ember-appuniversum/c-pagination";
@import "ember-appuniversum/c-pill";
@import "ember-appuniversum/c-main-container";
@import "ember-appuniversum/c-main-header";
@import "ember-appuniversum/c-main-footer";
@import "ember-appuniversum/c-modal";
@import "ember-appuniversum/c-sidebar";
@import "ember-appuniversum/c-sidebar-action";
@import "ember-appuniversum/c-textarea";
@import "ember-appuniversum/c-toolbar";



// PLUGINS
@import "ember-rdfa-editor";
@import "project/p-annotations";
@import "project/p-annotations-content-nl";
@import "project/p-annotations-content-en";


// UTILITIES (DEPRECATED)
@import 'deprecated/print';


// UTILITIES
@import "appuniversum/u-align-text";
@import "appuniversum/u-headings";
@import "appuniversum/u-hide";
@import "appuniversum/u-font-family";
@import "appuniversum/u-font-weights";
@import "appuniversum/u-print";
@import "appuniversum/u-responsive-spacings";
@import "appuniversum/u-spacings";
@import "appuniversum/u-visible";
@import "appuniversum/u-widths";


// TEMPORARY HACKS AND QUICKFIXES
@import 'shame';
