/* ==================================
   #GELINKT NOTULEREN
   ================================== */

/**
 * A design system for Flanders GOV applications
 */

/**
 * CONTENTS
 * ---
 * EMBER-APPUNIVERSUM: The component library
 * PROJECT: Project specific styles
 * PLUGINS: RDFA editor custom styles
 * UTILITIES: Project utility styles
 * SHAME: Temporary hacks and quickfixes
 */


// EMBER-APPUNIVERSUM
@import "ember-appuniversum";


// PROJECT COMPONENTS > @TODO: refactor in ember-appuniversum where possible
@import 'project/c-app-chrome';
@import 'project/c-meeting-chrome';
@import 'project/c-rdfa-editor';
@import "project/c-onboarding";
@import 'project/c-editor-preview';
@import "project/c-template";
@import "project/c-environment-banner";

// ADMIN UNIT - Styling specific to administrative units
@import "project/admin-unit/essen";
//@import "project/admin-unit/gent";

// PLUGINS
@import "ember-rdfa-editor";
@import "citaten-plugin";
@import "date-plugin";
@import "variable-plugin";
@import "besluit-plugin";
@import "project/p-annotations"; // @TODO: refactor in ember-rdfa-editor


// PROJECT UTILITIES
@import 'project/u-print'; // @TODO: refactor in ember-appuniversum where possible


// TEMPORARY HACKS AND QUICKFIXES
@import 'deprecated';
@import 'shame';
