/* ==========================================================================
  Editor
  Style the editor here.
 ========================================================================== */

.editor-chrome {
  padding: 1rem 1.5rem 1rem;
  border-bottom: 1px solid $blue-gray-light;
}

.editor {
    background-color: $blue-gray-lightest;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 1rem;
}

    .editor__paper {
        background-color: $white;
        margin: 2rem 0 5rem 2rem;
        padding: 5rem 6.5rem 5rem 5rem;
        width: 650px;
        max-width: 90%;
        min-height: 950px;
        box-shadow: 0 2px 6px 0 $blue-gray-light;

        &:focus {
            outline: none;
        }
    }

    .editor__annotations {
        padding-top: 7rem;
    }

    .editor {
        .h1 {
            margin-bottom: 3rem;
        }

        .h4 {
            margin-bottom: 1rem;
        }

        p, li {
            font-size: 1.6rem;
        }
    }

    .editor__paper.js-scrollspy__content {
        border-radius: 0;
    }

    .editor__paper--blankstate {
        position: relative;
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        margin-right: 1.5rem;

        > * {
            position: relative;
            z-index: 2;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            border: 1px dashed $blue-gray-light;
            background-color: $blue-gray-lightest;
            top: -1.5rem;
            right: 0;
            bottom: -2rem;
            left: -2rem;
            z-index: 1;
        }
    }

.bijlagen__list li {
    margin-bottom: 4rem;
}

    .bijlage__bestand {
        border: 1px solid $blue-gray-light;
        padding: 0.8rem 1rem 0.5rem;
    }

    .bijlage__sleepveld {
        margin-top: 1rem;
        background-color: $blue-gray-lightest;
        border: 2px dashed $blue-gray-light;
        padding: 1em;
        text-align: center;

        a {
            display: block;
        }
    }

    .bijlage__size {
        color: $gray-light;
    }




/* ==========================================================================
  Annotations trigger
  Style the annotations trigger here.
 ========================================================================== */


/* plusje aan de zijkant */
.editor-commands {
    margin-top: 2rem;
    right: -11em;
    width: 9em;
    position: fixed;
}

button.button.annotation-suggestion--trigger {
    background-color: $white;
    color: $gray;
    border: 1px solid $blue-gray-light;
    width: 3rem;
    height: 3rem;
    padding: 0rem;
    line-height: 1;
    border-radius: 100%;
    text-align: center;
    right: 20rem;
    margin-top: -1rem;
    line-height: 0;
    font-size: 3rem;
    z-index: 5;
}

button.button.annotation-suggestion--trigger:after {
    content:"Voeg template in";
    display: block;
    position: absolute;
    font-size: 1.4rem;
    color: $gray-dark;
    right: -7.8em;
}


/* ==========================================================================
  Toolbar
  Style the toolbar here.
 ========================================================================== */

.toolbar__annotations-switch {
    position: fixed;
    margin-top: 5rem;
    right: 0;
    z-index: 5;
    display: block;
    width: 9em;
}

/* ==========================================================================
  Tasklist
  Style the tasklist here.
 ========================================================================== */

.tasklist {
    position: absolute;
    left: -45rem;
    top: 0;
    bottom: 0;
    background: $white;
    min-width: 20rem;
    display: block;
    z-index: 1;
    border-right: 1px solid $blue-gray-lighter;
    box-shadow: 0.5rem 0.5rem 1rem $blue-gray-lighter;
    display: flex;
    flex-direction: column;
    transition: all 200ms;

    a.button.button--link.button--link--dark {
        text-decoration: none;
    }

    i.vi-long-arrow + span,
    .vi-long-arrow {
        display: none;
    }
}

.tasklist--open {
    min-width: 20rem;
    width: 30%;
    left: 0;
    transition: all 200ms;
}

.tasklist--expanded {
    width: 100%;
    right: 0;
    z-index: 10;

    .vi-expand {
        display: none;
    }

    i.vi-long-arrow + span,
    .vi-long-arrow {
        display: inline-block;
    }


}

.tasklist__header {
    border-bottom: 1px solid #E8EBEE;
    padding: 0.5em 1em;
}

.tasklist__content {
    border-bottom: 1px solid #E8EBEE;
    padding: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1 1 auto;
}

.tasklist-navigation {
    padding: 2rem 0 1rem;

    > .tasklist-navigation__group {
        padding-left: 1rem;
    }
}

.tasklist-navigation__group {
    padding: 0 1rem 1rem 3rem;

    &.accordion__content {
        padding: 1rem 0 0 1.65rem;
    }
}
.tasklist-navigation__item {
    padding: 0 0 0.5rem 0;

    > .tasklist-navigation__group {
        margin-top: 1rem;
    }

    &.tasklist-navigation__item.js-accordion {
        border-bottom: 1px solid $blue-gray-light;
        padding-bottom: 2.5rem;
        margin-bottom: 2.5rem;
    }
}
