/* ==========================================================================
  Editor
  Style the editor here.
 ========================================================================== */

.editor-chrome {
  padding: 1rem 1.5rem 1rem;
  border-bottom: 1px solid $blue-gray-light;
}

.editor {
    background-color: $blue-gray-lightest;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 1rem;
}

    .editor__paper {
        background-color: $white;
        margin: 2rem 0 5rem 2rem;
        padding: 5rem 6.5rem 5rem 5rem;
        width: 600px;
        max-width: 90%;
        min-height: 950px;
        box-shadow: 0 2px 6px 0 $blue-gray-light;

        &:focus {
            outline: none;
        }
    }

    .editor__annotations {
        padding-top: 7rem;
    }

    .editor {
        .h1 {
            margin-bottom: 3rem;
        }

        .h4 {
            margin-bottom: 1rem;
        }

        p, li {
            font-size: 1.6rem;
        }

        ul,
        ol {
            &.bullet-list,
            &.numbered-list {
            margin: 1rem 0 3rem;

                ul,
                ol {
                    &.bullet-list,
                    &.numbered-list {
                        margin: 0.5rem 0 1.5rem;
                    }
                }
            }
        }
    }

    .editor__paper ul.bullet-list ul {
        margin-top: 0.5rem;
    }

    .editor__paper ul.bullet-list ul > li {
        margin-left: 2rem;
        list-style-type: circle;
    }

    .editor__paper.js-scrollspy__content {
        border-radius: 0;
    }

    .editor__paper--blankstate {
        position: relative;
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        margin-right: 1.5rem;

        > * {
            position: relative;
            z-index: 2;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            border: 1px dashed $blue-gray-light;
            background-color: $blue-gray-lightest;
            top: -1.5rem;
            right: 0;
            bottom: -2rem;
            left: -2rem;
            z-index: 1;
        }
    }

.bijlagen__list li {
    margin-bottom: 4rem;
}

    .bijlage__bestand {
        border: 1px solid $blue-gray-light;
        padding: 0.8rem 1rem 0.5rem;
    }

    .bijlage__sleepveld {
        margin-top: 1rem;
        background-color: $blue-gray-lightest;
        border: 2px dashed $blue-gray-light;
        padding: 1em;
        text-align: center;

        a {
            display: block;
        }
    }

    .bijlage__size {
        color: $gray-light;
    }




/* ==========================================================================
  Annotations trigger
  Style the annotations trigger here.
 ========================================================================== */


/* plusje aan de zijkant */
.editor-commands {
    margin-top: 2rem;
    right: -11em;
    width: 9em;
    position: fixed;
}

button.button.annotation-suggestion--trigger {
    background-color: $white;
    color: $gray;
    border: 1px solid $blue-gray-light;
    width: 3.3rem;
    height: 3.3rem;
    padding: 0.1rem;
    border-radius: 100%;
    text-align: center;
    right: 20rem;
    margin-top: -1rem;
    line-height: 0;
    font-size: 3rem;
    z-index: 5;
}

button.button.annotation-suggestion--trigger:after {
    content:"Voeg sjabloon in";
    display: block;
    position: absolute;
    font-size: 1.4rem;
    color: $gray-dark;
    right: -7.8em;
}
