
/* Editor guiding styles: CTA's and warnings
 ========================================================================== */

.editor__paper {

	/* discover what to type */

	span.mark-highlight-manual {
	  background-color: rgba($blue-gray, 0.3);
	  font-weight: 400;
	  position: relative;
	  display: inline-block;
	  vertical-align: top;

	  &:hover {
		  background-color: rgba($blue-gray, 0.2);
	  	transition: all 200ms;
	  }

		&:before {
			content: "Vul in";
		}

		&:hover:before {
			font-size: 1.2rem;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 1px;
			left: 0;
			right: auto;
			width: auto;
			background-color: $white;
			top: -0.5em;
			padding: 0.2rem 0.3rem 0.1rem;
			border: 1px solid $blue-gray-lighter !important;
			color: $gray-dark;
		}
	}

	/* click to input */

	[data-editor-highlight="true"] {
		background-color: rgba($primary-yellow, 0.9);

		&:hover {
			background-color: $primary-yellow;
		}

		&:before {
			content: "Klik om de juiste optie selecteren";
		}
	}

	[property="ext:agendapuntenTable"],
	[property="ext:aanwezigenTable"],
	.mark-highlight-manual,
	[data-editor-highlight="true"] {

    &:before {
      position: absolute;
      font-weight: 400;
      font-size: 1.5rem;
      width: 11rem;
      color: $gray;
      opacity: 0;
      border: 1px solid $blue-gray-lighter;
      background-color: $white;
      padding: 0.5rem 0.7rem 0.4rem 1.4rem;
      border-right: 0.5rem solid $blue-gray-light;
      box-shadow: 0.2rem 0.2rem 0.2rem rgba($blue-gray, 0.1);
      z-index: 901;
      font-family: "flanders-sans", sans-serif;
      transition: opacity 200ms;
      top: -999rem;
      left: -999rem;
    }

    &:hover:before {
      opacity: 1;
      top: auto;
      left: auto;
      right: -17.5rem;
      margin-top: -2.2rem;
    }
	}

	.mark-highlight-manual,
	[data-editor-highlight="true"] {

    &:hover {
      color: $black;
      background-color: rgba($blue-gray, 0.2);
    }
	}

	/* Make clear agenda and aanwezigen can be edited */

	[property="ext:agendapuntenTable"],
	[property="ext:aanwezigenTable"] {
		position: relative;
		cursor: pointer;
		transition: all 200ms;

		&:before {
			width: 20rem;
		}

		&:hover:before {
			top: -4rem;
			right: -26.5rem;
		}
	}

	[property="ext:agendapuntenTable"]:before {
		content: "Agendabeheer";
	}

	[property="ext:aanwezigenTable"]:before {
		content: "Aanwezigenbeheer";
	}
}

.rdfa-editor [typeof="besluit:Zitting"] {
	[data-flagged-remove="almost-complete"],
	[data-flagged-remove="complete"] {
	  cursor: text;
	  background-color: rgba($primary-blue, 0.25);
	  box-shadow: -2px 0 0 $primary-blue;

	  &:after {
	  	content: "\000A0";
	  }
	}

	[data-flagged-remove="complete"],
	[data-flagged-remove="complete"]:empty {
		min-height: 1em;
		min-width: 10em;
		width: auto;

		position: relative !important;
		display: inline-block;

		border: 0;
	  box-shadow: -2px 0 0 black, 0 0.3rem 0 rgba($primary-blue, 0.25);
		font-size: inherit;
		transition: background-color 200ms;
		line-height: inherit;

		&:hover {
			background-color: rgba($primary-blue, 0.15) !important;
		}

		&:before,
		&:after {
			color: mix($gray, $primary-blue, 70%);
			transition: none;
		}

		&:hover:before,
		&:hover:after {
			color: mix($gray-lightest, $primary-blue);
		}

		&:after {
			position: absolute;
			content: "Vul in";
			font-weight: 400;
			width: 3em;
			opacity: 1;
			letter-spacing: inherit;
			font-family: "flanders-sans", sans-serif;
		}

		&:before,
		&:hover:before,
		&:after {
			left: 0 !important;
			top: 0 !important;
			font-size: inherit;
			line-height: inherit;
		}

		&:before,
		&:hover:before {
			padding: 0 0 0 3em !important;
			width: auto !important;
			margin: 0 !important;

			right: auto;
			opacity: 1;
			background-color: transparent;
			border: 0;
			box-shadow: none;
			max-width: none;
		}
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&[data-flagged-remove="complete"],
		&[data-flagged-remove="complete"]:empty {
			display: block;
			min-height: 1.2em;
		}
	}

	li[data-flagged-remove="complete"] {
		display: list-item;
		min-height: 1.2em;
	}
}
