/* ==========================================================================
  Annotations
  Content for annotations on hover
 ========================================================================== */


.rdfa-editor { //:not(.show-rdfa-blocks)
  /* -------------------- General tags ------------------------- */

  [datatype="xsd:date"]:before {
    content: "Datum";
  }

  [property="ext:datumVerkiezing"]:before {
    content: "Datum verkiezing";
  }

  [property="ext:datumGoedkeuringVerkiezing"]:before {
    content: "Datum goedkeuring verkiezing";
  }

  [typeof="besluit:Bestuurseenheid"]:before {
    content: "Bestuurs-eenheid";
  }

  [typeof="besluit:Bestuursorgaan"]:before {
    content: "Bestuurs-orgaan";
  }


  /* -------------------- Zitting ------------------------- */

  [typeof="besluit:Zitting"] > [property="dc:title"]:before {
    content: "Titel van de notulen";
  }

    // [property="besluit:behandelt"]:before {
    //   // content: "Behandeling"; Momenteel niet gebruikt — fout aangegeven?
    // }

    [property="besluit:geplandeStart"]:before {
      content: "Geplande start van de zitting";
    }

    [property="prov:startedAtTime"]:before {
      content: "Tijdstip waarop de zitting begint";
    }

    [property="prov:endedAtTime"]:before {
      content: "Tijdstip waarop de zitting eindigt";
    }

    // [property="besluit:isGehoudenDoor"]:before
    [property="http://data.vlaanderen.be/ns/besluit#isGehoudenDoor"]:before {
      content: "Bestuurs-orgaan";
    }

    [property="besluit:geplandeStart"]:before {
      content: "Geplande start";
    }

    /* Aanwezigen en types */

    [property="besluit:heeftAanwezigeBijStart"]:before {
      content: "Aanwezige bij start van de zitting";
    }

    [property="ext:heeftAfwezigeBijStart"]:before {
    	content: "Afwezige bij start van zitting";
    }

    [typeof="http://www.w3.org/ns/person#Person"][property="besluit:heeftVoorzitter"]:before {
      content: "Voorzitter van de zitting";
    }

    [property="ext:secretarisTemporaryAsText"]:before,
    [typeof="http://www.w3.org/ns/person#Person"][property="besluit:heeftSecretaris"]:before {
      content: "Secretaris van de zitting";
    }

    // [property="besluit:heeftNotulen"]:before {
    //   // content: "Heeft notulen"; Momenteel niet gebruikt
    // }

    // [property="besluit:heeftZittingsverslag"]:before {
    //   // content: "Heeft zittingsverslag"; Momenteel niet gebruikt
    // }

    // [property="besluit:heeftAgenda"]:before {
    //   // content: "Agenda"; // zit niet in het model?
    // }


  /* -------------------- Agendapunt ------------------------- */

  [typeof="besluit:Agenda"]:before {
    content: "Agenda"; // op hetzelfde niveau als onbestaande "heeftagenda"
  }

    // [property="besluit:heeftAgendapunt"]:before {
    //   // content: "Agendapunt"; wordt niet getoond, volgende niveau wel
    // }

    [property="besluit:heeftAgendapunt"] [property="besluit:geplandOpenbaar"] + span + [property="dc:title"]:before {
      content: "Titel gepland openbaar agendapunt";
    }

    [property="besluit:heeftAgendapunt"] [property="besluit:geplandBesloten"] + span + [property="dc:title"]:before {
      content: "Titel gepland besloten agendapunt";
    }

    // [property="besluit:aangebrachtNa"]:before {
    //   // niet zichtbaar
    // }

    // [property="dc:title"]:before {
    //   // niet zichtbaar
    // }

    // [property="besluit:description"]:before {
    //   // hoe aanduiden? Herhalen in behandeling?
    // }

  /* -------------------- Behandeling agendapunt ------------------------- */

  [typeof="besluit:BehandelingVanAgendapunt"]:before {
    content: "Behandeling van agendapunt"
  }

  	[typeof="besluit:Besluit"]:before {
  		content: "Besluit";
  	}

    [typeof="besluit:BehandelingVanAgendapunt"] [property="besluit:openbaar"] + [property="dc:subject"] + [typeof="besluit:Besluit"]:before {
        content: "\f06e \00A0 \00A0 Open agendapunt";
        font-family: fontawesome, flanders-sans, sans-serif;
    }

    [typeof="besluit:BehandelingVanAgendapunt"] [property="besluit:besloten"] + [property="dc:subject"] + [typeof="besluit:Besluit"]:before {
        content: "\f07e \00A0 \00A0 Besloten agendapunt";
    }

    [typeof="besluit:BehandelingVanAgendapunt"] [property="besluit:openbaar"] + [property="dc:subject"] + [typeof="besluit:Besluit mandaat:Aanstellingsbesluit"]:before {
        content: "\f06e \00A0 \00A0 Open agendapunt: aanstellingsbesluit";
        font-family: fontawesome, flanders-sans, sans-serif;
    }

    [typeof="besluit:BehandelingVanAgendapunt"] [property="besluit:besloten"] + [property="dc:subject"] + [typeof="besluit:Besluit mandaat:Aanstellingsbesluit"]:before {
        content: "\f070 \00A0 \00A0 Open agendapunt: aanstellingsbesluit";
        font-family: fontawesome, flanders-sans, sans-serif;
    }


      [typeof="mandaat:Mandataris"]:before,
      [property="ext:bekrachtigtAanstellingVan"]:before {
        content: "Aanstelling mandataris";
      }

      [property="ext:bekrachtigdOnverenigbaarheid"]:before {
      	content: "Onverenigbaarheid";
      }

      [property="ext:bekrachtigdAfstandVanMandaatDoor"]:before {
      	content: "Afstand mandaat";
      }

      [property="ext:bekrachtigdAfwezigheidMetKennisGeving"]:before {
      	content: "Afwezig met kennisgeving";
      }

      [property="ext:bekrachtigdAfwezigheid"]:before {
      	content: "Afwezig zonder kennisgeving";
      }

      [typeof="http://www.w3.org/ns/person#Person"]:before {
      	content: "Persoon";
      }

      [property="mandaat:isBestuurlijkeAliasVan"]:before {
      	content: "Mandataris";
      }

      [property="org:holds"]:before {
        content: "Mandaat";
      }

      [property="mandaat:start"]:before {
        content: "Start mandaat";
      }

    // [property="besluit:gebeurtNa"]:before {
    //   // niet zichtbaar
    // }

    // [property="prov:generated"]:before {
    //   // niet zichtbaar
    // }

    [property="besluit:heeftStemming"]:before {
      content: "Stemming bij behandeling van agendapunt";
    }

    [property="besluit:heeftAanwezige"]:before {
      content: "Aanwezige";
    }

    [property="besluit:heeftAfwezige"]:before {
      content: "Afwezige";
    }

      // [typeof="http://www.w3.org/ns/person#Person"][property="besluit:heeftVoorzitter"]:before {
      //   content: "Voorzitter van de zitting"; // in zitting herhaald
      // }

      // [typeof="http://www.w3.org/ns/person#Person"][property="besluit:heeftSecretaris"]:before {
      //   content: "Secretaris van de zitting"; // in zitting herhaald
      // }

    [property="eli:title"]:before {
      content: "Titel besluit";
    }

    [property="eli:description"]:before {
      content: "Beschrijving besluit";
    }

    // [property="dc:subject"]:before {
    //   // content: "Onderwerp"; // wat moet hier in?
    // }

    [property="besluit:motivering"]:before {
      content: "Motivering";
    }

      [property="eli:cites"]:before {
        content: "Citaat";
      }

    [property="prov:value"]:before {
      content: "Besluit";
    }

      // [property="eli:has_part"] [property="prov:value"]:before {
      //   content: normal;
      // }

      [property="eli:has_part"][typeof="besluit:Artikel"]:before {
        content: "Artikel";
      }

      [property="eli:has_part"]:before {
        content: "Onderdeel";
      }

      [property="eli:number"]:before {
        content: "Nummer";
      }


    // [property="eli:title_short"]:before {
    //   // niet gebruikt
    // }

    // [property="eli:date_publication"]:before {
    //   // niet gebruikt
    // }

    // [property="eli:realizes"]:before {
    //   // niet gebruikt
    // }

    // [property="prov:wasGeneratedBy"]:before {
    //   // niet gebruikt
    // }

  /* -------------------- Stemming ------------------------- */

  [typeof="besluit:stemming"]:before {
    content: "Stemming";
  }

    [property="besluit:geheim"][content="false"]:before {
      content: "Openbare stemming";
    }

    [property="besluit:geheim"][content="true"]:before {
      content: "Geheime stemming";
    }

    [property="besluit:onderwerp"]:before {
      content: "Onderwerp stemming";
    }

  [property="besluit:gevolg"]:before {
    content: "Gevolg stemming";
  }

    [property="besluit:aantalOnthouders"]:before {
      content: "Aantal onthouders";
    }

    [property="besluit:aantalTegenstanders"]:before {
      content: "Aantal tegen-standers";
    }

    [property="besluit:aantalVoorstanders"]:before {
      content: "Aantal voor-standers";
    }

    [property="besluit:heeftStemmer"]:before {
      content: "Deelnemer stemming";
    }

    [property="besluit:heeftOnthouder"]:before {
      content: "Onthouder";
    }

    [property="besluit:heeftTegenstander"]:before {
      content: "Tegen-stander";
    }

    [property="besluit:heeftVoorstander"]:before {
      content: "Voor-stander";
    }
}
