/* ==========================================================================
  Published documents
  Style the published documents here.
 ========================================================================== */


/* Style publishing animation
 ========================================================================== */

.scanner {
  backface-visibility: hidden;
  position: relative;
  pointer-events: none;

  &:after {
		content: "";
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		background-color: rgba($white, 0.7);
  }

  .scanner__text {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		padding-top: 20rem;
		text-align: center;
		z-index: 10;
  }

  .scanner__bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba($primary-yellow, 1);
    z-index: 1;
    animation: move 3s cubic-bezier(0.15, 0.44, 0.76, 0.64);
    animation-iteration-count: infinite;
    border-right: 1rem $primary-yellow solid;
  }
}

@keyframes move {
  0% {
  	width: 0;
  	background-color: rgba($white, 0.5);
  }
  100% {
  	width: 100%;
  	background-color: rgba($primary-yellow, 0.5);
  }
}

/*
 ========================================================================== */

.published-example {
  position: relative;
  background-color: $white;
  padding: 4rem 4rem 4rem 6rem;
  box-shadow: 0 2px 6px 0 $blue-gray-light;
  margin-bottom: 4rem;

	.mark-highlight-manual {
		background-color: transparent;
		font-weight: inherit;
	}
}

.published-example--agenda {

	&:after {
		content: "Geen inhoud te publiceren. Voeg een sjabloon in, bewerk en sla op.";
		display: block;
		position: absolute;
		top: 4rem;
		left: 6rem;
		right: 4rem;
		font-size: 1.6rem;
		color: $gray;
		z-index: 1011;
	}

	[typeof="besluit:Zitting"] > * {
		display: none;
		position: relative;
		z-index: 1012;
	}

	> [typeof="besluit:Zitting"] {
		> [property="besluit:heeftAgenda"] {
			display: block !important;
			background-color: $white;
			position: relative;

			[property="besluit:geplandOpenbaar"] {
				color: $gray;
				font-size: 1.4rem;
			}

			[property="besluit:geplandOpenbaar"] ~ [property="dc:title"] {
				display: block;
				margin-bottom: 2rem;
				line-height: 1.4;
			}

			[property="besluit:geplandOpenbaar"] + span,
			[property="besluit:geplandOpenbaar"]:after,
			[property="dc:subject"] {
				display: inline-block;
				color: rgba($gray, 0.7);
				font-size: 1.4rem;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 500;
			}

			[property="besluit:geplandOpenbaar"]:after {
				content: "Openbaar agendapunt:";
				margin-left: 0.7rem;
			}

			h3,
			h4,
			[property="besluit:geplandBesloten"] {
				display: none;
			}

			[property="besluit:geplandBesloten"] ~ * {
				display: none !important;
			}
		}
	}
}

.published-example--besluitenlijst {

	[typeof="besluit:Zitting"] > * {
		display: none;
	}

	> [typeof="besluit:Zitting"] {
		> [typeof="besluit:BehandelingVanAgendapunt"] {
			display: block;
		}
	}

	> [typeof="besluit:Zitting"] {

		> [typeof="besluit:BehandelingVanAgendapunt"] {

			> br,
			> h3,
			> h4,
			> p,
			> [property="ext:insertAanwezigenText"],
			[data-editor-highlight="true"] {
				display: none;
			}

			> [property="besluit:openbaar"] {
				color: $gray;
				font-size: 1.4rem;
			}

			> [property="besluit:openbaar"]:after,
			> [property="dc:subject"] {
				display: inline-block;
				color: rgba($gray, 0.7);
				font-size: 1.4rem;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 500;
			}

			> [property="besluit:openbaar"]:after {
				content: "Openbaar agendapunt:";
				margin-left: 0.7rem;
			}

			> [property="dc:subject"] {
				margin-bottom: 1rem;
			}

			[typeof="besluit:Besluit"] > * {
				display: none;
			}

			[typeof="besluit:Besluit"] > [property="eli:title"] {
				display: block;
				margin-bottom: 1rem;
			}

			[typeof="besluit:Besluit"] > [property="eli:description"] {
				display: block;
				padding-bottom: 2rem;
				margin-bottom: 3rem;
				border-bottom: 1px solid $blue-gray-lighter;
			}
		}
	}
}

.published-example--notulen {

	[property="besluit:geplandOpenbaar"],
	[property="besluit:openbaar"] {
		color: $gray;
		font-size: 1.4rem;
	}

	[property="besluit:geplandOpenbaar"] ~ [property="dc:title"] {
		display: block;
		margin-bottom: 2rem;
		line-height: 1.4;
	}

	[property="besluit:geplandOpenbaar"] + span,
	[property="besluit:geplandOpenbaar"]:after,
	[property="besluit:openbaar"]:after,
	[property="dc:subject"] {
		display: inline-block;
		color: rgba($gray, 0.7);
		font-size: 1.4rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 500;
	}

	[property="besluit:geplandOpenbaar"]:after,
	[property="besluit:openbaar"]:after {
		content: "Openbaar agendapunt:";
		margin-left: 0.7rem;
	}

	[property="besluit:geplandBesloten"],
	[property="besluit:besloten"] {
		display: none;
	}

	[property="besluit:geplandBesloten"] ~ *,
	[property="besluit:besloten"] ~ * {
		display: none !important;
	}
}
