/* ==========================================================================
  Published documents
  Style the published documents here.
 ========================================================================== */

/* clickable box list
 ========================================================================== */

.clickable-box-list {
  max-width: 600px;

  li {
    min-height: 7rem;
  }

  li > .annotation {
    padding-bottom: 6px;

    &:after {
      top: -0.5rem;
      right: -18rem;
      width: 18rem;
    }

    .annotation {
      padding-bottom: 4px;

      &:after {
        top: 2.2rem;
        border-left: none;
        border-bottom: 1px solid $blue-gray-lighter;
        text-align: right;
      }

      .annotation {
        padding-bottom: 0;

        &:hover:after {
          position: absolute;
          top: 5rem;
        }

        .annotation:after {
          content: normal;
        }
      }
    }
  }

  a.annotation.annotation--agendapunt {
    border: 1px solid $blue-gray-light;
    padding: 1rem 2rem;
    display: block;
    margin-bottom: 1rem;
    transition: all 200ms;
    text-decoration: none;

    .list-number {
      text-decoration: none;
      display: inline-block;
      width: 10%;
      vertical-align: top;
      color: $gray;
      font-size: 3rem;
      position: relative;
      top: -0.5rem;
    }

    .list-content {
      display: inline-block;
      width: 89%;
    }

    &:hover {
      box-shadow: 2px 2px 5px $blue-gray-lighter, inset 5px 0 0 $primary-blue;
      background-color: $white;

      .list-number {
        color: $gray-dark;
      }
    }

    .annotation:hover:after {
      right: -18rem;
      width: 18rem;
    }
  }

  li.not-active {

    .annotation {
      cursor: default;

      .annotation {
        pointer-events: default;
      }
    }

    a.annotation.annotation--agendapunt {
      background-color: $blue-gray-lightest;
      box-shadow: none;
      color: $gray;
      cursor: default;

      .list-content {
        width: 70%;

        &:after {
          margin-top: 0.5rem;
          content: "Inhoud nog niet publiek";
          display: block;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 1.2rem;
        }
      }
    }

    a.annotation.annotation--agendapunt:hover {
      box-shadow: initial;
      background-color: $blue-gray-lightest;
    }
  }
}

.tabs__wrapper + .container-flex--scroll {

  [property="ext:tasklistDataHintText"] {
    display: none;
  }

  .annotation {
    &:after {
      width: 12rem;
      box-shadow: 0 0 1px $blue-gray-light;
    }

    &:hover:after {
      right: -20rem;
    }

    .annotation:hover:after {
      right: -32rem;
      width: 12rem;
    }
  }
}
