.show-rdfa-blocks {

    /* remove hover text when annotations are shown */
    .annotation:after {
        content: normal;
    }

    [typeof],
    [property],
    [property].annotation--agendapunt--besloten__icon,
    [property].annotation--agendapunt--open__icon {
        border: 1px solid $gray-lighter;
        margin: 2px;
        padding: 0.5rem;
        padding-top: 3.5rem;
        filter: hue-rotate(0deg);
        transition: all 0.3s;
        display: inline-block;

        &:hover {
            border-color: darken($primary-yellow, 5%);
        }
    }

    [property]:not[property="besluit:geplandOpenbaar"] {

        &:hover:before {
            border-color: darken($primary-yellow, 5%);
            position: relative;
            z-index: 2;
        }
    }

    [property]:before,
    [typeof]:before {
        position: absolute;
        color: $gray-dark;
        left: -1px;
        top: -1px;
        right: -1px;
        min-height: 0;
        height: 2.2rem;
        padding: 0.5rem;
        line-height: 1.6rem;
        font-size: 1.3rem;
        font-family: "flanders-sans", sans-serif;
        font-weight: normal;
        background-color: rgba($gray-lighter, 0.5);
        overflow: hidden;
        transition: all 400ms;
    }

    [property]:hover:before,
    [typeof]:hover:before {
        background-color: $primary-yellow;
        height: auto;
        min-height: 2rem;
        overflow: visible;
        z-index: 100;
        // position: relative;
        transition: all 400ms;
    }

    [property]:before {
        content: attr(property);
    }

    [property="ext:tasklistDataHintText"]:before {
        content: "Takenlijst beschikbaar (" attr(property) ")";
    }

    [typeof="besluit:Zitting"]:before {
        content: "Zitting (" attr(typeof) ")";
    }

    [property="ext:scopedBestuursorgaanText"]:before {
        content: "Kies bestuursorgaan (" attr(property) ")";
    }

    [property="besluit:isGehoudenDoor"]:before {
        content: "Bestuur (" attr(property) ")";
    }

    [property="dc:title"]:before {
        content: "Titel (" attr(property) ")";
    }

    [property="besluit:geplandeStart"]:before {
        content: "Datum zitting (" attr(property) ")";
    }

    [property="prov:startedAtTime"]:before {
        content: "Start zitting (" attr(property) ")";
    }

        [property="prov:startedAtTime"]:hover:before {
            right: -10rem !important;
        }

        [property="prov:startedAtTime"]:hover + [property="prov:endedAtTime"] {
            opacity: 0.1;
        }

    [property="prov:endedAtTime"]:before {
        content: "Einde zitting (" attr(property) ")";
    }

        [property="prov:endedAtTime"]:hover:before {
            right: -10rem !important;
        }

    [property="prov:atLocation"]:before {
        content: "Locatie zitting (" attr(property) ")";
    }

    [property="besluit:heeftAgenda"]:before {
        content: "Agenda van de zitting (" attr(property) ")";
    }

    [property="besluit:heeftAgendapunt"] {
        padding-left: 4rem;
        padding-top: 5rem;
    }

        [property="besluit:openbaar"]:hover,
        [property="besluit:geplandOpenbaar"]:hover {
            right: 0 !important;
        }

        [property="besluit:geplandOpenbaar"]:hover + [property="dc:title"] {
            opacity: 0.1;
        }

        [property="besluit:openbaar"] {
            position: static;
            display: inline-block;
            left: 0;
            right: 0 !important;
            width: 100%;
        }

    [property="besluit:heeftAanwezigeBijStart"]:before {
        content: "Aanwezig bij start (" attr(property) ")";
    }

    [property="besluit:heeftVoorzitter"]:before {
        content: "Voorzitter (" attr(property) ")";
    }

    [property="besluit:heeftSecretaris"]:before {
        content: "Algemeen directeur (" attr(property) ")";
    }

    [property="besluit:heeftAgendapunt"]:before {
        content: "Agendapunt (" attr(property) ")";
    }

    [property="besluit:geplandOpenbaar"]:before {
        content: "Openbaar agendapunt (" attr(property) ")";
    }

    [property="ext:behandelt"]:before {
        content: "Behandeling agendapunt (" attr(property) ")";
    }

    [property="besluit:openbaar"]:before {
        content: "Openbare behandeling agendapunt (" attr(property) ")";
    }

    [property="dc:subject"]:before {
        content: "Onderwerp (" attr(property) ")";
    }

    [property="eli:title"]:before {
        content: "Titel agendapunt (" attr(property) ")";
    }

    [property="prov:generated"]:before {
        content: "Behandeling agendapunt (" attr(property) ")";
    }

    [property="besluit:motivering"]:before {
        content: "Motivering (" attr(property) ")";
    }

    [property="eli:cites"]:before {
        content: "Verwijzing Vlaamse Codex (" attr(property) ")";
    }

    [property="eli:artikel"] {
        display: block;
    }

        [property="eli:artikel"]:before {
            content: "Artikel Vlaamse Codex (" attr(property) ")";
        }

        [property="eli:artikel"]:hover {
            right: 0 !important;
        }

    [property="ext:datumEedafleggingBurgemeester"]:before,
    [property="ext:datumOmzendbrief"]:before,
    [property="ext:datumVerkiezing"]:before,
    [type="xsd:date"]:before,
    [property="ext:datumGoedkeuringVerkiezing"]:before {
      content: "Datum (" attr(property) ")";
    }

    [property="prov:value"]:before {
        content: "Besluit (" attr(property)")";
    }




    // TODO
    [property="besluit:VaststellingTODO"],
    [typeof="besluit:Stemming"] {

        &:before {
            position: absolute;
            color: $gray-dark;
            left: -1px;
            top: -1px;
            right: -1px;
            min-height: 0;
            height: 2.2rem;
            padding: 0.5rem;
            line-height: 1.6rem;
            font-size: 1.3rem;
            font-family: "flanders-sans", sans-serif;
            font-weight: normal;
            background-color: rgba($gray-lighter, 0.5);
            overflow: hidden;
            transition: all 400ms;
        }

        &[typeof]:hover:before {
            background-color: $primary-yellow;
            height: auto;
            min-height: 2rem;
            overflow: visible;
            z-index: 100;
            transition: all 400ms;
        }
    }

    [typeof="besluit:Stemming"]:before {
        content: "Stemming (" attr(typeof) ")";
    }

    [typeof="besluit:VaststellingTODO"]:before {
      content: "Vaststelling";
    }

    [typeof="besluit:Bestuurseenheid"] {
        display: block;
    }

        [typeof="besluit:Bestuurseenheid"]:before {
          content: "Bestuurseenheid (" attr(typeof) ")";
        }

    [property="http://mu.semte.ch/vocabularies/ext/noHighlight"] {
        padding: 0;
        border: none;
        margin: 1rem 0;

        &:before {
            content: normal;
        }
    }

    [property="ext:metadata"]:before {
        content: "Geen annotatie (" attr(property) ")";
    }

        [property="ext:metadata"]:hover:before {
            right: -10rem !important;
        }


    [property="eli:description"]:before {
        content: "Beschrijving (" attr(property) ")";
    }

    [property="eli:number"] {
        vertical-align: top;
    }

        [property="eli:number"]:before {
            content: "Nummer artikel (" attr(property) ")";
        }

    li[property="eli:has_part"] {
        padding-top: 3rem;
    }

        [property="eli:has_part"]:before {
            content: "Besluit artikel (" attr(property) ")";
        }

    [property="ext:bekrachtigtAanstellingVan"]:before {
        content: "Aanstelling (" attr(property) ")";
    }

    [property="mandaat:isBestuurlijkeAliasVan"]:before {
        content: "Kandidaat (" attr(property) ")";
    }

    [property="org:holds"]:before {
        content: "Mandaat (" attr(property) ")";
    }

    [property="mandaat:start"]:before {
        content: "Start mandaat (" attr(property) ")";
    }

    [property="eli:has_part"],
    [property="besluit:gebeurtNa"],
    [property="eli:language"] {
        display: block;
        width: 100%;
        min-height: 2.2rem !important;
        padding: 0;
        margin-bottom: 2.2rem;

        &:hover {
            border-color: darken(mix($primary-yellow, $gray-lighter, 30%), 5%);
            position: relative;
        }

        &:hover:before {
            background-color: mix($primary-yellow, $gray-lighter, 30%) !important;
        }
    }

        [property="eli:language"] { //:before
            // content: "Gebruikte taal (" attr(property)") (" attr(resource)")";
            display: none;
        }

        [property="besluit:gebeurtNa"] { //:before
            // content: "Volgt op behandeling agendapunt " attr(resource)" (" attr(property)")";
            display: none;
        }

        // [property="eli:has_part"]:before {
            // content: "Volgt op behandeling agendapunt " attr(resource)" (" attr(property)")";
        // }
}

/* make sure metadata is always hidden but still detectable */

.show-rdfa-blocks [property="ext:metadata"],
[property="ext:metadata"] {
    display: none;
}
