.show-rdfa-blocks {

    /* remove hover text when annotations are shown */
    .annotation:after {
        content: normal !important;
    }

    [typeof],
    [property],
    [property].annotation--agendapunt--besloten__icon,
    [property].annotation--agendapunt--open__icon {
        border: 1px solid $gray-lighter;
        margin: 2px;
        padding: 0.5rem;
        padding-top: 3.5rem;
        filter: hue-rotate(0deg);
        transition: all 0.3s;
        display: inline-block;

        &:hover {
            border-color: darken($primary-yellow, 5%);
        }
    }

    [property]:before,
    [typeof]:before {
        position: absolute;
        color: $gray-dark;
        left: -1px !important;
        top: -1px !important;
        right: -1px !important;
        min-height: 0;
        height: 2.2rem;
        padding: 0.5rem !important;
        line-height: 1.6rem;
        font-size: 1.3rem;
        font-family: "flanders-sans", sans-serif;
        font-weight: normal;
        background-color: rgba($gray-lighter, 0.5);
        overflow: hidden;
        z-index: -1 !important;
        transition: all 400ms;
    }

    .annotation[property]:before,
    .annotation[typeof]:before {
        content:"poop";
        position: absolute;
        color: $gray-dark;
        left: 0;
        top: 0;
        right: 0;
        min-height: 0;
        height: 2.2rem;
        font-size: 1.3rem;
        font-family: "flanders-sans", sans-serif;
        font-weight: normal;
        transition: all 400ms;
    }

    [property]:hover:before,
    [typeof]:hover:before {
        background-color: $primary-yellow !important;
        height: auto !important;
        min-height: 2rem;
        overflow: visible !important;
        z-index: 100 !important;
        transition: all 400ms;

        + [property]:hover:before,
        + [typeof]:hover:before {
            background-color: red !important;
        }
    }

    [property]:before {
        content: attr(property);
    }

    [typeof="besluit:Zitting"]:before {
        content: "Zitting (" attr(typeof) ")";
    }

    [property="besluit:isGehoudenDoor"]:before {
        content: "Bestuur (" attr(property) ")";
    }

    [property="dc:title"]:before {
        content: "Titel (" attr(property) ")";
    }

    [property="besluit:geplandeStart"]:before {
        content: "Datum zitting (" attr(property) ")";
    }

    [property="prov:startedAtTime"]:before {
        content: "Start zitting (" attr(property) ")";
    }

        [property="prov:startedAtTime"]:hover:before {
            right: -10rem !important;
        }

        [property="prov:startedAtTime"]:hover + [property="prov:endedAtTime"] {
            opacity: 0.1;
        }

    [property="prov:endedAtTime"]:before {
        content: "Einde zitting (" attr(property) ")";
    }

        [property="prov:endedAtTime"]:hover:before {
            right: -10rem !important;
        }

    [property="prov:atLocation"]:before {
        content: "Locatie zitting (" attr(property) ")";
    }

    [property="besluit:heeftAgenda"]:before {
        content: "Agenda van de zitting (" attr(property) ")";
    }

    [property="besluit:heeftAgendapunt"] {
        padding-left: 4rem;
        padding-top: 5rem;
    }

        [property="besluit:openbaar"]:hover,
        [property="besluit:geplandOpenbaar"]:hover {
            right: 0 !important;
        }

        [property="besluit:geplandOpenbaar"]:hover + [property="dc:title"] {
            opacity: 0.1;
        }

        [property="besluit:openbaar"] {
            position: static;
            display: inline-block;
            left: 0;
            right: 0 !important;
            width: 100%;
        }

    [property="besluit:heeftAanwezigeBijStart"]:before {
        content: "Aanwezig bij start (" attr(property) ")";
    }

    [property="besluit:heeftAgendapunt"]:before {
        content: "Agendapunt (" attr(property) ")";
    }

    [property="ext:behandelt"]:before {
        content: "Behandeling agendapunt (" attr(property) ")";
    }

    [property="http://mu.semte.ch/vocabularies/ext/noHighlight"] {
        padding: 0;
        border: none;
        margin: 1rem 0;

        &:before {
            content: normal;
        }
    }

    [property="ext:metadata"]:before {
        content: "Geen annotatie (" attr(property) ")";
    }

        [property="ext:metadata"]:hover:before {
            right: -10rem !important;
        }


    [property="eli:description"]:before {
        content: "Beschrijving (" attr(property) ")";
    }
}
