/* ==========================================================================
  Dirty temporary css for demo purposes.
  Some parts will be reused, but most of them will not.
 ========================================================================== */

/* side nav problem */

.side-navigation__item a {
	word-break: initial;
}


/* spans in link lists replacing data */

li.link-list__item span {
	display: block;
	padding: 1rem 1.5rem;
}

li.link-list__item > button.button {
	padding: 1rem 1.5rem;
	background-color: transparent;
	color: $primary-blue;
	border: none;
	height: auto;
	display: block;
	width: 100%;
	text-align: left;
  white-space: initial;
  line-height: 1.4;

	&:hover {
		background-color: $blue-gray-lightest;
	}

	&.button--disabled {
		color: $gray;
		pointer-events: none;
	}
}

/* ember data table red color override */

.data-table-menu {
	color: $gray-dark;
}

.badge--xs {
	width: 2rem;
	height: 2rem;
	line-height: 0.9;
	padding: 0.25rem 0.4rem;
	text-align: center;
	position: relative;
	top: 0.6rem;

	.vi {
		font-size: 0.9rem;
	}
}

.pill {
	.badge--xs {
		position: relative;
		top: 0.3rem;
		margin-right: 0.5rem;
		line-height: 1.1;
		width: 1.6rem;
		height: 1.6rem;
		padding: 0 0.35rem;
	}
}

/** Collapsable document structure */
.editor-container {
  background-color: $blue-gray-lightest;

  .grid {

    .sidebar-wrapper {
      position: relative;
      transition: 0.5s;
      left: 0;

      &.col--3-12.col--collapsed {
        left: calc(-25% + 50px);
      }

      .sidebar {
        background-color: white;

        .sidebar__header i {
          cursor: pointer;
        }
      }
    }
  }
}

/* temporary demo fixes for fracties */

input.input-field {
  padding-right: 0;
}

.data-table th .button {
  font-weight: normal;
}

.modal-dialog.modal-dialog--sectioned .modal-dialog__content {
  max-height: 75vh;
}

.data-table--white tr {
	background-color: white !important;
}

.data-table--bordered {
	border-left: 1px solid $gray-lighter;
	border-right: 1px solid $gray-lighter;
}


// /* sidebar publish */

// .sidebar .side-navigation__group--bordered {
// 	padding-top: 0;
// }

// .side-navigation__group--bordered .side-navigation__item {
// 	border-bottom: 1px solid $blue-gray-lighter;
// }

// .side-navigation__item {
// 	position: relative;
// }

// .side-navigation__item .side-navigation__item__status-icons {
// 	position: absolute;
// 	right: 1rem;
// 	top: 1.5rem;
// }

// .vi-u-badge--border {
// 	border: 1px solid $blue-gray-light;
// 	background-color: $white;
// }

// .side-navigation__item .side-navigation__item__status {
// 	padding: 0 1.5rem 1rem;
// }

// .side-navigation__item a.active + .side-navigation__item__status {
// 	background-color: $blue-gray-lightest;
// 	box-shadow: inset 3px 0 0 $primary-blue;

// 	.pill {
// 		margin-bottom: 1rem;
// 	}
// }



/* Side navigation block layout temporary fixes
 ========================================================================== */


.side-navigation--blocks .side-navigation__group {
	padding: 0;
}

.side-navigation--blocks li {
	border-bottom: 1px solid $gray-lighter;
}

.side-navigation--blocks li.active {
	box-shadow: inset 0.3rem 0 0 $primary-blue;
}

.side-navigation--blocks li:hover {
	box-shadow: inset 0.3rem 0 0 $primary-blue;
	background: $blue-gray-lightest;
	cursor: pointer;
}

.side-navigation--blocks a {
	text-decoration: none !important;
	color: $gray-dark;
	padding-top: 1rem;
}

.side-navigation--blocks .link-group {
	padding-left: 1.5rem;
	padding-bottom: 1.5rem;
}

.side-navigation--blocks .active + .link-group {
	background-color: $blue-gray-lightest;
	box-shadow: inset 0.3rem 0 0 $primary-blue;
}

.side-navigation--blocks .link-group {
	margin-left: 0;
}

.side-navigation--blocks .side-navigation__item {
	padding-top: 0;
	padding-bottom: 0;
}
