/* ==========================================================================
    Monsters live here
========================================================================== */

em {
    font-style: italic;
    background-color: red;
    color: white;
}
