/* ==========================================================================
  Dirty temporary css for demo purposes.
  Some parts will be reused, but most of them will not.
 ========================================================================== */

/* spans in link lists replacing data */

li.link-list__item span {
	display: block;
	padding: 1rem 1.5rem;
}

li.link-list__item > button.button {
	padding: 1rem 1.5rem;
	background-color: transparent;
	color: $primary-blue;
	border: none;
	height: auto;
	display: block;
	width: 100%;
	text-align: left;

	&:hover {
		background-color: $blue-gray-lightest;
	}

	&.button--disabled {
		color: $gray;
		pointer-events: none;
	}
}

/* ember data table red color override */

.data-table-menu {
	color: $gray-dark;
}

.badge--xs {
	width: 2rem;
	height: 2rem;
	line-height: 0.9;
	padding: 0.25rem 0.4rem;
	text-align: center;
	position: relative;
	top: 0.6rem;

	.vi {
		font-size: 0.9rem;
	}
}

.pill {
	.badge--xs {
		position: relative;
		top: 0.3rem;
		margin-right: 0.5rem;
		line-height: 1.1;
		width: 1.6rem;
		height: 1.6rem;
		padding: 0 0.35rem;
	}
}

/* restyling annotation positions and styling for demo */
.modal-dialog--hint {
  position: fixed !important;
  top: 15rem !important;
  right: 5rem !important;
  left: auto !important;
  max-height: 50vh;
}

/** Collapsable document structure */
.editor-container {
  background-color: $blue-gray-lightest;

  .grid {

    .sidebar-wrapper {
      position: relative;
      transition: 0.5s;
      left: 0;

      &.col--3-12.col--collapsed {
        left: calc(-25% + 50px);
      }

      .sidebar {
        background-color: #FFF;

        .sidebar__header i {
          cursor: pointer;
        }
      }
    }
  }
}

/* temporary demo fixes for fracties */

input.input-field {
  padding-right: 0;
}

.data-table th .button {
  font-weight: normal;
}

.modal-dialog.modal-dialog--sectioned .modal-dialog__content {
  max-height: 75vh;
}


/* ==========================================================================
    Modals
========================================================================== */

.modal-dialog__content li.link-list__item.link-list__item--sidenotes a:first-child {
	border-bottom: none;
	padding-bottom: 0.3rem;
}

.modal-dialog__content li.link-list__item .link-list__item__sidenote {
	padding-top: 0;
	padding-bottom: 1.2rem;
	margin-top: 0.5rem;
	color: $gray;
	font-size: 80%;
	line-height: 1.3;
	display: block;
	word-break: break-all;
	border-bottom: $blue-gray-light;

	&:hover {
		background-color: transparent;
		color: $black;
	}
}

.modal-dialog__content li.link-list__item span.link-list__item__sidenote {
	cursor: default;
	pointer-events: none;
}
