/* ==========================================================================
  Annotations
  Content for annotations on show annotations
 ========================================================================== */

.rdfa-editor {

  /* -------------------- Guiding tags ------------------------- */

	[property^="ext:insert"]:before {
		content: "Klik om de juiste optie selecteren";
	}

  /* -------------------- General tags ------------------------- */

  [datatype="xsd:dateTime"]:before {
    content: "Datum en tijd (" attr(property) ")" !important;
  }

  [datatype="xsd:date"]:before {
    content: "Datum (" attr(property) ")" !important;
  }

  [property="ext:datumVerkiezing"]:before {
    content: "Datum verkiezing (" attr(property) ")" !important;
  }

  [property="ext:datumGoedkeuringVerkiezing"]:before {
    content: "Datum goedkeuring verkiezing (" attr(property) ")" !important;
  }

  [typeof="besluit:Bestuurseenheid"]:before {
    content: "Bestuurs-eenheid (" attr(typeof) ")" !important;
  }

  [typeof="besluit:Bestuursorgaan"]:before {
    content: "Bestuurs-orgaan (" attr(typeof) ")" !important;
  }

  [property="ext:scopedBestuursorgaanText"]:before {
  	content: "Kies bestuursorgaan";
  }

  /* -------------------- Zitting ------------------------- */

  [typeof="besluit:Zitting"] > [property="dc:title"]:before {
    content: "Titel van de notulen (" attr(property) ")" !important;
  }

    // [property="besluit:isGehoudenDoor"]:before
    [property="http://data.vlaanderen.be/ns/besluit#isGehoudenDoor"]:before {
      content: "Bestuurs-orgaan (" attr(property) ")" !important;
    }

    [property="besluit:geplandeStart"]:before {
      content: "Geplande start van de zitting (" attr(property) ")" !important;
    }

    /* Aanwezigen en types */

    [property="besluit:heeftAanwezigeBijStart"]:before {
      content: "Aanwezige mandataris bij start (" attr(property) ")" !important;
    }

    [property="besluit:heeftVoorzitter"]:before {
      content: "Voorzitter (" attr(property) ")" !important;
    }

    [property="besluit:heeftSecretaris"]:before {
      content: "Secretaris van de zitting (" attr(property) ")" !important;
    }

    [property="ext:secretarisTemporaryAsText"]:before {
      content: "Secretaris van de zitting";
    }

    [property="org:role"]:before {
    	content: "Mandaat";
    }

  /* -------------------- Agendapunt ------------------------- */

  [typeof="besluit:Agendapunt"]:before {
  	content: "Gepland agendapunt (" attr(property) ")" !important;
  }

  [property="dc:title"]:before {
    content: "Titel (" attr(property) ")" !important;
  }

  [typeof="besluit:Agenda"]:before {
    content: "Agenda (" attr(typeof) ")" !important; // op hetzelfde niveau als onbestaande "heeftagenda"
  }

    [property="besluit:heeftAgendapunt"]:before {
      content: "Agendapunt (" attr(property) ")" !important;
    }

    [typeof="besluit:Agenda"] [property="dc:title"]:before {
      content: "Titel agendapunt (" attr(property) ")" !important;
    }

      [property="besluit:geplandOpenbaar"]:before {
        content: "Openbaar agendapunt (" attr(property) ")" !important;
      }

      [property="besluit:geplandBesloten"]:before {
        content: "Besloten agendapunt (" attr(property) ")" !important;
      }

	    [property="eli:title_short"]:before {
	      content: "Citeer-opschrift (" attr(property) ") - optioneel";
	    }

  /* -------------------- Behandeling agendapunt ------------------------- */

  [property="ext:behandelingVanAgendapuntenContainer"]:before {
    content: "Behandelingen van agendapunten";
  }

  [typeof="besluit:BehandelingVanAgendapunt"]:before {
    content: "Behandeling van agendapunt (" attr(property) ")" !important;
  }

    [property="besluit:openbaar"]:before {
      content: "Open agendapunt (" attr(property) ")" !important;
    }

    [property="besluit:besloten"]:before {
      content: "Besloten agendapunt (" attr(property) ")" !important;
    }

    [typeof^="besluit:Besluit"]:before {
      content: "Inhoud besluit (" attr(typeof) ")" !important;
    }

      [typeof="besluit:Besluit mandaat:Aanstellingsbesluit"]:before {
        content: "Inhoud aanstellingsbesluit (" attr(typeof) ")" !important;
      }

      [typeof^="besluit:Besluit"] [property="eli:title"]:before {
        content: "Titel van agendapunt (" attr(property) ")" !important;
      }

      [typeof^="besluit:Besluit"] [property="eli:description"]:before {
        content: "Beschrijving van agendapunt (" attr(property) ")" !important;
      }

        [property="besluit:motivering"]:before {
          content: "Motivering (" attr(property) ")" !important;
        }

	      [property="eli:cites"]:before {
	        content: "Citaat (" attr(property) ")" !important;
	      }

				[property="eli:has_part"][typeof="besluit:Artikel"]:before,
        [property="eli:artikel"]:before {
          content: "Artikel (" attr(typeof) ")" !important;
        }

        [property="prov:value"]:before {
          content: "Besluit (" attr(property) ")" !important;
        }

          [property="eli:has_part"]:before {
            content: "Onderdeel (" attr(property) ")" !important;
          }

          [property="eli:number"]:before {
            content: "Nummer (" attr(property) ")" !important;
          }

        [typeof="mandaat:Mandataris"]:before,
        [property="ext:bekrachtigtAanstellingVan"]:before {
          content: "Aanstelling mandataris (" attr(property) " " attr(typeof) ")" !important;
        }

		      [typeof="ext:BesluitGemeenteraadsledenAfstandMandaat"]:before {
		      	content: "Afstand mandaat";
		      }

		      [property="ext:bekrachtigdAfstandVanMandaatDoor"]:before {
		      	content: "Afstand mandaat (" attr(property) ")" !important;
		      }

		      [typeof="ext:BesluitGemeenteraadsledenAfwezigen"]:before {
		      	content: "Afwezigen";
		      }

		      [property="ext:heeftAfwezigeBijAgendapunt"]:before {
		      	content: "Afwezige bij agendapunt";
		      }

		      [property="ext:bekrachtigdAfwezigheidMetKennisGeving"]:before {
		      	content: "Afwezig met kennisgeving (" attr(property) ")" !important;
		      }

		      [property="ext:bekrachtigdAfwezigheid"]:before {
		      	content: "Afwezig zonder kennisgeving (" attr(property) ")" !important;
		      }

		      [typeof="ext:BesluitGemeenteraadsledenVerkiezbaarheidsvoorwaarden"]:before {
		      	content: "Verkiesbaarheidsvoorwaarden (" attr(typeof) ")" !important;
		      }

		      [typeof="ext:BesluitGemeenteraadsledenOnverenigbaarheden"]:before {
		      	content: "Onverenigbaarheden (" attr(typeof) ")" !important;
		      }

          [property="ext:bekrachtigdOnverenigbaarheid"]:before {
          	content: "Onverenigbaar (" attr(property) ")" !important;
          }

          [typeof="ext:BesluitGemeenteraadsledenBurgemeester"]:before {
          	content: "Eedaflegging Burgemeester (" attr(typeof) ")" !important;
          }

          [typeof="ext:BesluitGemeenteraadsledenVerhindering"]:before {
          	content: "Verhindering (" attr(typeof) ")" !important;
          }

          [typeof="ext:BesluitFractieSplitwens"]:before {
          	content: "Fractie splitsing (" attr(typeof) ")" !important;
          }

          [typeof="ext:BesluitFractieVereniging"]:before {
          	content: "Fractie vereniging (" attr(typeof) ")" !important;
          }

          [typeof="ext:BesluitFractieSplitwensAkte"]:before {
          	content: "Fractie splitsing akte (" attr(typeof) ")" !important;
          }

          [typeof="ext:BesluitFractieSplitwensAkteVoorwaarden"]:before {
          	content: "Fractie splitsing voorwaarden (" attr(typeof) ")" !important;
          }

          [property="ext:fractievormingText"]:before {
          	content: "Fractievorming besluit (" attr(property) ")" !important;
          }

          [property="ext:fractievormingTable"]:before {
          	content: "Fracties (" attr(property) ")" !important;
          }

          [property="org:holds"]:before {
            content: "Mandaat (" attr(property) ")" !important;
          }

          [property="ext:mandatarisTabelInput"]:before {
          	content: "Besluit mandatarissen";
          }

          [property="mandaat:start"]:before {
            content: "Start mandaat (" attr(property) ")" !important;
          }

          [property="mandaat:rangorde"]:before {
          	content: "Rangorde (" attr(property) ")" !important;
          }

          [property="mandaat:status"]:before {
          	content: "Status mandaat (" attr(property) ")" !important;
          }

          [property="ext:currentVoorzitterMandaat"]:before {
          	content: "Mandaat voorzitter (" attr(property) ")" !important;
          }

          [typeof="ext:BesluitVerkiezingVoorzitterEinddatum"]:before {
          	content: "Voorzitter einddatum (" attr(typeof) ")" !important;
          }

          [typeof="ext:BesluitVerkiezingVoorzitterVerhindering"]:before {
          	content: "Verhindering voorzitter (" attr(typeof) ")" !important;
          }

          [property="persoon:gebruikteVoornaam"]:before {
          	content: "Voornaam";
          }

          [property="persoon:achternaam"]:before {
          	content: "Achternaam";
          }


          [property="foaf:familyName"]:before {
          	content: "Familienaam";
          }

          [property="ext:schepenenAanstellingText"]:before {
          	content: "Aanstelling schepenen (" attr(property) ")" !important;
          }

          [typeof="ext:BesluitPolitieraadStembiljetten"]:before {
          	content: "Stembiljetten (" attr(typeof) ")" !important;
          }

          [typeof="ext:BesluitPolitieraadOngeldigeStemmen"]:before {
          	content: "Ongeldige stemmen (" attr(typeof) ")" !important;
          }

          [typeof="ext:BesluitPolitieraadStakingStemmen"]:before {
          	content: "Staking stemmen (" attr(typeof) ")" !important;
          }

          [typeof="ext:BesluitPolitieraadVoldoendeLeden"]:before {
          	content: "Leden (" attr(typeof) ")" !important;
          }

    [property="besluit:heeftStemming"]:before {
      content: "Stemming bij behandeling van agendapunt (" attr(property) ")" !important;
    }

    [property="dc:subject"]:before {
      content: "Onderwerp behandeling (" attr(property) ")" !important;
    }

  /* -------------------- Stemming ------------------------- */

  [typeof="besluit:Stemming"]:before {
    content: "Stemming (" attr(typeof) ")" !important;
  }
  	[property="ext:stemmingTable"]:before {
  		content: "Stemmingen";
  	}

    [property="besluit:geheim"][content="false"]:before {
      content: "Openbare stemming";
    }

    [property="besluit:geheim"][content="true"]:before {
      content: "Geheime stemming";
    }

    [property="besluit:Onderwerp"]:before {
      content: "Onderwerp stemming";
    }

  [property="besluit:Gevolg"]:before {
    content: "Gevolg stemming";
  }

    [property="besluit:aantalOnthouders"]:before {
      content: "Aantal onthouders";
    }

    [property="besluit:aantalTegenstanders"]:before {
      content: "Aantal tegen-standers";
    }

    [property="besluit:aantalVoorstanders"]:before {
      content: "Aantal voor-standers";
    }

  [property="besluit:heeftStemming"] [property="besluit:heeftAanwezige"]:before {
    content: "Aanwezige bij stemming";
  }

    [property="besluit:HeeftStemmer"]:before {
      content: "Deelnemer stemming";
    }

    [property="besluit:HeeftOnthouder"]:before {
      content: "Onthouder";
    }

    [property="besluit:HeeftTegenstander"]:before {
      content: "Tegen-stander";
    }

    [property="besluit:HeeftVoorstander"]:before {
      content: "Voor-stander";
    }

  [property="ext:signatories"]:before {
  	content: "Ondergetekend";
  }
}
