/* ==========================================================================
  Annotations
  Style the annotations when rdfa is shown here.
 ========================================================================== */

.rdfa-annotations.show-rdfa-blocks {

	.mark-highlight-manual,
	[data-editor-highlight="true"],
  [property],
  [typeof],
  [datatype],
  [property="dc:title"] {
    border: 1px solid $gray-lighter;
    margin: 2px;
    padding: 0.5rem;
    padding-top: 3.5rem;
    transition: all 0.3s;
    display: inline-block;
    max-width: 100%;
    position: relative;
    background-color: $white;
    min-width: 7rem;

    &:hover {
      background-color: $white;
      border-color: $primary-yellow;
    }

    &:hover:after,
    &:after {
       content: normal;
    }

    &:before {
      position: absolute;
      color: $gray-dark;
      left: -1px;
      top: -1px;
      right: -1px;
      min-height: 0;
      height: 2.2rem;
      padding: 0.5rem;
      line-height: 1.6rem;
      font-size: 1.3rem;
      font-family: "flanders-sans", sans-serif;
      font-weight: normal;
      background-color: rgba($gray-lighter, 0.5);
      overflow: hidden;
      opacity: 1;
      width: auto;
      min-width: 100%;
      border: none;
      box-shadow: none;
    }

    &:hover:before {
      background-color: $primary-yellow !important;
      height: auto !important;
      min-height: 2rem !important;
      overflow: visible;
      z-index: 100;
      transition: all 400ms;
      top: -1px;
      left: -1px;
      right: -1px;
      opacity: 1;
      margin-top: 0;
    }

    [property],
    [datatype],
    [typeof] {

      &:hover:before {
        left: -1px;
        right: -1px;
        min-width: 100%;
        width: auto;
        padding-left: 0.5rem;
      }
    }
  }

  [property],
  [typeof],
  [datatype],
  [property="dc:title"] {

  }

	.mark-highlight-manual {
		background-color: rgba($primary-blue, 0.3);
	}

	[data-editor-highlight="true"] {
		background-color: $primary-yellow;
	}

  [typeof="besluit:Zitting"] {
    border: none;
    padding: 0;
    margin: 0;

    &:before {
      content: normal;
    }
  }

  [property="http://mu.semte.ch/vocabularies/ext/noHighlight"] {
      border: none;
      padding: 0;
      margin: 0;

      &:before {
          content: normal;
      }
  }

  [property="besluit:aangebrachtNa"],
  [property="besluit:gebeurtNa"],
  [property="eli:language"],
  [property="ext:metadata"],
  .ext_metadata {
      display: none;
  }

  .annotation--agendapunt--open__icon,
  .annotation--agendapunt--besloten__icon {
      position: relative;
      left: auto;
      display: block;
      width: 100%;
  }

  /* make sure small annotations extend wide enough on hover to be legible */

  [property="eli:number"] {
      vertical-align: top;
  }

  // [typeof="mandaat:Mandataris"],
  // [property="ext:bekrachtigtAanstellingVan"],
  // [property="eli:number"],
  // [typeof="besluit:Bestuurseenheid"],
  // [property="eli:artikel"] {

  //     &:hover:before {
  //         right: -10rem !important;
  //     }
  // }

	[property^="ext:insert"] {
		border-color: $primary-yellow;

		&:before {
			background-color: $primary-yellow;
		}
	}

  [property="dc:title"] {
  	width: 100%;
  }
}


.show-rdfa-blocks .editor-paper {

	.data-table {
		td,
		th {
			display: table-cell !important;
		}

		td.u-hidden {
			display: none !important;
		}
	}

	[data-editor-highlight="true"],
  [property],
  [typeof],
  [datatype],
  [property="dc:title"] {
    border: none;
    margin: 0;
    padding: 0;
    padding-top: 0;
    display: inherit;
    max-width: 100%;
    position: inherit;
    background-color: transparent;
    min-width: 0;

  	&:before {
  		content: normal;
  	}
  }

}

.show-rdfa-blocks .editor__paper {

  [typeof="besluit:BehandelingVanAgendapunt"],
  [property="ext:behandelt"],
  [property="besluit:heeftAgendapunt"],
  [typeof="besluit:Agendapunt"] {

    .annotation--agendapunt--besloten__icon,
    .annotation--agendapunt--open__icon {
    	position: relative;
    	left: 0;
    	margin-bottom: 1rem;
    }
  }
}
