/* ==========================================================================
  Published documents
  Style the published documents here.
 ========================================================================== */

/* Style publishing animation
 ========================================================================== */

.scanner {
  backface-visibility: hidden;
  position: relative;
  pointer-events: none;

  &:after {
		content: "";
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		background-color: rgba($white, 0.7);
  }

  .scanner__text {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		padding-top: 20rem;
		text-align: center;
		z-index: 10;
  }

  .scanner__bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba($primary-yellow, 1);
    z-index: 1;
    animation: move 3s cubic-bezier(0.15, 0.44, 0.76, 0.64);
    animation-iteration-count: infinite;
    border-right: 1rem $primary-yellow solid;
  }
}

@keyframes move {
  0% {
  	width: 0;
  	background-color: rgba($white, 0.5);
  }
  100% {
  	width: 100%;
  	background-color: rgba($primary-yellow, 0.5);
  }
}


/* Style agendapunten
 ========================================================================== */

.steps {

	.besluiten,
	.agendapunten,
	[property="ext:behandelingVanAgendapuntenContainer"],
	[property="ext:agendapuntenTable"] {
		padding-left: 2.5rem;
	}

	[typeof="besluit:Agendapunt"] {
		display: block;
		margin-bottom: 1rem;
	}

	[typeof="besluit:BehandelingVanAgendapunt"],
	[property="ext:behandelt"],
	[property="besluit:heeftAgendapunt"],
	[typeof="besluit:Agendapunt"] {
		display: block !important;
		position: relative;

		[property="besluit:geplandOpenbaar"] i,
		[property="besluit:openbaar"] i {
		  font-size: 1.6rem;
		  position: absolute;
		  left: -2.75rem;
		  top: 0.2rem;
		  padding-left: 1px;
		  z-index: 2;
		  color: $gray-light;
		}

		[property="besluit:geplandOpenbaar"][content="false"] i,
		[property="besluit:openbaar"][content="false"] i {
		  color: darken($primary-yellow, 15%);
		}
	}

	[typeof="besluit:Agendapunt"] [property="dc:title"] {
		display: block;
		margin-bottom: 1rem;
		font-size: 1.8rem;
	}
}


/* Style besluitenlijst
 ========================================================================== */

.steps {

	[typeof="http://data.vlaanderen.be/ns/besluit#Besluit"] {
		margin-bottom: 3rem;
		display: block;

		[property="dct:title"] {
			margin-bottom: 0.2rem;
			font-size: 2.1rem;
			font-weight: 400;
		}

		&:before {
			content: "Besluit met korte openbare beschrijving";
			display: block;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $gray-light;
			font-weight: 400;
			font-size: 1.4rem;
			margin-bottom: 0.5rem;
		}

		[property="eli:description"] {
			display: block;
		}
	}

  [typeof="besluit:Agendapunt"] [property="besluit:geplandOpenbaar"] + span {
  	text-transform: uppercase;
  	color: $gray-light;
  	letter-spacing: 1px;
  	font-size: 1.4rem;
  	line-height: 1.8;
  }
}


/* Style notulen
 ========================================================================== */

.steps [typeof="besluit:Zitting"] {

	.mark-highlight-manual {
		background-color: transparent;
	}

	> [property="dc:title"] {
		margin-top: 3rem;
	}

	[property="ext:agendapuntenTable"] [property="besluit:heeftAgendapunt"] {
		display: block;
	}


	[typeof="besluit:Artikel"] {
		[property="eli:number"] {
			display: block;
		}
	}

	[property="dc:subject"] {
		margin-bottom: 2rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
		position: relative;
	}

	h1,
	.h1 {
		font-family: flanders-serif,serif;
    line-height: 1;
    font-weight: 300;
    font-size: 4.8rem;
    margin-bottom: 2rem;
	}

	h2,
	.h2 {
		font-size: 3.6rem;
    font-weight: 500;
    margin-bottom: 3rem;
	}

	h3,
	.h3 {
		font-size: 3rem;
		font-weight: 500;
	}

	h4,
	.h4 {
		font-size: 2.4rem;
		font-weight: 500;
	}

	h5,
	.h5 {
		font-size: 2.1rem;
		font-weight: 500;
	}

	h6,
	.h6 {
		font-size: 1.8rem;
		font-weight: 500;
	}
}


/* Style uittreksels
 ========================================================================== */

.steps .behandeling {
	padding-left: 3rem;
}

/* Style hr's — remove this style once new version of webuniversum is added
 ========================================================================== */

.step__content .u-hr {
	border-color: $blue-gray-lighter;
}
