/* ==========================================================================
  Toolbar
  Style the toolbar here.
 ========================================================================== */

.toolbar {
	border-bottom: 1px solid lighten($blue-gray-light, 5%);
	padding: 0.5rem 1.5rem 0;
	height: 50px;
	background-color: $white;
}

.toolbar__annotations-switch {
    position: fixed;
    margin-top: 0.75rem;
    right: 11rem;
    z-index: 5;
    display: block;
    width: 22rem;
    padding-left: 0.25rem;
}

.toolbar__styling-tools + div {
	display: none;
}


/* ==========================================================================
  Annotations trigger
  Style the annotations trigger here.
 ========================================================================== */

	/* plusje aan de zijkant, moet naar toolbar */
	.editor-commands {
    margin-top: 3rem;
    width: 22rem;
    position: fixed;
    z-index: 900;
    right: 1rem;
	}

	button.button.annotation-suggestion--trigger {
		text-align: left;
		padding-left: 1rem;
		padding-right: 1rem;
		color: $gray-dark;
		background-color: $white;
		font-weight: 500;
		font-size: 1.5rem;

		&:hover {
			background-color: $blue-gray-lightest;
		}
	}

	button.button.annotation-suggestion--trigger i {
    color: $primary-blue;
    text-shadow: 0 1px 0 $primary-blue;
    position: absolute;
    top: 1rem;
    right: 0.1rem;
	}


.editor__actionbar__hints__title {
	font-weight: 600;
	color: $blue-gray-dark;
	background-color: $blue-gray-lightest;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.2rem;
	padding: 0.75rem 1rem 0.5rem;
}

.editor__actionbar {
	font-size: 1.6rem;
	line-height: 1.2;

	.small, .smaller, .smallest {
		line-height: 1.1 !important;
	}

	strong {
		font-size: 1.5rem;
	}

	a {
		font-size: 1.4rem;
	}
}
