/* ==========================================================================
  Toolbar
  Style the toolbar here.
 ========================================================================== */

.toolbar__annotations-switch {
    position: fixed;
    margin-top: 6rem;
    right: 1.6em;
    z-index: 5;
    display: block;
    width: 11em;
    padding-left: 0.25rem;
}
