/* ==========================================================================
  Toolbar
  Style the toolbar here.
 ========================================================================== */

.toolbar__annotations-switch {
    position: fixed;
    margin-top: 6rem;
    right: 1rem;
    z-index: 5;
    display: block;
    width: 22rem;
    padding-left: 0.25rem;
}
