<div class="au-o-grid__item au-u-1-2@medium">
  <AuHeading @level="3" @skin="6" class="au-u-margin-bottom-tiny">Ondertekend door</AuHeading>
  <p>{{@fullName}} <br> {{moment-format @createdOn 'L LT'}}</p>
</div>
