{{page-title "Detail"}}
<AuLink @route="meetings.publish.publication-actions" @skin="secondary">
  <AuIcon @icon="arrow-left" @alignment="left" />
  {{t 'publication-actions.return'}}
</AuLink>
<div class="publication-actions-detail-container">
  {{html-safe this.model}}
</div>