.au-c-attachments-select {
  @include au-font-size($au-base);
  font-family: $au-font;
  width: 100%;
  padding: $au-unit-tiny;
  background-color: $au-white;
  border: 1px solid $au-gray-400;
  border-radius: .2rem;
}

.au-c-attachments-select-cell {
  min-width: 150px;
}
