/* ==========================================================================
  #EDITOR-PREVIEW
  Used in the publish flow
 ========================================================================== */

.au-c-editor-preview {
  padding: $au-unit-small;
  border: .1rem solid $au-gray-200;
  background-color: $au-gray-100;

  h5 {
    font-weight: $au-medium;
  }
}

.au-c-editor-preview,
.au-c-rdfa-publication {
  // Labels
  [property="besluit:geplandOpenbaar"],
  [property="besluit:openbaar"] {
    @include au-font-size($au-h6);
    color: $au-gray-600;
    text-transform: initial;
    letter-spacing: 0;
  }

  // Hide webuniversum icons
  [typeof="besluit:BehandelingVanAgendapunt"],
  [property="ext:behandelt"],
  [property="besluit:heeftAgendapunt"],
  [typeof="besluit:Agendapunt"] {
    [property="besluit:geplandOpenbaar"] i,
    [property="besluit:geplandOpenbaar"] em,
    [property="besluit:openbaar"] i,
    [property="besluit:openbaar"] em {
      display: none;
    }
  }
}

/* Notulen treatment (public/private)
 ========================================================================== */

.au-c-editor-preview-treatment {
  margin-top: $au-unit-small;
  margin-bottom: $au-unit-small;
  border: .1rem solid $au-gray-300;

  .behandeling {
    margin-top: $au-unit;
    padding-left: $au-unit;
    transition: all 200ms;
    padding-right: 11.4rem;

    [property="dc:subject"],
    [property="eli:title"],
    [property="eli:description"],
    [property="besluit:openbaar"],
    div[property^="ext:insert"],
    div[property^="ext:insert"],
    [data-flagged-remove="complete"],
    [data-flagged-remove="complete"] {
      margin-top: 0.5rem;

      &:after {
        @include au-font-size($au-base,1);
        position: absolute;
        right: -11.5rem;
        width: 9rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.1;
        font-weight: 400;
        padding: 0 .2rem 0 0;
        font-family: 'flanders-sans', sans-serif;
      }
    }
  }

  .checkbox--switch__wrapper {
    display: block;
    border-bottom: 1px solid $au-gray-300;
    padding: 0;
    padding-bottom: $au-unit-small;
    margin-bottom: $au-unit-small;
  }
}

.au-c-editor-preview-treatment--private .behandeling {
  > * {
    color: $au-gray-400;
  }

  [property="dc:subject"],
  [property="eli:title"],
  [property="eli:description"],
  [property="besluit:openbaar"] {
    position: relative;
    background-color: rgba($au-blue-700, .2);
    box-shadow: inset -4px 0 0 0 $au-blue-700;
    width: 100%;
    display: block;
    color: $au-gray-900;

    &:after {
      color: $au-blue-900;
      content: "Publieke informatie";
      border-right: 4px solid $au-blue-700;
    }
  }
}

.au-c-editor-preview-treatment__info {
  transition: all 200ms;
  padding: $au-unit;
  border-bottom: .1rem solid $au-gray-300;
  background-color: $au-gray-200;

  .au-c-toggle-switch__toggle {
    background-color: $au-gray-300;
  }
}

.au-c-editor-preview-treatment__info--private {
  .checkbox--switch + .checkbox--switch__label {
    &:after {
      border-color: $au-gray-300;
    }
  }
}


/* Behandeling overview
 ========================================================================== */

.behandeling-preview {
  div[property^="ext:insert"],
  div[property^="ext:insert"],
  [data-flagged-remove="complete"],
  [data-flagged-remove="complete"] {
    background-color: $au-yellow-300;
    color: $au-gray-1000;

    &:after {
      content: "Informatie ontbreekt";
      border-right: 4px solid $au-yellow-300;
    }
  }
}

.behandeling-preview div[property^="ext:insert"],
.steps div[property^="ext:insert"] {
  position: relative;
}

.behandeling-preview [data-flagged-remove="complete"]:before,
.steps [data-flagged-remove="complete"]:before {
  content: "Leeg veld";
  font-weight: 300;
  color: $au-gray-600;
}

/* Style publishing animation
 ========================================================================== */

.au-c-scanner {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  pointer-events: none;

  &:after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba($au-white, 0.7);
  }

  .au-c-loader {
    margin-left: auto;
    margin-right: auto;
  }

  .au-c-loader::before {
    height: .4rem !important;
  }
}

.au-c-scanner__text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: $au-unit-huge;
  text-align: center;
  z-index: 10;
}

.au-c-scanner__bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: $au-yellow-300;
  z-index: 1;
  animation: move 3s cubic-bezier(0.15, 0.44, 0.76, 0.64);
  animation-iteration-count: infinite;
  border-right: 1rem $au-yellow-300 solid;
  margin-top: 0;
}

@keyframes move {
  0% {
    width: 0;
    background-color: rgba($au-white, .5);
  }
  100% {
    width: 100%;
    background-color: rgba($au-yellow-300, .5);
  }
}

/* Notulen preview missing data
 ========================================================================== */

.is-required[content=""] {
  display: inline-block;
  padding: $au-unit-tiny/2 $au-unit-tiny;
  border-radius: $au-radius;
  background-color: $au-red-600;

  &:after {
    content: "Deze informatie is vereist om te kunnen publiceren";
    color: $au-white;
  }

  [data--language="en"] &:after {
    content: "Warning: You must fill this information";
  }
}
