/* ==================================
   #HEADINGS
   ================================== */

/* Variables
   ========================================================================== */

$au-heading-1     : $au-h2 !default;


/* Component
  ========================================================================== */

.au-c-heading-1 {
  @include au-font-size($au-heading-1);
  font-family: $au-font-secondary;
  font-weight: $au-light;
}
