.meeting__sync-button {
  font-weight: var(--au-medium);
}

.meeting__sync-button--up-to-date {
  & {
    background-color: var(--au-green-200);
    border-color: var(--au-green-500);
    color: var(--au-green-500);
  }

  &:hover,
  &:focus-visible,
  &:active {
    background-color: var(--au-green-200);
    border-color: var(--au-green-700);
    color: var(--au-green-700);
  }
}

.meeting__sync-button--out-of-date {
  & {
    background-color: transparent;
    border-color: var(--au-blue-700);
    color: var(--au-blue-700);
  }

  &:hover,
  &:focus-visible,
  &:active {
    background-color: transparent;
    border-color: var(--au-blue-900);
    color: var(--au-blue-900);
  }
}

.meeting__sync-button--failed {
  & {
    background-color: var(--au-orange-200);
    border-color: var(--au-orange-500);
    color: var(--au-orange-500);
  }

  &:hover,
  &:focus-visible,
  &:active {
    background-color: var(--au-orange-200);
    border-color: var(--au-orange-700);
    color: var(--au-orange-700);
  }
}

.meeting__sync-modal__header {
  border-bottom: 1px solid var(--au-gray-300);
}

.meeting__sync-modal__treatments {
  counter-reset: list-number;
}

.meeting__sync-modal__treatments__entry {
  margin-bottom: $au-unit;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $au-unit-small;
  &::before {
    content: counter(list-number);
    counter-increment: list-number;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $au-unit;
    height: $au-unit;
    font-weight: $au-medium;
    background-color: #f7f9fc;
    border: 1px solid #cfd4db;
    border-radius: $au-unit;
  }
}
