/* ==================================
   #MEETING CHROME
   ================================== */

/* Variables
   ========================================================================== */

/* Component
   ========================================================================== */

.au-c-meeting {
  background-color: $au-gray-100;
  display: flex;
  flex-direction: row;
}

.au-c-meeting-chrome {
  width: 100%;
  padding: $au-unit $au-unit * 0.5;
  flex-grow: 1;
  position: relative;
  overflow: scroll;
  z-index: 2;
}

.au-c-meeting__sidebar-left {
  padding: $au-unit $au-unit * 0.5;
  padding-right: 0;
  align-self: flex-start;
  max-height: 100%;
  @include au-font-size($au-h6);
  flex-shrink: 0;
  overflow: scroll;
  width: 38rem;
  z-index: 10;
  @include mq($until: 1250px) {
    position: absolute;
    right: $au-unit;
    top: $au-unit-small;
    max-height: calc(100% - $au-unit-small);
  }
}

.au-c-meeting-chrome__paper {
  @include au-font-size($au-h6);
  max-width: 1250px;
  position: relative;
  width: 100%;
  background-color: $au-white;
  padding: $au-unit-large;
  box-shadow:
    0 0.1rem 0.3rem rgba($au-gray-900, 0.1),
    0 0.4rem 2rem rgba($au-gray-900, 0.035),
    0 0.1rem 0.1rem rgba($au-gray-900, 0.025);
  cursor: default;

  &:focus {
    outline: none;
  }
}

.au-c-meeting-section {
  margin-bottom: $au-unit-small * 3;

  border-bottom: 0.2rem dotted $au-gray-300;
}

.au-c-meeting-chrome-card__small-title {
  @include au-font-size($au-base);
  font-weight: 500;
}

.au-c-meeting-chrome-card {
  position: relative;
  color: $au-gray-700;
  border: 0.1rem solid $au-gray-300;
  background-color: $au-gray-100;
  margin-top: $au-unit-tiny;
  margin-bottom: $au-unit-small * 3;
  border-radius: $au-radius;

  > .au-c-button {
    position: absolute;
    left: -0.1rem;
    width: calc(100% + 0.2rem);
    border-width: 0.1rem !important;
    border-color: $au-gray-300 !important;
    background-color: $au-white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  & + .au-c-button {
    position: relative;
    margin-top: -$au-unit-small - 0.1rem !important; // Spacing hack as this button is used in multiple places
    border-width: 0.1rem !important;
    border-color: $au-gray-300 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.au-u-margin-bottom-none + .au-c-button {
    margin-top: -0.1rem !important; // Spacing hack as this button is used in multiple places
  }

  .au-c-editor-preview {
    border: 0;
    padding-left: $au-unit;
  }

  .au-c-details-list__item {
    display: flex;
    flex-direction: column;
    // grid-template-columns: minmax(10px, auto) 1fr;
    // padding: $au-unit-small 0 $au-unit-small $au-unit-small;
  }

  .au-c-details-list__label {
    font-weight: 500;
    font-style: normal;
    color: $au-gray-600;
  }

  .au-c-details-list__value {
    // display: grid;
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 0.5rem;

    .au-c-details-list__value-pill {
      padding-top: $au-unit-tiny;
    }
    .au-c-details-list__value-text {
      font-weight: 500;
      text-decoration: underline;
      border-bottom: none;
      color: $au-gray-900;
      padding-top: $au-unit-tiny;
    }
  }
}

.au-c-meeting-chrome-card--editable {
  border: 0.1rem solid $au-gray-300;
}

.au-c-meeting-chrome-card--editor {
  background-color: $au-white;
}

.au-c-meeting-chrome-card__title {
  background-color: $au-gray-200;
  padding: $au-unit-tiny $au-unit-small;
  border-bottom: 0.1rem solid $au-gray-300;
}

.au-c-meeting-chrome-card__title--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.au-c-meeting-chrome-card__title--inset {
  margin-top: -$au-unit-small;
  margin-left: -$au-unit-small;
  margin-right: -$au-unit-small;
}

.au-c-meeting-chrome-editable {
  position: relative;
  padding-top: $au-unit-small;
  color: $au-gray-700;

  .container-flex--contain {
    overflow: visible;
    margin-top: -$au-unit;
    border: 0.1rem solid $au-gray-200;
  }

  .say-container {
    position: relative;
    z-index: 9;
    overflow: visible !important;
  }

  .say-container__main {
    overflow: visible !important;
  }

  .au-c-rdfa-editor {
    overflow: visible !important;
  }

  .tasklist {
    display: none;
  }

  .say-editor {
    background-color: transparent;
    padding: $au-unit-small + $au-unit-tiny !important;
    overflow: visible !important;
  }

  .say-editor__paper,
  .say-editor__inner {
    min-height: $au-unit-huge * 2 !important;
    overflow: visible !important;
  }

  .say-editor__paper {
    box-shadow: none;
    background-color: transparent;
    padding: 0;
  }

  .say-editor:not(.show-rdfa-blocks) {
    *:after {
      display: none !important;
    }

    *:before {
      display: none !important;
    }
  }

  .say-toolbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }

  .say-container__aside {
    left: calc(100% - #{$au-unit-huge * 3.5});
    position: absolute;
    width: $au-unit-huge * 3.5;
    height: 100%;
    overflow: visible;
    z-index: 999;
    padding: $au-unit-small;

    @include mq(large) {
      left: calc(100% + #{$au-unit-large});
      width: $au-unit-huge * 4;
    }
  }

  .say-editor-hints {
    position: sticky;
    top: $au-unit + $au-unit-small + $au-unit-tiny;
  }

  .say-editor-hints__list {
    position: sticky;
    top: 0;
  }

  .say-toast {
    display: none !important;
    opacity: 0 !important;
  }

  .say-modal--fullscreen {
    transform: translate(0) !important;
    top: 96px + 20px;
    left: 0;
    height: calc(100% - 136px);
    width: calc(100% - #{$au-unit-large});
  }
}

.au-c-meeting-chrome__highlight {
  display: inline-block;
  background-color: $au-yellow-100;
  margin-top: $au-unit-tiny * 0.5;
  // cursor: not-allowed;
}

.au-c-meeting-chrome-table {
  // cursor: not-allowed;
  @include au-font-size($au-h6);
  display: table;
  position: relative;
  min-width: 50rem;
  width: 100%;
  border-collapse: separate;
  margin-bottom: -0.1rem;

  strong {
    font-style: normal;
    font-weight: 500;
    border-bottom: 0.2rem dotted $au-gray-300;
  }

  thead {
    position: relative;
    width: 100%;
    z-index: $au-z-index-alpha;
    border-top: 0;
    border-bottom: 0.1rem solid $au-gray-300;
    @include au-font-size($au-base, 1.2);
  }

  tr {
    background-color: $au-gray-100;
    position: relative;
  }

  th {
    font-weight: $au-medium;
    text-align: left;
    padding: $au-unit-tiny $au-unit-small;
    border-radius: 0;
  }

  td {
    padding: $au-unit-small;
  }

  th {
    white-space: nowrap;
  }

  th,
  td {
    border-bottom: 0.1rem solid $au-gray-300;
    max-width: 55ch;
    position: relative;
    vertical-align: middle;
  }

  th.is-selectable,
  td.is-selectable {
    width: $au-unit-large + $au-unit-tiny;
  }

  th + th,
  td + td {
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0.1rem;
      left: -0.1rem;
      top: 0;
      height: 100%;
      border-left: 0.1rem dotted $au-gray-300;
    }
  }
}

.au-c-meeting-numbered-list {
  counter-reset: list-number;

  > li + li {
    border-top: 0.1rem dashed $au-gray-300;
  }

  > li {
    position: relative;
    padding-bottom: $au-unit-small;
  }

  > li::before {
    @include au-font-size(1.3rem);
    content: counter(list-number);
    counter-increment: list-number;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -$au-unit - $au-unit-tiny;
    top: $au-unit-small + $au-unit-tiny * 0.6;
    color: $au-gray-700;
    font-weight: $au-medium;
    width: $au-unit;
    height: $au-unit;
    background-color: $au-gray-200;
    border-radius: $au-unit;
  }
}

.gn-meeting-copy--section-container {
  // We don't actually do any positioning, just need this to be 'positioned' to allow children to be
  // positioned relative to it
  position: relative;
}
.gn-meeting-copy--section-button {
  position: absolute;
  right: 0;
  top: 0;
  // Width 0 container div for the button to allow for positioning independent of text length
  width: 0;
}
.gn-meeting-copy--section-container
  .gn-meeting-copy--section-container
  .gn-meeting-copy--section-button {
  right: -1rem;
}
.gn-meeting-copy--structure {
  border: 0.1rem solid var(--au-gray-300);
  border-radius: var(--au-radius);
}
.gn-meeting-copy--structure-header {
  background-color: var(--au-gray-100);
  border-bottom: 0.1rem solid var(--au-gray-300);
  padding-left: 0.7rem;
  font-weight: var(--au-medium);
}
.gn-meeting-copy--structure-content {
  margin: 1rem;
}

.meeting-validation-card {
  border: 0;
  box-shadow:
    0 0.1rem 0.3rem rgba($au-gray-900, 0.1),
    0 0.4rem 2rem rgba($au-gray-900, 0.035),
    0 0.1rem 0.1rem rgba($au-gray-900, 0.025);
}

.meeting-validation-card__icon {
  height: 2rem;
  width: 2rem;

  .au-c-icon {
    height: 1.4rem;
    width: 1.4rem;
  }
}
