/* ==================================
   #RDFA EDITOR
   ================================== */

// Contain height of editor
.au-c-rdfa-editor {
  height: 100%;
  position: relative;
  overflow: hidden;
}
