/* ==================================
   #RDFA EDITOR
   ================================== */

// Contain height of editor
.au-c-rdfa-editor {
  height: 100%;
  position: relative;
  overflow: hidden;
}

// Hide metadata
.au-c-rdfa-editor {
  [property="heeftNotulen"],
  [property="ext:metadata"],
  [property="ext:templateVersion"] {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
}

.au-c-rdfa-publication-holder {
  background-color: $au-gray-100;
  border-left: .1rem solid $au-gray-200;
  height: 100%;
  overflow: auto;
}

.au-c-rdfa-publication-aside {
  height: 100%;
  overflow: auto;
}

.au-c-rdfa-publication {
  padding: $au-unit $au-unit-large - $au-unit-tiny/2 $au-unit $au-unit;
  margin: $au-unit;
  background-color: $au-white;
  box-shadow: 0 1px 3px rgba($au-gray-900, .2), 0 4px 20px rgba($au-gray-900, .035), 0 1px 1px rgba($au-gray-900, .025);

  *:before {
    display: none;
  }
}
