/* ==================================
  #SAY ANNOTATIONS
  ================================== */

.rdfa-annotations {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6,
  [property="dc:title"] {
    margin-bottom: 0;
  }

  [typeof="besluit:Agendapunt"] {
    margin-bottom: $say-unit-small;
  }

  // Hide superfluous annotated fields
  [property="heeftNotulen"],
  [property="ext:metadata"],
  [property="besluit:gebeurtNa"],
  [property="besluit:aangebrachtNa"],
  [property="eli:language"], // these three are metadata relevant to the document
  [typeof="ext:TasklistData"],
  [class="ext_scroll_to"],
  [property="ext:variableState"],
  [property="ext:idInSnippet"],
  [property="ext:intentionUri"],
  [typeof="ext:Variable"] {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }

  // Display roadsign details
  [prefix="mobiliteit: https://data.vlaanderen.be/ns/mobiliteit# infrastructuur: https://data.vlaanderen.be/ns/openbaardomein/infrastructuur# besluit: https://data.vlaanderen.be/ns/besluit# geosparql: http://www.opengis.net/ont/geosparql# locn: http://www.w3.org/ns/locn# xsd:http://www.w3.org/2001/XMLSchema# foaf: http://xmlns.com/foaf/0.1/"] {
    [typeof="mobiliteit:Opstelling"] {
      display: none;
    }
  }
}

// Hover annotation
.rdfa-annotations-hover:not(.show-rdfa-blocks) {
  // Hide superfluous annotations
  [typeof="besluit:Zitting"],
  [typeof="foaf:Document"],
  [property="ext:metadata"] {
    border-bottom: 0 !important;

    &:before,
    &[data-editor-position-level]:before,
    &[data-editor-position-level]:hover:before,
    &:hover:before {
      display: none !important;
      content: '' !important;
      display: none !important;
      opacity: 0 !important;
    }
  }

  // Format agenda points
  [property="ext:agendapuntenTable"] {
    [property="besluit:geplandOpenbaar"]:before,
    [property="dc:subject"]:before {
      margin-top: $au-unit - $au-unit-tiny/2;
    }
  }
}

// Disable certain annotations when editor is disabled/preview
.rdfa-annotations--disabled {
  .mark-highlight-manual,
  .mark-highlight-manual::before {
    display: none !important;
  }
}
