// ==================================
// #SAY THEME
// ==================================

// Define the look of the Say Editor by changing the variables.

// Colors
// ---
$say-primary-200              : $au-blue-200;
$say-primary-300              : $au-blue-300;
$say-primary-600              : $au-blue-600;
$say-primary-700              : $au-blue-700;
$say-primary-900              : $au-blue-900;

$say-outline-color            : $au-yellow-400;

// Font settings
// ---
$say-font    : $au-font;
$say-light   : $au-light;
$say-regular : $au-regular;
$say-medium  : $au-medium;
$say-bold    : $au-bold;


// UI
// ---
// Display options
$say-paper                       : true; // True = displays a paper like background.
$say-paper-sidebar               : true; // True = adds space for a sidebar to the right.
$say-toolbar-bottom              : false; // True = position the toolbar at the bottom.


// EDITOR
// ---
// Editor spacing and background
$say-editor-padding              : $au-unit;
$say-editor-background           : $au-gray-100;

// Paper spacing and background
$say-paper-min-height            : calc(100vh + #{$au-unit});
$say-paper-padding               : $au-unit-large;
$say-paper-background            : $au-white;
$say-paper-box-shadow            : 0 1px 3px rgba($au-gray-900, .1), 0 4px 20px rgba($au-gray-900, .035), 0 1px 1px rgba($au-gray-900, .025);

// Typography
$say-h1-font-family              : $au-font-secondary;
$say-h1-font-weight              : $au-light;
$say-h1-font-size                : $au-h1;
$say-h2-font-family              : $au-font-secondary;
$say-h2-font-weight              : $au-regular;
$say-h2-font-size                : $au-h2;
$say-h3-font-family              : $au-font-secondary;
$say-h3-font-weight              : $au-regular;
$say-h3-font-size                : $au-h3;
$say-h4-font-family              : $au-font;
$say-h4-font-weight              : $au-medium;
$say-h4-font-size                : $au-h4;
$say-h5-font-family              : $au-font;
$say-h5-font-weight              : $au-medium;
$say-h5-font-size                : $au-h5;
$say-h6-font-family              : $au-font;
$say-h6-font-weight              : $au-medium;
$say-h6-font-size                : $au-h6;
$say-base-font-family            : $au-font;
$say-base-font-weight            : $au-regular;
$say-base-font-size              : $au-base;
$say-small-font-size             : $au-base;
$say-smaller-font-size           : 1.4rem;
$say-smallest-font-size          : 1.3rem;
$say-typography-margin           : $au-unit-small;
$say-editor-private-color        : $au-yellow-600;
$say-editor-highlight-color      : $au-yellow-200;
$say-editor-highlight-hover-color: $au-yellow-100;


// TOOLBAR
// ---
$say-toolbar-background          : $au-gray-200;
$say-toolbar-border              : tint($au-gray-300,30);
$say-toolbar-height              : 44px;

// Annotation switch styling
$say-switch-label-color          : $au-gray-700;
$say-switch-color                : $au-gray-300;
$say-switch-active-color         : $au-blue-600;


// BUTTON
// ---

$say-button-height                : $au-unit + $au-unit-small;
$say-button-font-family           : $au-font;
$say-button-font-size             : $au-base;
$say-button-font-weight           : $au-regular;
$say-button-border                : .1rem;
$say-button-border-color          : $au-blue-700;
$say-button-border-hover-color    : $au-blue-600;
$say-button-color                 : $au-white;
$say-button-hover-color           : $au-white;
$say-button-bg-color              : $au-blue-700;
$say-button-bg-hover-color        : $au-blue-600;
$say-button-radius                : 0;

// Secondary button
$say-button-secondary-color               : $au-blue-700;
$say-button-secondary-hover-color         : $au-blue-600;
$say-button-secondary-border-color        : transparent;
$say-button-secondary-border-hover-color  : transparent;
$say-button-secondary-bg-color            : transparent;
$say-button-secondary-bg-hover-color      : transparent;

// Tertiary button
$say-button-tertiary-height               : $au-unit; // TODO think of height
$say-button-tertiary-color                : $au-blue-700;
$say-button-tertiary-hover-color          : $au-blue-600;
$say-button-tertiary-border-color         : transparent;
$say-button-tertiary-border-hover-color   : transparent;
$say-button-tertiary-bg-color             : $au-white;
$say-button-tertiary-bg-hover-color       : transparent;


// ANNOTATIONS
// ---
// Annotation options
$say-annotation-width            : $au-unit-huge*3;
$say-annotation-offset           : $au-unit-large;
$say-annotation-gutter           : $au-unit;
$say-annotation-width-content    : $say-annotation-width;
$say-annotation-text-color       : $au-gray-700;
$say-annotation-background-color : $au-gray-100;


// INPUT
// ---

$say-input-height                    : $au-unit + $au-unit-small;
$say-input-font-size                 : $au-h6;
$say-input-color                     : $au-gray-1000;
$say-input-border-color              : $au-gray-300;
$say-input-focus-border-color        : $say-outline-color;
$say-input-error-border              : $au-red-600;
$say-input-background-color          : $au-white;
$say-input-radius                    : 0;
$say-input-disabled-background-color : $au-gray-100;
$say-input-disabled-border-color     : $au-gray-600;
$say-input-disabled-color            : $au-gray-700;


// LABEL
// ---

$say-label-color                   : $au-gray-800 !default;


// HELP TEXT
// ---

$say-help-text-color             : $au-gray-800 !default;
$say-help-text-error-color       : $au-red-600 !default;
$say-help-text-font-size         : 1.4rem !default;


// DISABLED EDITOR
.say-content--disabled {
  cursor: default;
}
