// ==================================
// #SAY THEME
// ==================================

// Define the look of the Say Editor by changing the variables.

// Colors
// ---
$say-neutral                  : $au-gray-600;
$say-neutral-light            : $au-gray-300;
$say-neutral-lighter          : $au-gray-200;
$say-neutral-lightest         : $au-gray-100;
$say-neutral-dark             : $au-gray-700;
$say-neutral-darker           : $au-gray-800;
$say-neutral-darkest          : $au-gray-900;

$say-primary                  : $au-blue-700;
$say-primary-light            : $au-blue-600;
$say-primary-lighter          : $au-blue-300;
$say-primary-lightest         : $au-blue-200;
$say-primary-dark             : $au-blue-900;

$say-outline-color            : $au-yellow-400;

// Font settings
// ---
$say-font    : $au-font;
$say-light   : $au-light;
$say-regular : $au-regular;
$say-medium  : $au-medium;
$say-bold    : $au-bold;


// UI
// ---
// Display options
$say-paper                       : true; // True = displays a paper like background.
$say-paper-sidebar               : true; // True = adds space for a sidebar to the right.
$say-toolbar-bottom              : false; // True = position the toolbar at the bottom.


// EDITOR
// ---
// Editor spacing and background
$say-editor-padding              : $au-unit;
$say-editor-background           : $au-gray-100;

// Paper spacing and background
$say-paper-min-height            : calc(100vh + #{$au-unit});
$say-paper-padding               : $au-unit-large;
$say-paper-background            : $au-white;
$say-paper-box-shadow            : 0 1px 3px rgba($au-gray-900, .1), 0 4px 20px rgba($au-gray-900, .035), 0 1px 1px rgba($au-gray-900, .025);

// Typography
$say-h1-font-family              : $au-font-secondary;
$say-h1-font-weight              : $au-light;
$say-h1-font-size                : $au-h1;
$say-h2-font-family              : $au-font-secondary;
$say-h2-font-weight              : $au-regular;
$say-h2-font-size                : $au-h2;
$say-h3-font-family              : $au-font-secondary;
$say-h3-font-weight              : $au-regular;
$say-h3-font-size                : $au-h3;
$say-h4-font-family              : $au-font;
$say-h4-font-weight              : $au-medium;
$say-h4-font-size                : $au-h4;
$say-h5-font-family              : $au-font;
$say-h5-font-weight              : $au-medium;
$say-h5-font-size                : $au-h5;
$say-h6-font-family              : $au-font;
$say-h6-font-weight              : $au-medium;
$say-h6-font-size                : $au-h6;
$say-base-font-family            : $au-font;
$say-base-font-weight            : $au-regular;
$say-base-font-size              : $au-base;
$say-small-font-size             : $au-base;
$say-smaller-font-size           : 1.4rem;
$say-smallest-font-size          : 1.3rem;
$say-typography-margin           : $au-unit-small;
$say-editor-private-color        : $au-yellow-600;
$say-editor-highlight-color      : $au-yellow-200;
$say-editor-highlight-hover-color: $au-yellow-100;


// TOOLBAR
// ---
$say-toolbar-background          : $au-gray-200;
$say-toolbar-border              : tint($au-gray-300,30);
$say-toolbar-height              : 44px;

// Annotation switch styling
$say-switch-label-color          : $au-gray-700;
$say-switch-color                : $au-gray-300;
$say-switch-active-color         : $au-blue-600;

// Button
$say-button-height               : $au-unit + $au-unit-small;
$say-button-font-family          : $au-font;
$say-button-font-size            : $au-base;
$say-button-font-weight          : $au-regular;
$say-button-border               : .1rem;
$say-button-border-color         : transparent;
$say-button-border-hover-color   : transparent;
$say-button-color                : $au-blue-700;
$say-button-hover-color          : $au-blue-600;
$say-button-bg-color             : transparent;
$say-button-bg-hover-color       : transparent;
$say-button-radius               : 0;


// ANNOTATIONS
// ---
// Annotation options
$say-annotation-width            : $au-unit-huge*3;
$say-annotation-offset           : $au-unit-large;
$say-annotation-gutter           : $au-unit;
$say-annotation-width-content    : $say-annotation-width;
$say-annotation-text-color       : $au-gray-700;
$say-annotation-background-color : $au-gray-100;
