/* ==========================================================================
  Print
  Style what printing looks like here.
 ========================================================================== */

.u-hide-on-print--show,
.au-u-hide-on-print--show {
  border-bottom: 3px dashed $blue-gray;
  position: relative;
  margin-bottom: 6rem;

  &:before {
    content: "\f070";
    font-family: fontawesome;
    position: absolute;
    left: 2rem;
    bottom: -1.6rem;
    background-color: $blue-gray;
    color: $white;
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    display: block;
    text-align: center;
    padding-top: 0.15rem;
  }
}

@media print {
  .toolbar__annotations-switch,
  .sidebar,
  .search-box,
  .editor-commands,
  .editor-loading-events,
  .editor-chrome,
  .au-c-app-chrome,
  .tasklist.tasklist--open,
  .u-hide-on-print,
  .au-u-hide-on-print,
  .say-toolbar,
  .say-container__aside,
  .au-c-toolbar__group--search,
  .au-c-main-header {
    display: none !important;
  }

  .tasklist.tasklist--expanded {
    display: block !important;
  }

  .data-table {
    position: relative;
    width: 100%;
  }

  .container,
  .grid,
  .container-flex--contain,
  .container-flex--scroll,
  .tasklist__content {
    overflow-y: visible !important;
    display: block;
    height: auto;
  }

  // .document-print--uittreksel--blockchain-signature {
  //   .col--6-12 {
  //     width: 49%;
  //     min-width: auto;
  //     display: inline-block;
  //     vertical-align: top;
  //   }
  // }

  .editor-container {

    .grid--align-right {
      justify-content: initial;
    }

    .col--2-12 {
      display: none;
    }

    .col--8-12 {
      width: 100%;
      max-width: none;
      flex-basis: 100%;
    }
  }

  .say-container {
    all: initial;
  }

  .editor,
  .say-editor {
    background-color: transparent;
    padding: 0 !important;
  }

  .tasklist.tasklist--open + .container-flex--contain .editor__paper,
  .tasklist + .container-flex--contain .editor__paper,
  .editor__paper,
  .say-editor,
  .say-editor__paper {
    width: 100% !important;
    max-width: none;
    min-height: none;
    height: auto;
    overflow: visible;
    margin: 0;
    box-shadow: none;
    padding: 0;
    position: static !important;
    pointer-events: none;
  }

  .au-c-pill {
    border-color: $au-gray-300 !important;
  }

  .u-wide-on-print,
  .au-u-wide-on-print {
    min-width: 100% !important;
    width: 100% !important;
    max-width: none !important;
    flex-basis: 100% !important;
  }

  @page {
    counter-increment: page;
    counter-reset: page 1;
  }



  // App container
  .au-c-app-container,
  .au-c-main-container,
  .container--flex-scroll {
    overflow: auto !important;
    height: auto !important;
  }

  // Buttons
  .au-c-card .au-c-button {
    display: none !important;
  }

  .checkbox--switch__wrapper {
    display: none !important;
  }

  // Links
  .au-c-link {
    display: block !important;
    text-decoration: none !important;
  }

  // Tables
  .au-c-data-table__sort {
    display: none !important;
  }

  .au-c-data-table__header {
    border-bottom: .2rem solid $au-gray-300;
  }

  .au-c-data-table__header-title--sortable {
    text-decoration: none !important;
  }

  // Editor
  .say-container__main * {
    border-bottom: 0 !important;
  }

  .mark-highlight-manual {
    display: none !important;
  }

  // [property="ext:hiddenBesluitType"] {
  //   display: block !important;
  // }

  // Meeting print view
  .au-c-meeting-chrome .au-c-heading--1 {
    @include au-font-size($au-h2, $important: true);
  }

  .au-c-meeting-chrome .au-c-heading--3 {
    @include au-font-size($au-h4, $important: true);
  }

  .au-c-onboarding {
    display: none !important;
  }

  .au-c-meeting-chrome {
    width: 100% !important;
    left: 0 !important;
    padding: 0 !important;
  }

  .au-c-meeting-chrome .au-c-button {
    display: none !important;
  }

  .au-c-meeting-chrome strong {
    border-bottom: 0 !important;
  }

  .au-c-meeting-chrome .au-u-margin-top-huge {
    margin-top: $au-unit !important;
  }

  .au-c-meeting-chrome-card {
    margin-bottom: $au-unit !important;
  }

  .au-c-meeting-chrome__paper {
    padding: 0 !important;
  }

  // Publish
  .au-c-editor-preview-treatment--private .behandeling [property="dc:subject"]:after, .au-c-editor-preview-treatment--private .behandeling [property="eli:title"]:after, .au-c-editor-preview-treatment--private .behandeling [property="eli:description"]:after, .au-c-editor-preview-treatment--private .behandeling [property="besluit:openbaar"]:after {
    border-right-color: $au-gray-300 !important;
  }
}
