/* ==========================================================================
  Print
  Style what printing looks like here.
 ========================================================================== */

.u-hide-on-print--show,
.au-u-hide-on-print--show {
  border-bottom: 3px dashed $au-gray-300;
  position: relative;
  margin-bottom: 6rem;

  &:before {
    content: "\f070";
    font-family: fontawesome;
    position: absolute;
    left: 2rem;
    bottom: -1.6rem;
    background-color: $au-gray-300;
    color: $au-white;
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    display: block;
    text-align: center;
    padding-top: 0.15rem;
  }
}

@media print {
  .toolbar__annotations-switch,
  .sidebar,
  .search-box,
  .editor-commands,
  .editor-loading-events,
  .editor-chrome,
  .au-c-app-chrome,
  .tasklist.tasklist--open,
  .u-hide-on-print,
  .au-u-hide-on-print,
  .say-toolbar,
  .say-container__aside,
  .au-c-toolbar__group--search,
  .au-c-main-header,
  .au-c-card .au-c-button,
  .au-c-pagination button,
  .au-c-editor-preview-treatment__info .au-c-toggle-switch,
  .au-c-editor-preview-treatment__info .au-c-hr,
  .au-c-data-table__sort,
  .au-c-onboarding,
  .au-c-modal--fullscreen .au-c-modal__footer,
  .au-c-modal--fullscreen .au-c-modal__close,
  .au-template-public::before,
  .au-template-private::before,
  .au-c-template-public::before,
  .au-c-template-private::before,
  [property="besluit:geplandOpenbaar"]::before,
  [property="besluit:openbaar"]::before,
  .au-c-card .au-c-badge,
  .au-c-editor-preview-treatment-toggle-box,
  .au-c-editor-preview-treatment--private .behandeling [property="dc:subject"]::after,
  .au-c-editor-preview-treatment--private .behandeling [property="eli:title"]::after,
  .au-c-editor-preview-treatment--private .behandeling [property="eli:description"]::after,
  .au-c-editor-preview-treatment--private .behandeling [property="besluit:openbaar"]::after {
    display: none !important;
  }

  a[href]:after {
    word-break: break-all !important;
  }

  .tasklist.tasklist--expanded {
    display: block !important;
  }

  .data-table {
    position: relative;
    width: 100%;
  }

  .container,
  .grid,
  .container-flex--contain,
  .container-flex--scroll,
  .tasklist__content {
    overflow-y: visible !important;
    display: block;
    height: auto;
  }

  .say-container {
    all: initial;
  }

  .editor,
  .say-editor {
    background-color: transparent;
    padding: 0 !important;
  }

  .tasklist.tasklist--open + .container-flex--contain .editor__paper,
  .tasklist + .container-flex--contain .editor__paper,
  .editor__paper,
  .say-editor,
  .say-editor__paper {
    width: 100% !important;
    max-width: none;
    min-height: none;
    height: auto;
    overflow: visible;
    margin: 0;
    box-shadow: none;
    padding: 0;
    position: static !important;
    pointer-events: none;
  }

  .au-c-pill {
    border: none !important;
    padding: 0 !important;
    min-height: auto !important;
  }

  .u-wide-on-print,
  .au-u-wide-on-print {
    min-width: 100% !important;
    width: 100% !important;
    max-width: none !important;
    flex-basis: 100% !important;
  }

  @page {
    counter-increment: page;
    counter-reset: page 1;
    size: auto;
    margin: 6mm;
  }

  body {
    margin: 6mm !important;
  }

  // App container
  .au-c-app,
  .au-c-main-container {
    display: initial !important;
    flex-direction: initial !important;
    height: initial !important;
    overflow: initial !important;
  }

  .au-c-main-container__content--scroll {
    height: initial !important;
    overflow: initial !important;
  }

  .au-c-body-container {
    display: initial !important;
    flex-direction: initial !important;
    flex-grow: initial !important;
    height: initial !important;
    overflow: initial !important;
    position: initial !important;
  }

  .au-c-body-container--scroll {
    overflow: initial !important;
  }

  // Spacing
  .au-o-box,
  .au-o-box--large,
  .au-c-toolbar__group,
  .au-c-toolbar--large {
    margin: 0 !important;
    padding: 0 !important;
  }

  .au-c-alert,
  .au-c-list-divider__item,
  .au-c-meeting-chrome-card__title {
    padding: 5px !important
  }

  .au-u-margin-bottom,
  .au-u-margin-bottom-tiny,
  .au-u-margin-bottom-small,
  .au-u-margin-bottom-large,
  .au-u-margin-bottom-huge
  .au-u-margin-bottom-large,
  .au-c-meeting-chrome-card {
    margin-bottom: 5px !important;
  }

  .au-u-margin-top,
  .au-u-margin-top-tiny,
  .au-u-margin-top-small,
  .au-u-margin-top-large,
  .au-c-meeting-chrome-card {
    margin-top: 5px !important;
  }

  .au-u-margin-top-huge {
    margin-top: 15px !important;
  }

  .say-content {
    margin-left: 18px !important;
  }

  // Links
  .au-c-link {
    display: block !important;
    text-decoration: none !important;
  }

  // Tables
  .au-c-data-table__wrapper {
    flex-grow: initial !important;
    overflow: initial !important;
    position: initial !important;
    width: initial !important;
  }

  .au-c-data-table__table {
    display: initial !important;
    position: initial !important;
    min-width: initial !important;
    width: initial !important;
  }

  th,
  td,
  .au-c-data-table__actions--bottom {
    padding: 5px !important;
  }

  .au-c-data-table__header {
    border-bottom: .2rem solid $au-gray-300;
  }

  .au-c-data-table__header-title--sortable {
    text-decoration: none !important;
  }

  // Editor
  .say-container__main * {
    border-bottom: 0 !important;
  }

  // Meeting print view
  .au-c-meeting-chrome-card__title--inset {
    margin: 0 !important;
  }

  .au-c-meeting-chrome {
    width: 100% !important;
    left: 0 !important;
    padding: 0 !important;
  }

  .au-c-meeting-chrome .au-c-button {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }

  .au-c-meeting-chrome strong {
    border-bottom: 0 !important;
  }

  .au-c-meeting-chrome__paper {
    padding: 0 !important;
  }

  // Publish
  .au-c-editor-preview-treatment--private .behandeling [property="dc:subject"]:after, .au-c-editor-preview-treatment--private .behandeling [property="eli:title"]:after, .au-c-editor-preview-treatment--private .behandeling [property="eli:description"]:after, .au-c-editor-preview-treatment--private .behandeling [property="besluit:openbaar"]:after {
    border-right-color: $au-gray-300 !important;
  }

  .au-c-editor-preview-treatment__info,
  .au-c-modal__header,
  .au-c-modal__body {
    padding: 5px !important;
  }

  .au-c-template--treatment {
    margin-top: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .au-c-modal-backdrop {
    background-color: white !important;
  }

  .au-c-rdfa-publication {
    margin: 0 !important;
    padding: 5px !important;

  }

  .au-c-rdfa-publication-holder {
    border-left: 0 !important;
  }

  .au-c-modal--fullscreen {
    position: absolute !important;
    height: initial !important;
    max-height: initial !important;
    width: initial !important;
    max-width: initial !important;
    top: initial !important;
    left: initial !important;
    transform: initial !important;
  }

  .au-c-modal--fullscreen .au-c-modal__body {
    overflow: initial !important;
    height: initial !important;
  }

  // Editor
  .say-editor__paper {
    padding: 5px !important;
    margin: 0 !important;
  }


  // Print text styles
  * {
    font-size: 14px !important;
  }

  .au-c-content,
  body,
  p,
  ul,
  ol,
  .au-c-pill,
  .au-c-template table, .au-c-editor-preview table,
  .au-c-template table th, .au-c-template table td, .au-c-editor-preview table th, .au-c-editor-preview table td {
    font-size: 14px !important;
  }


  .au-c-heading--1,
  .au-c-content .au-c-heading--1,
  .au-c-content h1,
  .au-c-heading--1 > *,
  .au-c-modal__title {
    font-size: 24px !important;
    line-height: 28px !important;

    br {
      display: none !important;
    }
  }

  .au-c-heading--2,
  .au-c-content .au-c-heading--2,
  .au-c-content h2,
  .au-c-content h2 > * {
    font-size: 21px !important;
  }

  .au-c-heading--3,
  .au-c-template h3,
  .au-c-editor-preview h3,
  .au-c-content .au-c-heading--3,
  .au-c-content h3,
  .au-c-template--decision h3, .au-c-template--decision h4, .au-c-editor-preview .besluiten h3, .au-c-editor-preview .besluiten h4,
  .au-c-template h1,
  .au-c-template h1 > * {
    font-size: 18px !important;
  }

  .au-c-heading--4,
  .au-c-template h4,
  .au-c-editor-preview h4,
  .au-c-content .au-c-heading--4,
  .au-c-content h4,
  .au-c-template-list__item h2,
  .au-c-template-list__item h2 > *,
  .au-c-template-list__item h3,
  .au-c-template-list__item h3 > * {
    font-size: 16px !important;
  }

  .au-c-heading--5,
  .au-c-heading--6,
  .au-c-content .au-c-heading--5,
  .au-c-content .au-c-heading--6,
  .au-c-template h5,
  .au-c-template h6,
  .au-c-editor-preview h5,
  .au-c-editor-preview h6 {
    font-size: 16px !important;
  }

  .au-c-template [property="besluit:geplandOpenbaar"], .au-c-template [property="besluit:openbaar"], .au-c-editor-preview [property="besluit:geplandOpenbaar"], .au-c-editor-preview [property="besluit:openbaar"], .au-c-template-public, .au-c-template-private, [property="besluit:geplandOpenbaar"], [property="besluit:openbaar"],.au-c-template--notes [property="dc:subject"], .au-c-rdfa-publication .notulen [property="dc:subject"] {
    font-size: 16px !important;
  }

  .au-c-hr {
    border-bottom: 1px solid $au-gray-1000 !important;
  }

  .au-c-hr--large {
    margin: $au-unit-small 0 !important;
  }

  .au-c-alert {
    border-color: black !important;
  }

  .au-c-alert__icon {
    width: 18px !important;
    height: 18px !important;
    margin-right: 6px !important;
  }

  .au-c-editor-preview h5 {
    margin-top: 5px !important;
  }

  .au-c-editor-preview table {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .au-c-meeting-numbered-list > li {
    padding-top: 10px;
  }

  .au-c-meeting-numbered-list > li:before {
    content: counter(list-number) '.' !important;
    position: absolute !important;
    display: inline-block !important;
    left: 0 !important;
    top: 5px !important;
  }

  // Hide certain margins
  .au-c-editor-preview,
  .au-c-card--padding .au-c-card__header,
  .au-c-card--padding .au-c-card__content {
    padding: 0 !important;
  }

  .au-c-card,
  .au-c-editor-preview {
    border: 0 !important;
  }
}
