/* ==================================
   #BRAND
   ================================== */

/* Variables
   ========================================================================== */

$vl-brand-color                : $vl-neutral-darker !default;
$vl-brand-bg                   : $vl-white !default;
$vl-brand-text                 : $vl-neutral-darker !default;
$vl-brand-border               : $vl-neutral-light !default;
$vl-brand-height               : $vl-unit-large - $vl-unit-tiny !default;

/* Component
   ========================================================================== */

.vl-c-brand {
  display: flex;
  align-items: center;
}

  .vl-c-brand__logo {
    position: relative;
    width: $vl-unit-large - $vl-unit-tiny;
    height: $vl-brand-height;
    padding: $vl-unit-tiny $vl-unit-tiny $vl-unit-tiny $vl-unit-tiny*1.4;
    margin-right: $vl-unit - $vl-unit-tiny;
    overflow: hidden;
    background-color: $vl-brand-bg;

    svg {
      fill: $vl-brand-color;
      height: 100%;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: -.3rem;
      border-top: 9rem solid
      $vl-brand-border;
      border-left: 3.07818rem solid
      transparent;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: -.1rem;
      bottom: -.3rem;
      border-top: 9rem solid
      $vl-white;
      border-left: 3.07818rem solid
      transparent;
    }
  }

  .vl-c-brand__logotype {
    @include vl-font-size(1.8rem,1);
    position: relative;
    top: -.1ex;
    font-family: "Flanders Art Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: $vl-regular;
    color: $vl-brand-text;
    margin-left: -$vl-unit-small + $vl-unit-tiny/2;
    margin-right: $vl-unit-small;
    padding-right: $vl-unit-small + $vl-unit-tiny/2;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -.15rem;
      right: 0;
      transform: rotate($vl-rotation);
      width: 1px;
      height: 2.3rem;
      background-color: $vl-neutral-light;
    }
  }
