/* ==================================
   #BUTTON LINK
   Button styled as a link
   ================================== */

/* Variables
   ========================================================================== */


/* Component
   ========================================================================== */

.vl-c-button-link {
  @include vl-font-size($vl-base,.7);
  font-family: $vl-font;
  font-weight: $vl-regular;
  padding: $vl-unit-tiny;
  border: 0;
  outline: 0;
  appearance: none;
  -webkit-appearance: none; // doesn't work without prefix on Safari iOS11
  position: relative;
  display: inline-flex;
  align-items: center;
  text-underline-offset: .3ex;
  text-decoration: underline;
  text-decoration-color: $vl-action-underline;
  color: $vl-action-color;
  background-color: transparent;
  transition: color $vl-transition;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $vl-action-hover-color;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: $vl-action-underline-hover;
  }

  &:focus {
    outline: $vl-outline;
  }

  &:active {
    background-color: transparent;
  }

  &:visited {
    background-color: transparent;
  }
}

.vl-c-button-link--action {
  color: $vl-neutral-darker;
  text-decoration-color: $vl-neutral-light;

  &:hover,
  &:focus {
    color: $vl-action-hover-color;
    text-decoration-color: $vl-action-underline-hover;
  }
}

.vl-c-button-link--block {
  width: 100%;
}
