/* ==================================
   #BRAND
   ================================== */

/* Variables
   ========================================================================== */

$vl-brand-color                : $vl-neutral-darker !default;
$vl-brand-bg                   : $vl-white !default;
$vl-brand-text                 : $vl-neutral-darker !default;
$vl-brand-border               : $vl-neutral-light !default;

/* Component
   ========================================================================== */

.vl-c-brand {
  display: flex;
  align-items: center;
}

  .vl-c-brand__logo {
    position: relative;
    width: $vl-unit-large;
    height: $vl-unit-large - $vl-unit-tiny;
    padding: $vl-unit-tiny $vl-unit-small;
    margin-right: $vl-unit - $vl-unit-tiny;
    overflow: hidden;
    background-color: $vl-brand-bg;

    svg {
      fill: $vl-brand-color;
      height: 100%;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: -.3rem;
      border-top: 9rem solid
      $vl-brand-border;
      border-left: 3.07818rem solid
      transparent;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: -.1rem;
      bottom: -.3rem;
      border-top: 9rem solid
      $vl-white;
      border-left: 3.07818rem solid
      transparent;
    }
  }

  .vl-c-brand__logotype {
    @include vl-font-size(1.9rem);
    font-family: "Flanders Art Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: $vl-regular;
    color: $vl-brand-text;
    margin-left: -$vl-unit-small;
    padding-bottom: .1ex; // Visual fix for low font baseline and no descenders
  }
