/* ==================================
   #HEADER
   ================================== */

/* Variables
   ========================================================================== */

$vl-header-bg                : $vl-white !default;
$vl-header-border            : $vl-neutral-lighter !default;

/* Component
   ========================================================================== */

.vl-c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $vl-header-bg;
  box-shadow: 0 1px 3px rgba($vl-neutral-darkest, .1), 0 4px 20px rgba($vl-neutral-darkest, .035), 0 1px 1px rgba($vl-neutral-darkest, .025);
}

  .vl-c-header__title-group {
    display: flex;
    align-items: center;
    color: $vl-neutral-darkest;
    text-decoration: none;
  }

  .vl-c-header__title {
    @include vl-font-size($vl-base,.7);
    font-weight: $vl-regular;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding: $vl-unit-tiny;
    color: $vl-neutral-darker;
    text-decoration: underline;
    text-decoration-color: $vl-neutral-light;
    text-underline-offset: .3ex;
    transition: color $vl-transition;
    letter-spacing: .03ex;

    &:hover,
    &:focus {
      color: $vl-action-hover-color;
      text-decoration: underline;
      text-decoration-color: $vl-action-underline-hover;
    }

    &:focus {
      outline: $vl-outline;
    }
  }

  .vl-c-header__skiplink {
    @include vl-font-size($vl-base,.7);
    font-weight: $vl-light;
    position: relative;
    transition: color $vl-transition;
    letter-spacing: .03ex;
    margin-left: $vl-unit-small;
    padding: $vl-unit-tiny;
    background-color: $vl-neutral-lightest;
    border-radius: $vl-radius;
    top: -1000px;
    left: -1000px;

    &,
    &:hover,
    &:focus {
      color: $vl-neutral-darker;
      text-decoration: underline;
      text-decoration-color: $vl-neutral-light;
    }

    &:focus {
      outline: $vl-outline;
      top: 0;
      left: 0;
    }
  }


  .vl-c-header__actions {
    display: flex;
    align-items: center;
    padding: $vl-unit-tiny $vl-unit-small ;
  }
