/* ==================================
   #ICONS
   ================================== */

.vl-c-icon {
  width: .75em;
  height: .75em;
  position: relative;
  vertical-align: baseline;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
