/* ==================================
   #LOGOUT
   Specific logout button
   ================================== */

.vl-c-logout {
  @include vl-font-size($vl-base);
  font-family: $vl-font;
  font-weight: $vl-regular;
  height: $vl-unit-large - $vl-unit-small;
  text-decoration: none;
  text-align: center;
  outline: 0;
  appearance: none;
  -webkit-appearance: none; // doesn't work without prefix on Safari iOS11
  display: inline-flex;
  align-items: center;
  padding: 0 $vl-unit .1ex; // Visually center the text in the button
  border: 0;
  border-radius: 0;
  position: relative;
  color: $vl-neutral-darker;
  text-decoration: underline;
  text-decoration-color: $vl-neutral-light;
  text-underline-offset: .3ex;
  background-color: transparent;
  transition: color $vl-transition;
  cursor: pointer;

  &::before {
    position: relative;
    margin-right: $vl-unit-tiny;
    bottom: -.1ex;
    content: "";
    width: .75em;
    height: .75em;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' fill='%23545B63' viewBox='0 0 44 44'%3E%3Cpath d='M14.5021008,0 L14.5021008,4.83403361 L33.8382353,4.83403361 L33.8382353,29.0042017 L14.5021008,29.0042017 L14.5021008,33.8382353 L38.6722689,33.8382353 L38.6722689,0 L14.5021008,0 Z M9.66806723,9.66806723 L0,16.9191176 L9.66806723,24.1701681 L9.66806723,19.3361345 L29.0042017,19.3361345 L29.0042017,14.5021008 L9.66806723,14.5021008 L9.66806723,9.66806723 Z' transform='translate(2.5 4.794)'/%3E%3C/svg%3E%0A");
  }

  &:hover,
  &:focus {
    color: $vl-neutral-dark;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: $vl-neutral-light;
  }

  &:focus {
    outline: $vl-outline;
  }

  &:active {
    background-color: transparent;
  }

  &:visited {
    background-color: transparent;
  }
}
