/* ==================================
   #POPOVER
   ================================== */

/* Variables
   ========================================================================== */

$au-popover-color             : $au-primary !default;
$au-popover-hover-color       : $au-primary-light !default;

/* Component
   ========================================================================== */

.au-c-popover {
  // @TODO: rework popover component (add tabindex, ...)
}

  .au-c-popover__toggle {
    @include au-font-size($au-base,1);
    display: flex;
    align-items: center;
    cursor: default;
    padding: 0 $au-unit-tiny;
    border-radius: $au-radius;
    text-decoration: none;
    text-underline-offset: .3ex;
    text-decoration-color: $au-neutral-light;
    color: $au-popover-color;
    background-color: transparent;
    transition: color $au-transition, background-color $au-transition;
    cursor: pointer;

    &:hover,
    &:focus,
    &:focus-within,
    .js-popover--open & {
      color: $au-popover-hover-color;
      background-color: transparent;
      background-color: $au-neutral-lightest;
    }

    &:focus,
    &:focus-within {
      outline: $au-outline;
    }

    &:active {
      background-color: transparent;
    }

    &:visited {
      background-color: transparent;
    }
  }

  .au-c-popover__name {
    font-family: $au-font;
    font-weight: $au-regular;
    position: relative;
  }

  .au-c-popover__button {
    font-size: inherit;
    color: inherit;
    border: 0;
    outline: 0;
    appearance: none;
    -webkit-appearance: none; // doesn't work without prefix on Safari iOS11
    display: inline-flex;
    align-items: center;
    width: $au-unit;
    height: $au-unit;
    border-radius: 50%;
    margin-right: -$au-unit-tiny;
    text-underline-offset: .3ex;
  }

  .au-c-popover__list {
    padding: 0;
    margin-bottom: 0;
    overflow: visible;

    .js-popover--open & {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      right: 0;
      left: auto;
      min-width: 100%;
      width: auto;
      top: $au-unit + $au-unit-tiny;
      box-shadow: 0 0 12px rgba($au-neutral-darkest,.15), 0 0 2px rgba($au-neutral-darkest,.1);
      box-shadow: 0 1px 3px rgba($au-neutral-darkest, .1), 0 2px 20px rgba($au-neutral-darkest, .1), 0 1px 1px rgba($au-neutral-darkest, .05);
      border-radius: $au-radius;
    }

    &:after, &:before {
      bottom: 100%;
      right: $au-unit-tiny*1.5;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba($au-white, 0);
      border-bottom-color: $au-white;
      border-width: 4px;
      margin-left: -4px;
    }

    &:before {
      border-color: rgba($au-white, 0);
      border-bottom-color: $au-neutral-lighter;
      border-width: 4px;
      margin-left: -4px;
    }
  }

  .au-c-popover__list-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: $au-unit-tiny/2;

    & + & {
      border-top: 1px dotted $au-neutral-light;
    }
  }
