

/* ==========================================================================
   #PAGE
   ========================================================================== */

/* Variables
   ========================================================================== */

$au-page-bg                  : $au-white !default;
$au-select-text-color        : $au-neutral-darkest  !default;
$au-select-text-bg           : $au-primary-lightest  !default;


/* Elements
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `line-height` for the entire project,
 *    sourced from our default variables. The `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Set font size to be compatible with WU3 en LNE webcomponents
 */

html {
  // font-family: $au-font;
  // font-size: 62.5%; /* [4] */
  // overflow-y: scroll; /* [2] */
  // min-height: 100%; /* [3] */
  // background-color: $au-page-bg;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern';
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  // font-size: $au-global-font-size; /* [4] */
  // line-height: $au-global-line-height; /* [1] */
}

::-moz-selection {
  color: $au-select-text-color;
  background-color: $au-select-text-bg;
}

::selection {
  color: $au-select-text-color;
  background-color: $au-select-text-bg;
}

:focus,
a:focus,
button:focus {
  outline: $au-outline;
}

// Only show outlines to keyboard users
:focus:not(:focus-visible),
a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: none
}
