// ==================================
// #COLORS
// ==================================

// Tint & shade helper functions

// Makes a color lighter
@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}

// Makes a color darker
@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}

// Base colors
$vl-white                    : #FFFFFF;
$vl-black                    : #202326;

$vl-neutral                  : #6D7783;
$vl-neutral-light            : #CBD2DA;
$vl-neutral-lighter          : #E8EBEE;
$vl-neutral-lightest         : #F3F5F6;
$vl-neutral-dark             : #545B63;
$vl-neutral-darker           : #3b4146;
$vl-neutral-darkest          : #202326;

$vl-yellow                   : #FEE539;

$vl-blue                     : #0F68C9;
$vl-blue-light               : #1075E2;
$vl-blue-lighter             : #AAD0F9;
$vl-blue-lightest            : #DCECFD;
$vl-blue-dark                : #0C56A6;

$vl-red                      : #DB3434;
$vl-red-light                : #FF3333;
$vl-red-lighter              : #FBE6E6;
$vl-red-lightest             : #FCF3F3;
$vl-red-dark                 : #C32323;
$vl-red-darker               : #470000;

$vl-green                    : #8BAE00;
$vl-green-light              : #B3E000;
$vl-green-lighter            : #E8EFC2;
$vl-green-lightest           : #F7FAE5;
$vl-green-dark               : #637A0B;
$vl-green-darker             : #323D08;

$vl-orange                   : #FFC515;
$vl-orange-light             : #FEE539;
$vl-orange-lighter           : #FFF29B;
$vl-orange-lightest          : #FFF9D5;
$vl-orange-dark              : #7C6B3A;
$vl-orange-darker            : #5C4F2B;




// Semantic color variables
$vl-header-bg                : $vl-white;
$vl-header-border            : $vl-neutral-lighter;
$vl-page-bg                  : $vl-white;
$vl-select-text-color        : $vl-neutral-darkest;
$vl-select-text-bg           : $vl-blue-lightest;
$vl-action-color             : $vl-blue;
$vl-action-fg-color          : $vl-white;
$vl-action-hover-color       : $vl-blue-light;
$vl-action-active-color      : $vl-blue-light;
$vl-action-visited-color     : $vl-blue-dark;
$vl-action-active-color      : $vl-blue-dark;
$vl-action-underline         : $vl-blue-light;
$vl-action-underline-hover   : $vl-blue-lighter;
$vl-action-error-color       : $vl-red-dark;
$vl-action-error-hover-color : $vl-red;
$vl-action-disabled-color    : $vl-neutral-darker;
$vl-action-disabled-fg-color : $vl-neutral-dark;
$vl-outline-color            : $vl-orange;

