// ==================================
// #GLOBAL
// ==================================

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.


// Breakpoints
// ---
$mq-breakpoints: (
  xsmall: 500px,
  small: 767px,
  medium: 1023px,
  large: 1600px
);
// Uncomment line below to show breakpoint indicators
// $mq-show-breakpoints: (xsmall, small, medium, large);


// Typography
// ---
// Global font size and line height
$au-global-font-size: 1.8rem;
$au-global-line-height: 1.5;

// Font families
$au-font: "Flanders Art Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$au-font-primary: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$au-font-secondary: "Flanders Art Serif";
$au-font-tertiary: courier, monospace;


// Font styles
$au-light: 400;
$au-regular: 500;
$au-medium: 600;
$au-bold: 700;


// Sizes
$au-base: 1.4rem;
$au-font-size-ratio: 1.2;
$au-h6: $au-base * $au-font-size-ratio;
$au-h5: $au-h6 * $au-font-size-ratio;
$au-h4: $au-h5 * $au-font-size-ratio;
$au-h3: $au-h4 * $au-font-size-ratio;
$au-h2: $au-h3 * $au-font-size-ratio;
$au-h1: $au-h2 * $au-font-size-ratio;


// Spacing units
// ---
$au-unit-base: .6rem;
$au-unit-ratio: 2;
$au-unit-tiny: $au-unit-base;
$au-unit-small: $au-unit-tiny * $au-unit-ratio;
$au-unit: $au-unit-small * $au-unit-ratio;
$au-unit-large: $au-unit * $au-unit-ratio;
$au-unit-huge: $au-unit-large * $au-unit-ratio;


// Objects settings
// ---
// Layout
$au-layout-width: 1280px;
$au-layout-width-small: 768px;
$au-layout-width-large: 1600px;
$au-layout-breakpoint: medium;

// Region
$au-region-breakpoint: medium;


// UI
// ---
// Globals
$au-rotation: -20deg;
$au-radius: .4rem;
$au-border: .2rem;
$au-outline-border: $au-border;
$au-outline-border-style: dashed;
$au-outline: $au-outline-border $au-outline-border-style $au-outline-color;

// Buttons
$au-button-height: $au-unit-large - $au-unit-small;
$au-button-font-size: $au-h6;
$au-button-border: .2rem;

// Transitions
$au-duration: (1/8) + s;
$au-easing: cubic-bezier(0.190,  1.000, 0.220, 1.000);
$au-transition: $au-duration $au-easing;

// Z-indexes
$au-z-index-alpha: 1;
$au-z-index-beta: 2;
$au-z-index-gamma: 3;
