// ==================================
// #GENERATE UTILITIES
// ==================================

// Headings
// ---
$au-headings: (
  'h1': $au-h1,
  'h2': $au-h2,
  'h3': $au-h3,
  'h4': $au-h4,
  'h5': $au-h5,
  'h6': $au-h6
);

$au-font-weights: (
  'light': $au-light,
  'regular': $au-regular,
  'medium': $au-medium,
  'bold': $au-bold
);


// Widths
// ---
$au-fractions: 1 2 3 4 5 6;
// Be aware that enabling offsets produces a large chunk of classes which might
// bloat your CSS, depending of the amount of breakpoints you defined.
// Only set this to `true` if you are absolutely sure about what you are doing.
$au-offsets: false;


// Spacing
// ---
$au-spacing-directions: (
  null: null,
  '-top': '-top',
  '-right': '-right',
  '-bottom': '-bottom',
  '-left': '-left',
);

$au-spacing-properties: (
  'padding': 'padding',
  'margin': 'margin',
);

$au-spacing-sizes: (
  null: $au-unit,
  '-tiny': $au-unit-tiny,
  '-small': $au-unit-small,
  '-large': $au-unit-large,
  '-huge': $au-unit-huge,
  '-none': 0
);

$au-responsive-spacing-directions: (
  null: null,
  '-top': '-top',
  '-right': '-right',
  '-bottom': '-bottom',
  '-left': '-left',
);

$au-responsive-spacing-properties: (
  'padding': 'padding',
  'margin': 'margin',
);

$au-responsive-spacing-sizes: (
  null: $au-unit,
  '-tiny': $au-unit-tiny,
  '-small': $au-unit-small,
  '-large': $au-unit-large,
  '-huge': $au-unit-huge,
  '-none': 0
);
