<div class="au-c-environment-banner">
<AuToolbar @size='medium'>
  <AuToolbarGroup>
    <p>
      Environment
      {{@environmentName}}
    </p>
    <p>
      Gelinkt Notuleren {{this.applicationVersion}}
    </p>
    <VersionInformationOverview/>
  </AuToolbarGroup>
</AuToolbar>
</div>
