Meeting form
<div>
    <div>
      Planned Start: <WuDatepicker @value={{mut this.geplandeStart}} />
    </div>
    <div>
      Locatie: <input type='text'>
    </div>
    <div>
      Started at: <WuDatepicker @value={{mut this.gestartOpTijdstip}}/>
    </div>
    <div>
      Finished at: <WuDatepicker @value={{mut this.geeindigdOpTijdstip}}/>
    </div>
  <WuButton @onClick={{action "save"}}>Save</WuButton>
</div>
