{{#if this.args.bestuursorgaan}}
  <div class="modal-dialog__footer">
    {{#wu-button-group}}
      {{wu-button
        label="Beheer aanwezigen"
        isNarrow=true
        onClick=(action "togglePopup")
        disabled=loadData.isRunning
      }}
    {{/wu-button-group}}
  </div>
{{/if}}

{{# if popup}}
  {{#wu-modal
     title="Beheer aanwezigen"
     dialog-class="modal-dialog--wide modal-dialog--sectioned"
     onClose=(action 'togglePopup')
     as |m|}}
    {{#m.content isSectioned=false}}
      <ParticipationList::Modal
        bestuurseenheid=bestuurseenheid
        bestuursorgaan=bestuursorgaan
        editMode=info.editMode
        outputId=outputId
        propertyToUse=info.propertyToUse
        domTable=info.domNodeToUpdate
        editTable=info.editMode
      />
    {{/m.content}}
    <div class="modal-dialog__footer">
      {{#wu-button-group}}
        {{wu-button label="Voeg aanwezigen in" class="button button--narrow" onClick=(action 'insert')}}
        {{wu-button label="Annuleer" class="button button--alt button--narrow" onClick=(action 'togglePopup')}}
      {{/wu-button-group}}
    </div>
  {{/wu-modal}}
{{/if}}
{{yield}}
