<div class="au-c-body-container au-c-body-container--scroll">
  {{yield (hash
                  Header=(component "print-view/print-header")
                  Body=(component "print-view/print-body")
          ) }}
</div>
