<div class="au-c-meeting-chrome-card au-u-margin-bottom-small au-u-margin-top-small">
  <div class="au-c-meeting-chrome-card__title au-c-meeting-chrome-card__title--flex">
    <AuHeading @level="4" @skin="6">{{@title}} </AuHeading>
    {{#if @attachments}}
      <AuPill @skin="border" @icon="attachment" @iconAlignment="left">
        {{@attachments.length}}
      </AuPill>
    {{/if}}
  </div>
  <div class="au-o-box au-o-box--small au-c-editor-preview say-content">
    {{yield}}
  </div>
</div>
