<div class="au-c-meeting-chrome-card au-u-margin-bottom-small au-u-margin-top-small">
  <AuHeading @level="4" @skin="6" class="au-c-meeting-chrome-card__title">{{@title}}</AuHeading>
  <div class="au-o-box au-o-box--small au-c-editor-preview">
    {{yield}}
  </div>
</div>
