{{#if this.hasSnippets}}
<AuAlert
  @title="Informatie uit een externe bron beschikbaar om in te voegen"
  @skin="info"
  @icon="info-circle"
  @closable={{true}}
>
  <p>Maak een nieuw agendapunt of open een bestaand punt om de inhoud in te voegen.</p>
</AuAlert>
{{else if this.hasErrors}}
<AuAlert
  @title="Ophalen van informatie gefaald"
  @skin="warning"
  @icon="alert-triangle"
  @closable={{true}}
>
  <p>Er is een probleem opgetreden met het ophalen van informatie uit een externe bron.</p>
</AuAlert>
{{/if}}
