<AuMainHeader @brandLink="https://www.vlaanderen.be/nl" @homeRoute="index" @appTitle="Gelinkt Notuleren" @contactRoute="contact">
  <a class="au-c-button au-c-button--tertiary" href={{this.loginUrl}}>
    <svg role="img" class="au-c-icon au-c-icon--login au-c-icon--left " aria-hidden="true">
      <use xlink:href="/@appuniversum/ember-appuniversum/appuniversum-symbolset.svg#login"></use>
    </svg>Aanmelden
  </a>
</AuMainHeader>

{{!-- Refocus after page navigation --}}
<NavigationNarrator />

<div class="au-c-main-container">
  <div class="au-c-main-container__content au-c-main-container__content--scroll">
    <div class="page">
      <main id="content">
        <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is gelinkt notuleren">
          {{!-- template-lint-disable require-valid-alt-text  --}}
          <img sizes="50vw" src="/assets/images/loket-header-1600.jpg" srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w" alt="een laptop met daarop het vlaanderen logo.">
        </AuContentHeader>
        {{yield}}
      </main>
    </div>

    <AuMainFooter>
      <AuHeading @level="3" @skin="4">
        Gelinkt-notuleren.vlaanderen.be is een officiële website van de Vlaamse overheid
      </AuHeading>
      <AuContent @skin="small">
        <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a></p>
        <ul class="au-c-list-horizontal">
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.disclaimer" @skin="secondary">Disclaimer</AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.cookieverklaring" @skin="secondary">Cookieverklaring</AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            <AuLink @route="legaal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheid</AuLink>
          </li>
        </ul>
      </AuContent>
    </AuMainFooter>
  </div>
</div>
