<h1>Manual</h1>
<p>
  Expects the following JSON:
  [
  {
  "type": "besluit:Zitting",
  "newUri": "http://new",
  "oldUri": "http://old"
  }
  ]
</p>
<Textarea @value={{uriData}} />
<WuLinkButton @class="button--small button--link u-spacer--left--tiny" @isNarrow={{true}} @onClick={{action "replace"}}>
  Replace
</WuLinkButton>
<p>
  {{{resultLog}}}
</p>
