<div class="au-o-box">
  <AuHeading @skin="2" class="au-u-margin-bottom-small">Aan het laden</AuHeading>
  <AuLoader @padding="small" />
  <AuHelpText @size="normal">Bedankt voor uw geduld.</AuHelpText>
</div>