<div class="au-o-box">
  <AuHeading @skin="2" class="au-u-margin-bottom-small">{{t "inbox.loading"}}</AuHeading>
  <AuLoader @padding="small" />
  <AuHelpText @size="normal">{{t "inbox.patience-text"}}</AuHelpText>
</div>