<div class="au-o-box">
  <h1 class="h1" style="margin-bottom: 2rem; font-size: 3rem;">Aan het laden</h1>
  <div class="grid">
    <div class="col--12-12">
      <span class="loader"></span>
    </div>
  </div>
  <p style="font-size: 1.5rem;">Bedankt voor uw geduld.</p>
</div>