<div class='au-c-meeting-section' ...attributes>
  <AuHeading
    @level='2'
    @skin='3'
    class='au-c-onboarding-wrapper au-u-margin-bottom-small'
  >
    {{@title}}
  </AuHeading>
  <AuAlert @skin='info' @size='tiny' class="au-u-hide-on-print">
    {{@helpText}}
  </AuAlert>
  {{yield}}
</div>