<div ...attributes>
  <div class='au-u-flex au-u-flex--between au-u-flex--vertical-center'>
    {{#if @title}}
      <AuHeading @level='3' @skin='6'>
        {{@title}}
      </AuHeading>
    {{/if}}
    {{#if (has-block 'button')}}
      {{yield to='button'}}
    {{/if}}
  </div>
  <div class='au-c-meeting-chrome-card'>
    {{yield to='body'}}
  </div>
</div>