<p class="smaller uppercase text-fade">Gepubliceerd door</p>
<p class="u-spacer--bottom--small">{{signature.gebruiker.voornaam}} {{signature.gebruiker.achternaam}} <br> {{moment-format signature.createdOn 'L LT'}}</p>

<Signatures::BlockchainStatus @model={{signature}} />
