<p class="smaller uppercase text-fade">Ondertekend door</p>
<p class="u-spacer--tb--tinier">{{signature.gebruiker.voornaam}} {{signature.gebruiker.achternaam}} <br> {{moment-format signature.createdOn 'L LT'}}</p>

{{signatures/blockchain-status model=signature}}
