<p class="smaller uppercase text-fade">Ondertekend door</p>
<p class="u-spacer--tb--tinier">{{signature.gebruiker.voornaam}} {{signature.gebruiker.achternaam}} <br> {{moment-format signature.createdOn 'L LT'}}</p>

{{!--
Placeholder for blockchain:

<div class="grid grid--collapse">
	<div class="col--1-12">
		<i class="text-fade vi vi-clock vi-u-s"></i>
	</div>
	<div class="col--11-12">
		<p class="text-fade smaller uppercase">Versleuteling bezig</p>
	</div>
</div>

<div class="grid grid--collapse">
	<div class="col--1-12">
		<i class="text-fade fa fa-lock vi-u-s"></i>
	</div>
	<div class="col--11-12">
		<p class="text-fade smaller uppercase">Verificatiesleutel<br><span class="smallest">addc9320-02de-11e9-9174-89295b788e5c</a></p>
	</div>
</div>
 --}}
