<p class="u-spacer--bottom--tiny">{{signature.gebruiker.voornaam}} {{signature.gebruiker.achternaam}} <br> {{moment-format signature.createdOn 'L LT'}}</p>

{{signatures/blockchain-status model=signature}}
