<h1 class="h1">Disclaimer</h1>
<div class="grid">
  <div class="col--12-12--m col--8-12">
    <div class="content u-spacer typography">
      <h2 class="h2">Gebruik van de website</h2>
      <p>De Vlaamse overheid besteedt veel aandacht en zorg aan haar websites, en streeft ernaar dat alle informatie zo volledig, juist, begrijpelijk, nauwkeurig en actueel mogelijk is. Ondanks alle inspanningen kan het gebeuren dat de informatie niet volledig, juist, nauwkeurig, bijgewerkt is of wordt weergegeven.</p>
      <p>Als de informatie die u vindt op deze website of ontvangt via telefoon, e-mail of sociale media tekortkomingen vertoont, zal de Vlaamse overheid al het mogelijke doen om dat zo snel mogelijk recht te zetten. Als u onjuistheden vaststelt, kan u met ons contact opnemen. Wij streven ernaar om uw melding zo snel mogelijk te behandelen. De Vlaamse overheid spant zich ook in om onderbrekingen van technische aard zo veel mogelijk te voorkomen. De Vlaamse overheid kan echter niet garanderen dat de websit volledig vrij is van onderbrekingen en andere technische problemen.</p>
      <p>Het is mogelijk dat bepaalde inhoud van onze website kan gedownload worden. Dit is steeds op eigen risico. Schade ten gevolge van verlies van data of schade aan de computer valt volledig en uitsluitend onder de verantwoordelijkheid van de gebruiker.</p>
      <p>Derden, bezoekers aan de website en gebruikers van diensten moeten zich onthouden van handelingen die het gebruik van de website in gevaar kunnen brengen. Stel dat een dergelijke handelingen die goede werkingen en/of het veilige karakter van de website en/of haar diensten in gedrang breng en/of tot de gebrekkige toegankelijkheid.</p>
      <h3 class="h3">Inhoud en informatie op de website</h3>
      <p>We besteden grote zorg aan de website en de informatie die erop staat. We kunnen onze website en haar inhoud steeds wijzigen, aanvullen of verwijderen. Toch kunnen we geen garanties geven omtrent de kwaliteit van de informatie op onze website. Het is dus mogelijk dat de informatie onvolledig is, niet accuraat en/of niet nuttig is. We zijn bijgevolg niet aansprakelijk voor directe of indirecte schade ten gevolge van handelingen die de gebruiken of bezoeker neemt op basis van de informatie op onze website. Zo verschijnt er op de website ook informatie en bestanden afkomstig van derde partijen. Deze derde partijen zijn zelf verantwoordelijk voor de kwaliteit van deze inhoud en bestanden.</p>
      <h3 class="h3">Hyperlinks en verwijzingen</h3>
      <p>Deze site bevat hyperlinks naar websites van andere overheden, instanties en organisaties, en naar informatiebronnen die door derden worden beheerd. De Vlaamse overheid beschikt voor deze sites over geen enkele technische of inhoudelijke controle of zeggenschap en kan daarom geen enkele garantie bieden over de volledigheid of juistheid van de inhoud en over de beschikbaarheid van de websites en informatiebronnen.</p>

      <h2 class="h2">Bescherming van persoonsgegegevens</h2>
      <p>De Vlaamse overheid hecht veel belang aan de bescherming van uw persoonlijke levenssfeer. De gegevens worden steeds verwerkt in overeenstemming met de bepalingen van de algemene verordening gegevensbescherming (AVG), en met de bepalingen van de federale en Vlaamse regelgeving over de bescherming van natuurlijke personen bij de verwerking van persoonsgegevens.</p>
    </div>
  </div>
</div>
