<AuContent class="au-u-3-4@medium">
  <AuHeading>Toegankelijkheidsverklaring</AuHeading>
  <p>Agentschap Binnenlands Bestuur streeft ernaar zijn websites en mobiele applicaties toegankelijk te maken, overeenkomstig het <a href="http://www.ejustice.just.fgov.be/eli/decreet/2018/12/07/2018032457/justel" target="_blank" rel="noopener noreferrer">Bestuursdecreet van 7 december 2018</a>.</p>
  <p>Deze toegankelijkheidsverklaring is van toepassing op <a href="https://gelinkt-notuleren.vlaanderen.be">gelinkt-notuleren.vlaanderen.be</a></p>

  <h2>Nalevingsstatus</h2>
  <p>Deze web applicatie voldoet gedeeltelijk aan de <a href="https://www.w3.org/Translations/WCAG21-nl/" target="_blank" rel="noopener noreferrer">Richtlijnen voor Toegankelijkheid van Webcontent (WCAG) 2.1 Niveau AA</a>, omdat niet aan de onderstaande eis(en) is voldaan.</p>

  <h2>Niet-toegankelijke inhoud</h2>

  <p>De onderstaande inhoud is niet-toegankelijk om de volgende reden(en):</p>
  <ul>
    <li>
      <p><strong>Tekst editor:</strong> slechts een deel van tekst editor functionaliteit, en diens plugins is toegankelijk via het toetsenbord (<a href="https://www.w3.org/Translations/WCAG21-nl/#toetsenbord-geen-uitzondering" target="_blank" rel="noopener noreferrer">Succescriterium 2.1.3 Toetsenbord</a>).</p>
      <br>

      <p><strong>Onevenredige last</strong></p>
      <p>Hiervoor wordt de vrijstelling op grond van onevenredige last ingeroepen, in de zin van <a href="https://eur-lex.europa.eu/legal-content/NL/ALL/?uri=CELEX%3A32016L2102#d1e807-1-1" target="_blank" rel="noreferrer noopener">artikel 5 van Richtlijn (EU) 2016/2102</a> en art. II.16 <a href="http://www.ejustice.just.fgov.be/eli/decreet/2018/12/07/2018032457/justel#Art.II.16" target="_blank" rel="noopener noreferrer">Bestuursdecreet van 7 december 2018</a>. We hebben momenteel geen gebruikers.</p>
      <br>
    </li>
    <li>
      <strong>Paginatitels:</strong> Webpagina's hebben geen titels die het onderwerp of doel beschrijven. (<a href="https://www.w3.org/Translations/WCAG21-nl/#paginatitel" target="_blank" rel="noopener noreferrer">Succescriterium 2.1.3 Toetsenbord</a>). <br>
      <em>Alternatief:</em> er werd een "web page announcer" toegevoegd die zal aankondigen wanneer er een nieuwe link bezocht wordt. De titel wordt nog niet aangekondigd.
      <br>
    </li>
    <li>
      <strong>Focus:</strong> Niet elke gebruikersinterface die met een toetsenbord te bedienen is, heeft een bedieningswijze waarbij de indicator van de toetsenbordfocus zichtbaar is.. (<a href="https://www.w3.org/Translations/WCAG21-nl/#focus-zichtbaar" target="_blank" rel="noopener noreferrer">Succescriterium 2.4.7 Focus zichtbaar</a>).
      <br>
    </li>
  </ul>
  <p>We werken aan een meer toegankelijke website tegen 21 juni 2020.</p>

  <h2>Opstelling van deze toegankelijkheidsverklaring </h2>
  <p>Deze toegankelijkheidsverklaring is opgesteld op 14/08/2020.</p>
  <p>Voor deze toegankelijkheidsverklaring werd de toegankelijkheid van de vermelde web applicatie beoordeeld door het Agentschap Binnenlands Bestuur.</p>

  <h2>Feedback en contactgegevens</h2>
  <p>Voor alle vragen en opmerkingen over de toegankelijkheid van de vermelde websites van het Agentschap Binnenlands Bestuur kunt u contact opnemen via <a href="mailto:binnenland@vlaanderen.be">binnenland@vlaanderen.be</a></p>

  <h2>Handhavingsprocedure</h2>
  <p>Bij onbevredigende antwoorden op uw vragen en opmerkingen kunt u de Vlaamse Ombudsdienst contacteren via onderstaande gegevens.</p>
  <p>
    <strong>Vlaamse Ombudsdienst</strong><br>
    Leuvenseweg 86 <br>
    1000 Brussel <br>
    <a href="mailto:info@vlaamseombudsdienst.be">info@vlaamseombudsdienst.be</a> <br>
    Telefoon (gratis): <a href="tel:info@vlaamseombudsdienst.be">1700</a> <br>
  </p>
</AuContent>