<h1>{{model.currentVersion.title}}</h1>
<p>You may want to <LinkTo @route="editor-documents.show" @model={{model.currentVersion.id}}>show</LinkTo>, <LinkTo @route="editor-documents.edit" @model={{model.currentVersion.id}}>edit</LinkTo> or <LinkTo @route="documents.show.publish" @model={{model}}>publish</LinkTo> this document.</p>
