<h1>{{model.currentVersion.title}}</h1>
<p>You may want to {{link-to 'show' 'editor-documents.show' model.currentVersion.id}} or {{link-to 'edit' 'editor-documents.edit' model.currentVersion.id}} this document.</p>
