<div class="sidebar">Here starts the side-bar</div>
<ul>
  <li>{{link-to 'overview' 'documents.show.publish.overview' model}}</li>
  <li>{{link-to 'agenda' 'documents.show.publish.agenda' model}}</li>
  <li>Besluitenlijst</li>
  <li>Individuele besluiten</li>
  <li>Notulen</li>
</ul>

{{outlet}}
