<label class="form__label form__label--block u-spacer--small" for="agendapunt-bewerk">
  {{yield}}
  <Textarea
          @class="textarea textarea--block u-spacer--tiny"
          @rows="4"
          @value={{@value}}/>
</label>
