/* ==========================================================================
  Scrollto highlight
  Style the Scrollto highlight here.
 ========================================================================== */

.scrollto-highlight {
  animation: bg 2s ease-in;
}

@keyframes bg{
  0%{
    background: rgba($au-yellow-300, 1);
  }
  20%{
        background: rgba($au-yellow-300, 0.8);
  }
  50%{
        background: rgba($au-yellow-300, 0.5);
  }
  100%{
    background: rgba($au-yellow-300, 0);
  }
}
