/* ==========================================================================
  Tasklist
  Style the tasklist here.
 ========================================================================== */

.tasklist {
  position: absolute;
  left: -50rem;
  top: 44px;
  bottom: 0;
  background: $au-white;
  min-width: $au-unit-huge*3 + $au-unit;
  max-width: $au-unit-huge*3 + $au-unit;
  display: block;
  z-index: 9;
  border-right: 1px solid $au-gray-200;
  box-shadow: 0 1px 3px rgba($au-gray-900, .1), 0 4px 20px rgba($au-gray-900, .035), 0 1px 1px rgba($au-gray-900, .025);
  display: flex;
  flex-direction: column;
  transition: all 200ms;

  a.button.button--link.button--link--dark {
    text-decoration: none;
  }

  .tasklist__header {
    i.vi-long-arrow + span,
    .vi-long-arrow {
      display: none;
    }
  }

  .toggle.toggle--arrow-down {
    @include au-font-size($au-h6);
    font-weight: $au-regular;
    color: $au-gray-700;
    padding-left: $au-unit-small + $au-unit-tiny;
  }

  .toggle.toggle--arrow-down:before {
    font-size: 1rem;
    color: $au-gray-700;
    top: .35rem;
  }
}

.task-description-indent-1 {
  width: 100%;
  margin-left: 3%;
}

.tasklist--open {
  min-width: $au-unit-huge*3 + $au-unit;
  width: $au-unit-huge*3 + $au-unit;
  left: 0;
  transition: all 200ms;
}

.tasklist--expanded {
  width: 100%;
  right: 0;
  z-index: 1006;
  max-width: none;

  .tasklist__header {
    .vi-expand {
        display: none;
    }

    i.vi-long-arrow + span,
    .vi-long-arrow {
      display: inline-block;
    }
  }
}

.tasklist__header {
  border-bottom: 1px solid $au-gray-200;
  padding: $au-unit-small;
}

.tasklist__content {
  border-bottom: 1px solid $au-gray-200;
  padding: $au-unit-small;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1 1 auto;
}

.tasklist-navigation {
  padding: 0;

  > .tasklist-navigation__group {
    padding-left: 0;
  }
}

.tasklist-navigation__group {
  padding: 0;

  &.accordion__content {
    padding-left: $au-unit-small;
  }
}

.tasklist-navigation__item {
  .h3 {
    @include au-font-size($au-h5);
    font-weight: $au-regular;
  }

  .h6 {
    @include au-font-size($au-h6);
    font-weight: $au-regular;
  }

  label {
    @include au-font-size($au-base);
  }

  > .tasklist-navigation__group {
    margin-top: $au-unit-small;
  }

  &.tasklist-navigation__item.js-accordion + &.tasklist-navigation__item.js-accordion {
    border-top: 1px solid $au-gray-200;
    padding-top: $au-unit-small;
    margin-top: $au-unit-small;
  }
}
