{{!-- template-lint-disable  --}}

<div class="au-o-box au-o-box--small au-c-app-chrome">
  <div class="grid u-spacer--tiny">
    <div class="col--6-12">
      <LinkTo @route="inbox" class="smaller link-dark">&leftarrow; Terug naar ontwerpbesluiten overzicht</LinkTo>
    </div>
    <div class="col--6-12 u-align-right">
      <p>
        <LinkTo @route="imported-documents.edit" class="button button--narrow button--link button--link--dark smaller"><i class="fa fa-trash"></i> Verwijder</LinkTo>
        <span class="smaller">Bewaard afgelopen woensdag om 12:06</span>
      </p>
    </div>
  </div>

  <div class="grid">
    <div class="col--6-12">
      <h1 class="h5 u-spacer--small">Bewerk besluit &mdash; Mijn tweede aanvullend reglement</h1>
    </div>
    <div class="col--6-12 u-align-right">
      <WuButtonGroup>
        <LinkTo @route="imported-documents.edit" class="button button--narrow button--link button--link--dark">Exporteer als HTML bestand</LinkTo>
        <LinkTo @route="imported-documents.publish" class="button button--narrow button--alt">Onderteken &amp; publiceer</LinkTo>
        <LinkTo @route="imported-documents.edit" class="button button--narrow">Bewaar</LinkTo>
      </WuButtonGroup>
    </div>
  </div>
</div>

<div class="toolbar">
  <div class="grid">
    <div class="col--8-12 toolbar__styling-tools">
      <div class="button-group u-display-inline-block">
        <button class="button button--narrow button--link button--dark button--link--dark">
          <i class="fa fa-rotate-left"></i>
        </button>
      </div>
      <div class="button-group u-display-inline-block">
        <button class="button button--narrow button--link button--dark button--link--dark">
          <i class="fa fa-bold"></i>
        </button>
        <button class="button button--narrow button--link button--dark button--link--dark">
          <i class="fa fa-italic"></i>
        </button>
        <button class="button button--narrow button--link button--dark button--link--dark">
          <i class="fa fa-underline"></i>
        </button>
        <button class="button button--narrow button--link button--dark button--link--dark">
          <i class="fa fa-strikethrough"></i>
        </button>
        <button class="button button--narrow button--link button--dark button--link--dark">
          <i class="fa fa-list-ul"></i>
        </button>
        <button class="button button--narrow button--link button--dark button--link--dark">
          <i class="fa fa-list-ol"></i>
        </button>
        <button class="button button--narrow button--link button--dark button--link--dark">
          <i class="fa fa-dedent"></i>
        </button>
        <button class="button button--narrow button--link button--dark button--link--dark">
          <i class="fa fa-indent"></i>
        </button>
      </div>
    </div>
    <span class="col--4-12 u-align-right">
      <div class="button-group">
        <div class="checkbox--switch__wrapper checkbox--switch--small">
          <input class="checkbox--switch" name="toggle" value="" checked="checked" type="checkbox">
          <label class="checkbox--switch__label" for="toggle-1"></label>
          <span>Toon annotaties</span>
        </div>
        <button class="button--alt button button--small button--narrow u-spacer--round--tinier"><i class="fa fa-plus"></i> Voeg sjabloon in</button>
      </div>
    </span>
  </div>
</div>

<div class="container-flex--scroll">
  <div class="u-padding--round--small editor-container">
{{!--     <div class="u-spacer--round--small">
      <div class="button-group__inline u-padding--bottom--small">
        <a class="button button--narrow">Tekst</a>
        <a class="button button--narrow button--alt">Achterliggende kennis</a>
        <a class="button button--narrow button--alt">Code</a>
      </div>
    </div> --}}
    <div class="grid">
      <div class="col--8-12">
        <div contenteditable="true" class="editor__paper">
          <div typeof="http://data.vlaanderen.be/ns/besluit#Besluit http://data.vlaanderen.be/ns/besluit#AanvullendReglement" resource="http://data.lblod.info/besluiten/27caf2c3-3254-440e-a669-396b986b66ae" prefix="as: https://www.w3.org/ns/activitystreams# csvw: http://www.w3.org/ns/csvw# dcat: http://www.w3.org/ns/dcat# dqv: http://www.w3.org/ns/dqv# duv: https://www.w3.org/TR/vocab-duv# grddl: http://www.w3.org/2003/g/data-view# ldp: http://www.w3.org/ns/ldp# ma: http://www.w3.org/ns/ma-ont# oa: http://www.w3.org/ns/oa# org: http://www.w3.org/ns/org# owl: http://www.w3.org/2002/07/owl# prov: http://www.w3.org/ns/prov# qb: http://purl.org/linked-data/cube# rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns# rdfa: http://www.w3.org/ns/rdfa# rdfs: http://www.w3.org/2000/01/rdf-schema# rif: http://www.w3.org/2007/rif# rr: http://www.w3.org/ns/r2rml# sd: http://www.w3.org/ns/sparql-service-description# skos: http://www.w3.org/2004/02/skos/core# skosxl: http://www.w3.org/2008/05/skos-xl# ssn: http://www.w3.org/ns/ssn/ sosa: http://www.w3.org/ns/sosa/ time: http://www.w3.org/2006/time# void: http://rdfs.org/ns/void# wdr: http://www.w3.org/2007/05/powder# wdrs: http://www.w3.org/2007/05/powder-s# xhv: http://www.w3.org/1999/xhtml/vocab# xml: http://www.w3.org/XML/1998/namespace xsd: http://www.w3.org/2001/XMLSchema# cc: http://creativecommons.org/ns# ctag: http://commontag.org/ns# dc: http://purl.org/dc/terms/ dcterms: http://purl.org/dc/terms/ dc11: http://purl.org/dc/elements/1.1/ foaf: http://xmlns.com/foaf/0.1/ gr: http://purl.org/goodrelations/v1# ical: http://www.w3.org/2002/12/cal/icaltzd# og: http://ogp.me/ns# rev: http://purl.org/stuff/rev# sioc: http://rdfs.org/sioc/ns# v: http://rdf.data-vocabulary.org/# vcard: http://www.w3.org/2006/vcard/ns# schema: http://schema.org/ mobiliteit: https://data.vlaanderen.be/ns/mobiliteit# infrastructuur: https://data.vlaanderen.be/ns/openbaardomein/infrastructuur# besluit: http://data.vlaanderen.be/ns/besluit# geosparql: http://www.opengis.net/ont/geosparql# locn: http://www.w3.org/ns/locn# xsd:http://www.w3.org/2001/XMLSchema: foaf: http://xmlns.com/foaf/0.1: prov:http://www.w3.org/ns/prov# eli: http://data.europa.eu/eli/ontology# ext: http://mu.semte.ch/vocabularies/ext/" data-editor-position-level="4" data-editor-rdfa-position-level="1">
            <div data-editor-position-level="3">
              <div>
                <h5 class="h4 u-spacer" property="eli:title">Mijn tweede aanvullend reglement</h5>
                <meta property="eli:language" resource="http://publications.europa.eu/resource/authority/language/NLD">
              </div>
              <div>
                <div property="eli:description">Nieuwe zone 30</div>
              </div>
              <p class="u-spacer--small">De raad,</p>
              <div property="besluit:motivering" lang="nl">
                <div>
                  <h6 class="h5">Juridische gronden</h6>
                  <ul class="bullet-list bullet-list--spaced--small u-spacer">
                    <li>Gelet op </li>
                  </ul>
                </div>
                <div>
                  <h6 class="h5">Feiten en context</h6>
                  <ul class="bullet-list bullet-list--spaced--small u-spacer">
                    <li>Overwegende dat </li>
                  </ul>
                </div>
              </div>
              <div data-editor-position-level="2">
                <h6 class="h5">Besluit</h6>
                <ul class="article-list u-spacer--small" property="prov:value" data-editor-position-level="1" data-editor-rdfa-position-level="0">
                  <li property="eli:has_part" resource="http://data.lblod.info/artikels/2e94598c-3772-4965-b797-7a225be00927" typeof="besluit:Artikel">
                    <span class="annotation article-number" property="eli:number">Artikel 1.</span>
                    <meta property="eli:language" resource="http://publications.europa.eu/resource/authority/language/NLD">
                    <div property="ext:verkeersbordenVlaanderenSnippet prov:value">
                      <!-- Intekening van een begin en einde zone 30 -->
                      <img src="https://dev.kleinbord.lblod.info/snippets/images/example-9-kaart-1.png">
                      <div resource="http://data.mow.vlaanderen.be/id/opstellingen/b421ed5e-c0e6-4de4-9688-26f2fc4839af" typeof="mobiliteit:Opstelling">
                        <div property="locn:geometry" resource="http://data.mow.vlaanderen.be/id/geometrien/c2de8121-284b-4243-9bff-3d3bf4d54279" typeof="locn:Geometry">
                          <span property="geosparql:asWKT" datatype="geosparql:wktLiteral" content="Point (51.226835 4.416502)"></span>
                        </div>
                        <div property="mobiliteit:grafischeWeergave" resource="https://dev.kleinbord.lblod.info/snippets/images/example-9-kaart-1.png" typeof="foaf:Image"></div>
                        <div property="mobiliteit:Opstelling.operationeleStatus" resource="http://data.vlaanderen.be/id/opstelling-operationele-status/gepland">
                        </div>
                        <div property="mobiliteit:omvatVerkeersbord" resource="http://data.mow.vlaanderen.be/id/verkeersborden/94d4a016-ed37-4f54-91d6-b4966f74ebfa" typeof="infrastructuur:Verkeersbord">
                          <div property="mobiliteit:Verkeersbord.operationeleStatus" resource="http://data.vlaanderen.be/id/verkeersbord-operationele-status/gepland">
                          </div>
                          <div property="mobiliteit:realiseert" resource="http://data.lblod.info/id/verkeerstekens/7f6e6111-81c6-4bfb-9118-bb51ec1fbf26" typeof="mobiliteit:Verkeersbord-Verkeersteken mobiliteit:Verkeersteken">
                            <div property="mobiliteit:heeftVerkeersbordconcept" resource="http://data.vlaanderen.be/id/concept/Verkeersbordconcept/ecedfa0ac528d4ba21050a5ff32e8f320fb7f1da82c799c29b1fa85fcf0a9024" typeof="mobiliteit:Verkeersbordconcept">
                            </div>
                            <div property="mobiliteit:isBeginZone" content="true" datatype="xsd:boolean">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div resource="http://data.mow.vlaanderen.be/id/opstellingen/e31a7f0a-942d-4c06-85a8-4b89a845832f" typeof="mobiliteit:Opstelling">
                        <div property="locn:geometry" resource="http://data.mow.vlaanderen.be/id/geometries/bfa5f59d-99cb-4467-998c-fd19bc241c0a" typeof="locn:Geometry">
                          <span property="geosparql:asWKT" datatype="geosparql:wktLiteral" content="Point (51.227408 4.418295)">
                          </span>
                        </div>
                        <div property="mobiliteit:grafischeWeergave" resource="https://dev.kleinbord.lblod.info/snippets/images/example-9-kaart-1.png" typeof="foaf:Image">
                        </div>
                        <div property="mobiliteit:Opstelling.operationeleStatus" resource="http://data.vlaanderen.be/id/opstelling-operationele-status/gepland">
                        </div>
                        <div property="mobiliteit:omvatVerkeersbord" resource="http://data.mow.vlaanderen.be/id/verkeersborden/6ef6fd81-3dc8-4ec6-a47d-2756537d2524" typeof="infrastructuur:Verkeersbord">
                          <div property="mobiliteit:Verkeersbord.operationeleStatus" resource="http://data.vlaanderen.be/id/verkeersbord-operationele-status/gepland">
                          </div>
                          <div property="mobiliteit:realiseert" resource="http://data.lblod.info/id/verkeerstekens/14b4bd75-a72c-4fd7-99bf-db3c5d094ae9" typeof="mobiliteit:Verkeersbord-Verkeersteken mobiliteit:Verkeersteken">
                            <div property="mobiliteit:heeftVerkeersbordconcept" resource="http://data.vlaanderen.be/id/concept/Verkeersbordconcept/2721df3072ab4e96f50b345524806082f37252e7a1a802b14d640c3cfd7a1d49" typeof="mobiliteit:Verkeersbordconcept">
                            </div>
                            <div property="mobiliteit:isEindeZone" content="true" datatype="xsd:boolean"></div>
                          </div>
                        </div>
                      </div>
                      <div resource="http://data.mow.vlaanderen.be/id/opstellingen/54gh7f0a-942d-4c06-85a8-4b89a845hm9" typeof="mobiliteit:Opstelling">
                        <div property="locn:geometry" resource="http://data.mow.vlaanderen.be/id/geometries/5l83f59d-99cb-4467-998c-fd19bc24wa31" typeof="locn:Geometry">
                          <span property="geosparql:asWKT" datatype="geosparql:wktLiteral" content="Point (51.327408 4.518295)">
                          </span>
                        </div>
                        <div property="mobiliteit:grafischeWeergave" resource="https://dev.kleinbord.lblod.info/snippets/images/example-9-kaart-1.png" typeof="foaf:Image">
                        </div>
                        <div property="mobiliteit:Opstelling.operationeleStatus" resource="http://data.vlaanderen.be/id/opstelling-operationele-status/gepland">
                        </div>
                        <div property="mobiliteit:omvatVerkeersbord" resource="http://data.mow.vlaanderen.be/id/verkeersborden/fw18fd81-3dc8-4ec6-a47d-2756537dmlg4" typeof="infrastructuur:Verkeersbord">
                          <div property="mobiliteit:Verkeersbord.operationeleStatus" resource="http://data.vlaanderen.be/id/verkeersbord-operationele-status/gepland">
                          </div>
                          <div property="mobiliteit:realiseert" resource="http://data.lblod.info/id/verkeerstekens/bg34bd75-a72c-4fd7-99bf-db3c5d09tf2a" typeof="mobiliteit:Verkeersbord-Verkeersteken mobiliteit:Verkeersteken">
                            <div property="mobiliteit:heeftVerkeersbordconcept" resource="http://data.vlaanderen.be/id/concept/Verkeersbordconcept/6cebe8cd9a145b9791d607b6b66fee19a080ab8efecdca98bef9dde1d7a3c228" typeof="mobiliteit:Verkeersbordconcept">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <span></span><span></span>
                  </li>
                  <div property="eli:has_part" typeof="http://data.vlaanderen.be/ns/besluit#Artikel http://mu.semte.ch/vocabularies/ext/MobiliteitsmaatregelArtikel" resource="http://data.lblod.info/id/artikels/fdda4ee0-ef39-427c-a0e6-d7bfedf42c17">
                    <span></span><span></span><span></span><span></span>
                    <span property="eli:number">A<span>rtikel 2</span></span><span>
                    </span>
                    <meta property="eli:language" resource="http://publications.europa.eu/resource/authority/language/NLD">
                    <span>
                    </span>
                    <div property="mobiliteit:Artikel.heeftMobiliteitsmaatregel" typeof="mobiliteit:Mobiliteitsmaatregel">
                      <div property="mobiliteit:wordtAangeduidDoor" resource="http://data.lblod.info/id/verkeerstekens/7f6e6111-81c6-4bfb-9118-bb51ec1fbf26" typeof="mobiliteit:Verkeersteken mobiliteit:Verkeersbord-Verkeersteken">
                        <span>            </span>
                        <div class="grid grid--collapse">
                          <div class="col--3-12">
                            <span property="mobiliteit:heeftVerkeersbordconcept" resource="http://data.vlaanderen.be/id/concept/Verkeersbordconcept/ecedfa0ac528d4ba21050a5ff32e8f320fb7f1da82c799c29b1fa85fcf0a9024" typeof="mobiliteit:Verkeersbordconcept">
                            <img src="http://mobiliteit.vo.data.gift/images/a837b14170ed16e8d34c3975fa4912561595d6e72f8430e4531bded57723bdfa" alt="F4a">
                            </span>
                          </div>
                          <div class="col--9-12">
                            <p property="dc:description">
                              Begin Zone 30.
                            </p>
                            <p>Ter hoogte van Cassiersstraat 26, 2060 Antwerpen.</p>
                            <span property="mobiliteit:isBeginZone" content="true" datatype="xsd:boolean"></span>
                            <span property="mobiliteit:isEindeZone" content="false" datatype="xsd:boolean">​</span>
                          </div>
                        </div>
                        <span>
                        </span>
                      </div>
                      <span>
                      </span>
                      <div property="mobiliteit:wordtAangeduidDoor" typeof="mobiliteit:Verkeersteken mobiliteit:Verkeersbord-Verkeersteken" resource="http://data.lblod.info/id/verkeerstekens/14b4bd75-a72c-4fd7-99bf-db3c5d094ae9">
                        <span>        </span><br><span>
                        </span>
                        <div class="grid grid--collapse">
                          <div class="col--3-12">
                            <span property="mobiliteit:heeftVerkeersbordconcept" resource="http://data.vlaanderen.be/id/concept/Verkeersbordconcept/2721df3072ab4e96f50b345524806082f37252e7a1a802b14d640c3cfd7a1d49" typeof="mobiliteit:Verkeersbordconcept">
                            <img src="http://mobiliteit.vo.data.gift/images/4545d376d96442f4d509c580b3095c10b6ba0a93371cb836d6e21a92cfed7a82" alt="F4b">
                            </span>
                          </div>
                          <div class="col--9-12">
                            <p property="dc:description">
                              Einde Zone 30.
                            </p>
                            <p>Ter hoogte van Cassiersstraat 65, 2060 Antwerpen.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col--2-12">
        <div class="editor-loading-events">
          <div>
            <div class="grid grid--collapse">
              <div class="col--2-12 u-align-center">
                <i class="vi vi-check vi-u-s"></i>
              </div>
              <div class="col--10-12">
              <p class="small">Klaar met verwerken</p>
            </div>
          </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{{outlet}}
