<div class="editor-chrome">
  <div class="grid u-spacer--tiny">
    <div class="col--8-12">
      <LinkTo @route="inbox.ontwerpbesluiten" class="smaller link-dark">&leftarrow; Terug naar ontwerpbesluiten overzicht</LinkTo>
    </div>
  </div>

  <div class="grid">
    <div class="col--6-12">
      <h1 class="h5 u-spacer--tiny">Importeer HTML bestand &mdash; kies bestand</h1>
    </div>
    <div class="col--6-12 u-align-right">
      <LinkTo @route="imported-documents.show" class="button button--narrow">Start met importeren &rightarrow;</LinkTo>
    </div>
  </div>
</div>

<div class="container-flex--scroll">
  <div class="grid">
    <div class="col--6-12 col--12-12--s">
      <div class="u-padding--round--small">
        <div class="alert u-spacer">
          <p class="">Gebruik de import functie om bestanden van externe notuleringspakketen te <strong>verrijken met semantische data</strong>, <strong>te publiceren en te melden</strong>.</p>
        </div>

        {{!-- <h2 class="h3">Importeer HTML bestand</h2> --}}
        <form class="form">
          <div class="form__row">

            <label class="form__label form__label--block u-spacer--bottom--tiny" for="importHTMLfile">Laad HTML bestand op</label>
            <div data-upload-allow-drop="" class="upload js-upload js-upload-bound u-spacer--bottom">
              <div class="upload__element">
                <label class="upload__element__label">
                  <i class="vi vi-paperclip"></i>
                  <span>Kies document</span>
                  <small>Sleep het HTML bestand naar hier om toe te voegen.<br>Één bestand per import.</small>
                  <label for="file-input-c19c6" class="file-upload">
                    <input id="file-input-c19c6" multiple="" hidden="" type="file">
                  </label>
                </label>
              </div>
            </div>
          </div>
        </form>

        {{!-- <div class="u-hr u-spacer--tb--large u-padding--tb--large">OF</div> --}}
        {{!-- Enkel besluiten of ook notulen? --}}
{{!--
        <h2 class="h6 u-spacer--small">Hoe wil u graag het bestand importeren?</h2>
        <form class="form">
          <div class="form__row">

            <div class="radio radio--block u-spacer--bottom">
              <input class="radio__toggle" id="importHTMLurl" type="radio" name="importHTML" value="url" checked>
              <span></span>

              <label class="form__label form__label--block u-spacer--bottom--tiny" for="importHTMLurl">Geef een link op naar het HTML bestand</label>
              <input class="input-field input-field--small input-field--block u-spacer--tiny" type="text">
              <p class="small"><i class="fa fa-info-circle"></i> Bijvoorbeeld: http://wwww.uw-bestuur.be/specifiek-document.html</p>
            </div>

            <div class="radio radio--block u-spacer--bottom">
              <input class="radio__toggle" id="importHTMLfile" type="radio" name="importHTML" value="html">
              <span></span>

              <label class="form__label form__label--block u-spacer--bottom--tiny" for="importHTMLfile">Laad HTML bestand op</label>
              <div data-upload-allow-drop="" class="upload js-upload js-upload-bound u-spacer--bottom">
                <div class="upload__element">
                  <label class="upload__element__label">
                    <i class="vi vi-paperclip"></i>
                    <span>Kies document</span>
                    <small>Sleep het HTML bestand naar hier om toe te voegen.<br>Één bestand per import.</small>
                    <label for="file-input-c19c6" class="file-upload">
                      <input id="file-input-c19c6" multiple="" hidden="" type="file">
                    </label>
                  </label>
                </div>
              </div> --}}

{{!--               <div class="upload__files upload__files--has-files">
                <a class="upload__files__close link--icon--close">
                  <span class="u-visually-hidden">Verwijderen</span>
                </a>
                <div class="upload__files__container">
                  <div class="upload__file">
                    <p class="upload__file__name">het-html-bestand.html
                      <span class="upload__file__size">(835 KB)</span>
                    </p>
                    <small>
                      <a class="link--icon" href="/files/5e37e2bfc14cb7000d00000a/download?name=cat.png" download="cat.png">
                      <i class="fa fa-cloud-download"></i>Download bestand</a>
                    </small>
                  </div>
                </div>
              </div> --}}
{{!--
            </div>
          </div>
          <LinkTo @route="imported-documents.show" class="button">Start met importeren</LinkTo>
        </form>
 --}}
      </div>
    </div>
  </div>
</div>
