{{!-- <div class="modal-overlay">
  <div class="modal-dialog modal-dialog--sectioned" tabindex="-1" role="document" aria-hidden="true">
    <div class="modal-dialog__header">
      <div class="grid">
        <div class="col--10-12">
          <h1 class="h3">Kies een type zitting</h1>
        </div>
        <div class="col--2-12 u-align-right">
          <div class="anti-jitter">
            <a class="link--icon--close" href="#">
              <span class="u-visually-hidden">Venster sluiten</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-dialog__content modal-dialog__content--sectioned">
      <div class="modal-dialog__content__search">
        <div class="input-field-icon-container--block input-field-icon-container--right">
          <!-- input-field--block component-->
          <input class="input-field input-field--block" id="input-field" type="text" placeholder="Zoek type zitting">
          <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
        </div>
      </div>
      <ul class="grid preview-list">
        <li class="col--4-12 col--1-1--s col--6-12--m">
          <a href="/editor/editor-template-notulen.html">
            <div class="preview-list__image"></div>
            <p class="preview-list__name">Gemeenteraad</p>
          </a>
        </li>
        <li class="col--4-12 col--1-1--s col--6-12--m">
          <a href="/editor/editor-template-besluit-onderdelen.html">
            <div class="preview-list__image"></div>
            <p class="preview-list__name">College van Burgemeester &amp; Schepenen</p>
          </a>
        </li>
        <li class="col--4-12 col--1-1--s col--6-12--m">
          <a href="/editor/editor-snippet-ontslag.html">
            <div class="preview-list__image"></div>
            <p class="preview-list__name">Burgemeesterbesluit</p>
          </a>
        </li>
        <li class="col--4-12 col--1-1--s col--6-12--m">
          <a href="/editor/editor-snippet-ontslag.html">
            <div class="preview-list__image"></div>
            <p class="preview-list__name">Installatievergadering</p>
          </a>
        </li>
        <li class="col--4-12 col--1-1--s col--6-12--m">
          <a href="/editor/editor-blank.html">
            <div class="preview-list__image"></div>
            <p class="preview-list__name">Blanco</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div> --}}


<div class="modal-overlay">
  <div class="modal-dialog modal-dialog--sectioned" tabindex="-1" role="document" aria-hidden="true">
    <div class="modal-dialog__header">
      <div class="grid">
        <div class="col--10-12">
          {{!-- <h1 class="h3">Kies besluit uit externe bron</h1> --}}
          {{!-- <h1 class="h3">Kies een type sjabloon</h1> --}}
          {{!-- <h1 class="h3">Laad HTML bestand op</h1> --}}
          <h1 class="h3">Kies besluit</h1>
        </div>
        <div class="col--2-12 u-align-right">
          <div class="anti-jitter">
            <a class="link--icon--close" href="#">
              <span class="u-visually-hidden">Venster sluiten</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-dialog__content modal-dialog__content--sectioned">
      <div class="modal-dialog__content__search">
        <div class="input-field-icon-container--block input-field-icon-container--right">
          <input class="input-field input-field--block" id="input-field" type="text" placeholder="Zoek extern besluit">
          <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
        </div>
      </div>
{{!--       <ul class="link-list link-list--bordered">
        <li class="link-list__item">
          <a href="#">
            Aanstellingsbesluit
          </a>
        </li>
        <li class="link-list__item">
          <a href="#">
            Aanvullend reglement
          </a>
        </li>
        <li class="link-list__item">
          <a href="#">
            Ontslagbesluit
          </a>
        </li>
        <li class="link-list__item">
          <a href="#">
            Aanstellingsbesluit
          </a>
        </li>
      </ul> --}}
{{!--         <li class="link-list__item">
          <a href="#">
            Ontslagbesluit
          </a>
        </li>
        <li class="link-list__item">
          <a href="#">
            Aanstellingsbesluit
          </a>
        </li> --}}
{{!--       <ul class="grid preview-list">
        <li class="col--4-12 col--1-1--s col--6-12--m">
          <a href="/editor/editor-template-notulen.html">
            <div class="preview-list__image"></div>
            <p class="preview-list__name">Verkeersborden-databank<br><small>29.01.2020 11:30</small></p>
          </a>
        </li>
        <li class="col--4-12 col--1-1--s col--6-12--m">
          <a href="/editor/editor-template-notulen.html">
            <div class="preview-list__image"></div>
            <p class="preview-list__name">Verkeersborden-databank<br><small>12.12.2020 14:30</small></p>
          </a>
        </li> --}}
{{!--         <li class="col--4-12 col--1-1--s col--6-12--m">
          <a href="/editor/editor-template-besluit-onderdelen.html">
            <div class="preview-list__image"></div>
            <p class="preview-list__name">Aanvullen reglement</p>
          </a>
        </li>
        <li class="col--4-12 col--1-1--s col--6-12--m">
          <a href="/editor/editor-template-besluit-onderdelen.html">
            <div class="preview-list__image"></div>
            <p class="preview-list__name">Ontslagbesluit</p>
          </a>
        </li>
        <li class="col--4-12 col--1-1--s col--6-12--m">
          <a href="/editor/editor-snippet-ontslag.html">
            <div class="preview-list__image"></div>
            <p class="preview-list__name">Aanstellingsbesluit</p>
          </a>
        </li>
        <li class="col--4-12 col--1-1--s col--6-12--m">
          <a href="/editor/editor-blank.html">
            <div class="preview-list__image"></div>
            <p class="preview-list__name">Blanco</p>
          </a>
        </li> --}}

{{!--       <div class="u-spacer--round">
        <label class="form__label form__label--block u-spacer--bottom--tiny" for="importHTMLfile">Laad HTML bestand op</label>
        <div data-upload-allow-drop="" class="upload js-upload js-upload-bound">
          <div class="upload__element">
            <label class="upload__element__label">
              <i class="vi vi-paperclip"></i>
              <span>Kies document</span>
              <small>Sleep het HTML bestand naar hier om toe te voegen.<br>Één bestand per keer.</small>
              <label for="file-input-c19c6" class="file-upload">
                <input id="file-input-c19c6" multiple="" hidden="" type="file">
              </label>
            </label>
          </div>
        </div>
      </div> --}}

      {{!-- Dieper: externe bron --}}
      <ul class="link-list link-list--bordered">
        <li class="link-list__item">
          <a href="#">
            C-Clear besluit
            <br><small>29.01.2020 11:30</small>
          </a>
        </li>

{{!--         <li class="link-list__item">
          <a href="#">
            Aanvullend reglement verkeersbordendatabank
            <br><small>12.12.2020 14:30</small>
          </a>
        </li> --}}


      {{!-- Oppervlakkig: eerste niveau --}}
{{!--       <ul class="link-list link-list--bordered">
        <li class="link-list__item">
          <a href="#">
            Laad eigen besluit op
          </a>
        </li>
        <li class="link-list__item">
          <a href="#">
            <div class="grid">
              <div class="col--8-12">
                Kies besluit uit extern pakket
              </div>
              <div class="col--4-12 u-align-right">
                <i class="fa fa-angle-right"></i>
              </div>
            </div>
          </a>
        </li>
        <li class="link-list__item">
          <a href="#" class="link--dark">
            <div class="grid">
              <div class="col--8-12">
                Kies besluit uit verkeersbordendatabank
              </div>
              <div class="col--4-12 u-align-right text-fade">
                <p class="smaller">Niet beschikbaar</p>
              </div>
            </div>
          </a>
        </li> --}}
      </ul>
    </div>

    <div class="modal-dialog__footer">
      <WuButtonGroup>
        <a href="#" class="button button--alt button--narrow">Terug naar kies besluit</a>
        {{!-- <a href="#" class="button button--alt button--narrow">Annuleer</a> --}}
      </WuButtonGroup>
    </div>
  </div>
</div>



{{!--

<div class="modal-overlay">
  <div class="modal-dialog modal-dialog--sectioned" tabindex="-1" role="document" aria-hidden="true">
    <div class="modal-dialog__header">
      <div class="grid">
        <div class="col--10-12">
          <h1 class="h3">Kies besluit</h1>
        </div>
        <div class="col--2-12 u-align-right">
          <div class="anti-jitter">
            <a class="link--icon--close" href="#">
              <span class="u-visually-hidden">Venster sluiten</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-dialog__content modal-dialog__content--sectioned">
      <div class="modal-dialog__content__search">
        <div class="input-field-icon-container--block input-field-icon-container--right">
          <input class="input-field input-field--block" id="input-field" type="text" placeholder="Zoek type besluit">
          <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
        </div>
      </div>
      <ul class="link-list link-list--bordered">
        <li class="link-list__item">
          <a href="#">
            Blanco besluit
          </a>
        </li>
        <li class="link-list__item">
          <a href="#">
            <div class="grid grid--collapse">
              <span class="col--11-12">
                Voorgemaakt sjabloon
              </span>
              <span class="col--1-12 u-align-right">
                <i class="vi vi-arrow"></i>
              </span>
            </div>
          </a>
        </li>
        <li class="link-list__item">
          <a href="#">
            <div class="grid grid--collapse">
              <span class="col--11-12">
                Besluit uit externe bron
              </span>
              <span class="col--1-12 u-align-right">
                <i class="vi vi-arrow"></i>
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div> --}}


<div class="editor-chrome">
  <div class="grid u-spacer--tiny">
    <div class="col--8-12">
      <LinkTo @route="inbox.imported" class="smaller link-dark">&leftarrow; Terug naar documentoverzicht</LinkTo>
    </div>
  </div>

  <div class="grid">
    <div class="col--6-12">
      <h1 class="h5 u-spacer--tiny">Notulen van de zitting</h1>
    </div>
    <div class="col--6-12 u-align-right">
      <WuButtonGroup>
        <LinkTo @route="imported-documents.show" class="button button--narrow button--alt">Ondertekenen &amp; Publiceren</LinkTo>
        <LinkTo @route="imported-documents.edit" class="button button--narrow">Bewaar</LinkTo>
      </WuButtonGroup>
    </div>
  </div>
</div>

<div class="container-flex--scroll">
  <div class="u-padding--round--small editor-container">
    <div class="grid">
      <div class="col--6-12 col--12-12--s">
        <div contenteditable="true" class="editor__paper">
        </div>
      </div>
      <div class="col--6-12 col--12-12--s">
        <div class="u-spacer--round--small">
        </div>
      </div>
    </div>
  </div>
</div>


