<div class="page">

	<div class="u-padding--rl--small">
		{{#link-to "login" class="link--icon smaller"}}<i class="vi-arrow vi-u-180deg vi"></i> Terug naar overzicht{{/link-to}}
  </div>

	<div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content region">
    <section class="layout layout--wide">

			<h1 class="h1">Release notes</h1>

      <div class="grid">
        <div class="col--1-1--s col--7-12--m col--6-12">
        	<div id="versie-1">
						<div id="versie-1-7-0" class="info-tile u-spacer">
							<div class="info-tile__header">
								<div class="info-tile__header__wrapper">
									<h3 class="info-tile__header__title">Versie 1.7.0</h3>
									<p class="info-tile__header__subtitle">
									De basisfunctionaliteiten van de editor werden verbeterd, zoals kopiëren, plakken en stijlen van tekst.
									</p>
								</div>
							</div>
							<div class="info-tile__content">
								<div class="info-tile__content__wrapper">
									<p><strong>Nieuwe functionaliteiten in deze release</strong></p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Basisondersteuning voor kopiëren en plakken van tekst zonder stijl of annotaties.</li>
										<li>Tekst in het vet zetten, cursief zetten en onderlijnen kan nu via knoppen.</li>
										<li>Basisondersteuning van het maken van paragrafen bij gebruik van "enter".</li>
										<li>Basisondersteuning van het maken van lijst items bij het gebruik van "enter" in een lijst.</li>
										<li>Bugfixes.</li>
									</ul>
									<p><strong>Technische aanpassingen</strong></p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>update ember-rdfa-editor naar 0.26.0</li>
										<li>update naar emberjs 3.12</li>
									</ul>
								</div>
							</div>
						</div>
						<p class="text-fade smaller">Oudere versies zijn niet beschikbaar.</p>
					</div>

        </div>

        <div class="col--3-12 col--4-12--m push--1-12--m col--12-12--s push--2-12--l">
        	<div class="views-element-container">
        		<div class="js-sticky--placeholder">
        			<nav class="side-navigation js-sticky js-scrollspy js-sticky-bound js-scrollspy-bound js-sticky--fixed" data-sticky-offset-top="75">
        				<div class="side-navigation__content">
        					<ul class="side-navigation__group">
        						<li class="side-navigation__item side-navigation__item--parent">
        							<a href="#versie-1-7-0" data-parent="parent-1">Versie 1.7.0</a>
        						</li>
        						{{!-- <li class="side-navigation__item side-navigation__item--parent">
        							<a href="#versie-1" class="side-navigation__toggle" data-child="parent-1" aria-expanded="false">Versie 1</a>
        							<ul>
        								<li class="side-navigation__item">
        									<div class="views-field views-field-title">
        										<span class="field-content">
        											<a href="#versie-1-8" data-parent="parent-1">Versie 1.7.0</a>
        										</span>
        									</div>
        								</li>
        							</ul>
        						</li> --}}
        					</ul>
        				</div>
        			</nav>
        		</div>
        	</div>
        </div>
      </div>
    </section>
  </div>
</div>
{{outlet}}
