<div class="page">

	<div class="u-padding--rl--small">
		{{#link-to "login" class="link--icon smaller"}}<i class="vi-arrow vi-u-180deg vi"></i> Terug naar overzicht{{/link-to}}
  </div>

	<div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content region">
    <section class="layout layout--wide">

			<h1 class="h1">Release notes</h1>

      <div class="grid">
        <div class="col--1-1--s col--7-12--m col--6-12">
        	<div id="versie-2">
						<div id="versie-2-0" class="info-tile u-spacer">
							<div class="info-tile__header">
								<div class="info-tile__header__wrapper">
									<h3 class="info-tile__header__title">Versie 2.0</h3>
									<p class="info-tile__header__subtitle">
										Kopiëren en plakken is nu mogelijk. Uw cursor toont nu ook welke elementen u aan het editeren bent.
									</p>
								</div>
							</div>
							<div class="info-tile__content">
								<div class="info-tile__content__wrapper">
									<p>Nieuwe functionaliteiten</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
									<p>Bug fixes</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

        	<div id="versie-1">
						<div id="versie-1-8" class="info-tile u-spacer">
							<div class="info-tile__header">
								<div class="info-tile__header__wrapper">
									<h3 class="info-tile__header__title">Versie 1.8</h3>
									<p class="info-tile__header__subtitle">
										Kopiëren en plakken is nu mogelijk. Uw cursor toont nu ook welke elementen u aan het editeren bent.
									</p>
								</div>
							</div>
							<div class="info-tile__content">
								<div class="info-tile__content__wrapper">
									<p>Nieuwe functionaliteiten</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
									<p>Bug fixes</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
								</div>
							</div>
						</div>

						<div id="versie-1-7" class="info-tile u-spacer">
							<div class="info-tile__header">
								<div class="info-tile__header__wrapper">
									<h3 class="info-tile__header__title">Versie 1.7</h3>
									<p class="info-tile__header__subtitle">
										Kopiëren en plakken is nu mogelijk. Uw cursor toont nu ook welke elementen u aan het editeren bent.
									</p>
								</div>
							</div>
							<div class="info-tile__content">
								<div class="info-tile__content__wrapper">
									<p>Nieuwe functionaliteiten</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
									<p>Bug fixes</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
								</div>
							</div>
						</div>

						<div id="versie-1-6" class="info-tile u-spacer">
							<div class="info-tile__header">
								<div class="info-tile__header__wrapper">
									<h3 class="info-tile__header__title">Versie 1.6</h3>
									<p class="info-tile__header__subtitle">
										Kopiëren en plakken is nu mogelijk. Uw cursor toont nu ook welke elementen u aan het editeren bent.
									</p>
								</div>
							</div>
							<div class="info-tile__content">
								<div class="info-tile__content__wrapper">
									<p>Nieuwe functionaliteiten</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
									<p>Bug fixes</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
								</div>
							</div>
						</div>

						<div id="versie-1-5" class="info-tile u-spacer">
							<div class="info-tile__header">
								<div class="info-tile__header__wrapper">
									<h3 class="info-tile__header__title">Versie 1.5</h3>
									<p class="info-tile__header__subtitle">
										Kopiëren en plakken is nu mogelijk. Uw cursor toont nu ook welke elementen u aan het editeren bent.
									</p>
								</div>
							</div>
							<div class="info-tile__content">
								<div class="info-tile__content__wrapper">
									<p>Nieuwe functionaliteiten</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
									<p>Bug fixes</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
								</div>
							</div>
						</div>

						<div id="versie-1-4" class="info-tile u-spacer">
							<div class="info-tile__header">
								<div class="info-tile__header__wrapper">
									<h3 class="info-tile__header__title">Versie 1.4</h3>
									<p class="info-tile__header__subtitle">
										Kopiëren en plakken is nu mogelijk. Uw cursor toont nu ook welke elementen u aan het editeren bent.
									</p>
								</div>
							</div>
							<div class="info-tile__content">
								<div class="info-tile__content__wrapper">
									<p>Nieuwe functionaliteiten</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
									<p>Bug fixes</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
								</div>
							</div>
						</div>

						<div id="versie-1-3" class="info-tile u-spacer">
							<div class="info-tile__header">
								<div class="info-tile__header__wrapper">
									<h3 class="info-tile__header__title">Versie 1.3</h3>
									<p class="info-tile__header__subtitle">
										Kopiëren en plakken is nu mogelijk. Uw cursor toont nu ook welke elementen u aan het editeren bent.
									</p>
								</div>
							</div>
							<div class="info-tile__content">
								<div class="info-tile__content__wrapper">
									<p>Nieuwe functionaliteiten</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
									<p>Bug fixes</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
								</div>
							</div>
						</div>

						<div id="versie-1-2" class="info-tile u-spacer">
							<div class="info-tile__header">
								<div class="info-tile__header__wrapper">
									<h3 class="info-tile__header__title">Versie 1.2</h3>
									<p class="info-tile__header__subtitle">
										Kopiëren en plakken is nu mogelijk. Uw cursor toont nu ook welke elementen u aan het editeren bent.
									</p>
								</div>
							</div>
							<div class="info-tile__content">
								<div class="info-tile__content__wrapper">
									<p>Nieuwe functionaliteiten</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
									<p>Bug fixes</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
								</div>
							</div>
						</div>

						<div id="versie-1-1" class="info-tile u-spacer">
							<div class="info-tile__header">
								<div class="info-tile__header__wrapper">
									<h3 class="info-tile__header__title">Versie 1.1</h3>
									<p class="info-tile__header__subtitle">
										Kopiëren en plakken is nu mogelijk. Uw cursor toont nu ook welke elementen u aan het editeren bent.
									</p>
								</div>
							</div>
							<div class="info-tile__content">
								<div class="info-tile__content__wrapper">
									<p>Nieuwe functionaliteiten</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
									<p>Bug fixes</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
								</div>
							</div>
						</div>

						<div id="versie-1-0" class="info-tile u-spacer">
							<div class="info-tile__header">
								<div class="info-tile__header__wrapper">
									<h3 class="info-tile__header__title">Versie 1.0</h3>
									<p class="info-tile__header__subtitle">
										Kopiëren en plakken is nu mogelijk. Uw cursor toont nu ook welke elementen u aan het editeren bent.
									</p>
								</div>
							</div>
							<div class="info-tile__content">
								<div class="info-tile__content__wrapper">
									<p>Nieuwe functionaliteiten</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
									<p>Bug fixes</p>
									<ul class="bullet-list u-spacer--bottom--tiny">
										<li>Dit is wat we gedaan hebben</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
        </div>

        <div class="col--3-12 col--4-12--m push--1-12--m col--12-12--s push--2-12--l">
        	<div class="views-element-container">
        		<div class="js-sticky--placeholder">
        			<nav class="side-navigation js-sticky js-scrollspy js-sticky-bound js-scrollspy-bound js-sticky--fixed" data-sticky-offset-top="75">
        				<div class="side-navigation__content">
        					<ul class="side-navigation__group">
        						<li class="side-navigation__item side-navigation__item--parent">
        							<a href="#versie-2" class="side-navigation__toggle" data-child="parent-2" aria-expanded="false">Versie 2</a>
        							<ul>
        								<li class="side-navigation__item">
        									<div class="views-field views-field-title">
        										<span class="field-content">
        											<a href="#versie-2-0" data-parent="parent-2">Versie 2.0</a>
        										</span>
        									</div>
        								</li>
        							</ul>
        						</li>
        						<li class="side-navigation__item side-navigation__item--parent">
        							<a href="#versie-1" class="side-navigation__toggle" data-child="parent-1" aria-expanded="false">Versie 1</a>
        							<ul>
        								<li class="side-navigation__item">
        									<div class="views-field views-field-title">
        										<span class="field-content">
        											<a href="#versie-1-8" data-parent="parent-1">Versie 1.8</a>
        										</span>
        									</div>
        								</li>
        								<li class="side-navigation__item">
        									<div class="views-field views-field-title">
        										<span class="field-content">
        											<a href="#versie-1-7" data-parent="parent-1">Versie 1.7</a>
        										</span>
        									</div>
        								</li>
        								<li class="side-navigation__item">
        									<div class="views-field views-field-title">
        										<span class="field-content">
        											<a href="#versie-1-6" data-parent="parent-1">Versie 1.6</a>
        										</span>
        									</div>
        								</li>
        								<li class="side-navigation__item">
        									<div class="views-field views-field-title">
        										<span class="field-content">
        											<a href="#versie-1-5" data-parent="parent-1">Versie 1.5</a>
        										</span>
        									</div>
        								</li>
        								<li class="side-navigation__item">
        									<div class="views-field views-field-title">
        										<span class="field-content">
        											<a href="#versie-1-4" data-parent="parent-1">Versie 1.4</a>
        										</span>
        									</div>
        								</li>
        								<li class="side-navigation__item">
        									<div class="views-field views-field-title">
        										<span class="field-content">
        											<a href="#versie-1-3" data-parent="parent-1">Versie 1.3</a>
        										</span>
        									</div>
        								</li>
        								<li class="side-navigation__item">
        									<div class="views-field views-field-title">
        										<span class="field-content">
        											<a href="#versie-1-2" data-parent="parent-1">Versie 1.2</a>
        										</span>
        									</div>
        								</li>
        								<li class="side-navigation__item">
        									<div class="views-field views-field-title">
        										<span class="field-content">
        											<a href="#versie-1-1" data-parent="parent-1">Versie 1.1</a>
        										</span>
        									</div>
        								</li>
        								<li class="side-navigation__item">
        									<div class="views-field views-field-title">
        										<span class="field-content">
        											<a href="#versie-1-0" data-parent="parent-1">Versie 1.0</a>
        										</span>
        									</div>
        								</li>
        							</ul>
        						</li>
        					</ul>
        				</div>
        			</nav>
        		</div>
        	</div>
        </div>
      </div>
    </section>
  </div>
</div>
{{outlet}}
