<ul class="functional-header__sub__actions">
  <li class="functional-header__sub__action">
    <h2 class="functional-header__sub__title">
      {{#link-to 'published.zitting.besluitenlijst.index'}}Besluitenlijst{{/link-to}}
    </h2>
  </li>
  <li class="functional-header__sub__action">Behandeling van agendapunt</li>
</ul>

<div class="container-flex--scroll u-padding--round--large">
  <div class="grid">
    <div class="col--7-12">
      <div class="annotation-structure"><!-- Agendapunten -->
        <div class="annotation-structure">
          <div class="annotation-structure"><!-- Behandeling van agendapunt -->
            <div class="annotation-structure"><!-- Document informatie -->
              <p class="text-fade uppercase u-spacer--small">Agendapunt van
                {{get (await zitting.bestuursorgaan.isTijdsspecialisatieVan) 'naam'}},
                <br>zitting van {{moment-format zitting.geplandeStart 'D MMMM YYYY'}}
              </p>
              {{{model.afgeleidUit}}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
