<AuPanel @active="true" as |section|>
  <section>
    <AuToolbar as |Group|>
      <Group>
        <AuHeading @level="4" @skin="4">Reglement</AuHeading>
      </Group>
      <Group>
        <AuButtonGroup>
          <AuLink 
            @icon="pencil" 
            @skin="naked"
            @route="regulatory-statements.edit" 
            @model={{this.reglementContainerId}}>
            Edit
          </AuLink>
          <AuButton @skin="naked" @icon="link-broken" @alert="true" {{on "click" this.detach}}>
            Detach
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </section>
  <section>
    <AuContent>
      {{this.regulatoryStatement.record.currentVersion.htmlSafeContent}}
    </AuContent>
  </section>
</AuPanel>
