<div class="u-spacer--top">
  {{#wu-timeline-accordion as |timeline|}}
    {{signatures/agenda/timeline-step
      name="Ontwerpagenda"
      step=timeline.step
      agenda=ontwerpAgenda
      currentEditorDocument=model.editorDocument
      sign=(action "applySignature" "ontwerpagenda")
      publish=(action "publish" "ontwerpagenda")
    }}
    
    {{signatures/agenda/timeline-step
      name="Aanvullende agenda"
      step=timeline.step
      agenda=aanvullendeAgenda
      currentEditorDocument=model.editorDocument
      sign=(action "applySignature" "aanvullendeagenda")
      publish=(action "publish" "aanvullendeagenda")
    }}
    
    {{signatures/agenda/timeline-step
      name="Spoedeisende agenda"
      step=timeline.step
      agenda=spoedeisendeAgenda
      currentEditorDocument=model.editorDocument
      sign=(action "applySignature" "spoedeisendeagenda")
      publish=(action "publish" "spoedeisendeagenda")
    }}
  {{/wu-timeline-accordion}}
</div>
