<div class="u-spacer--top">
  {{#wu-timeline-accordion as |timeline|}}
    {{signatures/notulen/timeline-step
      name="ontwerpnotulen"
      step=timeline.step
      notulen=ontwerpNotulen
      currentEditorDocument=model.editorDocument
      sign=(action "applySignature" "ontwerpnotulen")
      publish=(action "publish" "ontwerpnotulen")
      loading=ontwerpNotulenLoading
      loadingText=loadingText
    }}
  {{/wu-timeline-accordion}}
</div>
