<div class="u-spacer--top">
  {{#wu-timeline-accordion as |timeline|}}
    {{signatures/notulen/timeline-step
      name="notulen"
      step=timeline.step
      notulen=notulen
      currentEditorDocument=model.editorDocument
      sign=(action "sign" "notulen")
      publish=(action "publish" "notulen")
      isOpen=true
    }}
  {{/wu-timeline-accordion}}
</div>
