<div class="u-spacer--top--small">
	<h1 class="h1">Onderteken &amp; Publiceer</h1>
	{{!-- <p class="u-spacer">U kan onderdelen ondertekenen en publiceren voor volgende notulen: {{model.currentVersion.title}} </p> --}}

	<div class="grid">
		<div class="col--8-12">
			<h2 class="uppercase text-fade h6 sans-serif u-spacer--small">Voorvertoning</h2>
			<div class="editor__paper u-spacer--none">
				<div vocab={{editorDocumentVocab}}
				  prefix="eli: http://data.europa.eu/eli/ontology# prov: http://www.w3.org/ns/prov# mandaat: http://data.vlaanderen.be/ns/mandaat# besluit: http://data.vlaanderen.be/ns/besluit#"
				  resource="#"
				  typeof="foaf:Document">
		      {{#let (await model.currentVersion) as |current|}}
					  {{{current.content}}}
		      {{/let}}
				</div>
			</div>
		</div>
	</div>
</div>
