<div class="u-spacer--top">
  {{#wu-timeline-accordion as |timeline|}}
    {{#each behandelingen as |behandeling|}}
      {{signatures/behandeling/timeline-step
          name="besluit"
          step=timeline.step
          behandeling=behandeling
          sign=(action "sign" behandeling.uri)
          publish=(action "publish" behandeling.uri)
          print=(action "print")
      }}
    {{/each}}
  {{/wu-timeline-accordion}}
</div>
