<VoPage>
  <section class="au-o-region-large">
    <div class="au-o-layout">
      <AuHeading class="au-u-margin-bottom">{{t "contact.heading"}}</AuHeading>
      <ContactForm />
      <p class="au-u-margin-top">{{t "contact.contact-directly"}} <a href="mailto:gelinktnotuleren@vlaanderen.be" class="au-c-link">{{t "contact.email"}}</a>.</p>
    </div>
  </section>
</VoPage>
