{{#vo-page}}
  <section class="region">
    <div class="layout layout--wide">
      <div class="grid">
        <div class="col--1-1--s col--8-12--m col--6-12">
          <h1 class="h1 u-spacer--tiny">Gelinkt Notuleren</h1>
          <h2 class="h4 sans-serif">Opmaken en publiceren van agenda's, notulen en besluiten voor Lokale Besturen.</h2>
          <p>Neem contact op via email <a href="mailto:gelinktnotuleren@vlaanderen.be">gelinktnotuleren@vlaanderen.be</a>.</p>
        </div>
      </div>
    </div>
  </section>
{{/vo-page}}
