<VoPage>
  <section class="au-o-region-large">
    <div class="au-o-layout">
      <AuHeading class="au-u-margin-bottom">Contact</AuHeading>
      <ContactForm />
      <p class="au-u-margin-top">Of neem rechtstreeks contact op via mail <a href="mailto:gelinktnotuleren@vlaanderen.be">GelinktNotuleren@vlaanderen.be</a>.</p>
    </div>
  </section>

</VoPage>
