{{wu-widget src=header class="vo-header-widget"}}
<div class="container-flex--contain">
  <div class="grid grid--collapse">
    <div class="col--2-12">
      <div class="container-flex--contain">
        <div class="sidebar">
          <div class="sidebar__header">
            {{#wu-button isBlock=true onClick=(action "openNewDocument")}}Nieuwe zitting{{/wu-button}}
          </div>
          <div class="sidebar__content">
            <div class="side-navigation">
              <ul class="side-navigation__group">
                <li class="side-navigation__item">
                  {{#link-to 'inbox.index'}}Ontwerpen{{/link-to}}
                </li>
                <li class="side-navigation__item">
                  {{#link-to 'inbox.archive'}}Goedgekeurde notulen{{/link-to}}
                </li>
                <li class="side-navigation__item">
                  {{#link-to 'inbox.trash'}}Prullenbak{{/link-to}}
                </li>
              </ul>
            </div>
          </div>
          <div class="sidebar__footer u-align-center">
          	<a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#notuleren" target="_blank" class="button button--alt button--small button--block u-spacer--tb--tiny"><i class="vi vi-book vi-u-s"></i> Bekijk handleiding</a>
            {{acmidm-logout class="button button--link button--small button--block"}}
          </div>
        </div>
      </div>
    </div>
    <div class="col--10-12">
      {{outlet}}
    </div>
  </div>
</div>
