{{!-- <WuWidget @src={{header}} @class="vo-header-widget" /> --}}
<AuHeader @appTitle="Gelinkt Notuleren" />
<div class="container-flex--contain">
  <div class="grid grid--collapse">
    <div class="col--2-12 u-hide-on-print">
      <div class="container-flex--contain">
        <div class="sidebar">
          <div class="sidebar__header">
            <WuButton @isBlock={{true}} @onClick={{action "openNewDocument"}}>Nieuwe zitting</WuButton>
          </div>
          <div class="sidebar__content">
            <div class="side-navigation">
              <ul class="side-navigation__group">
                <li class="side-navigation__item">
                  <LinkTo @route="inbox.index">
	                  <i class="vi vi-paper"></i>
	                  Actieve documenten
	                </LinkTo>
                </li>
{{!--                 <li class="side-navigation__item">
                  {{#link-to 'inbox.archive'}}Gearchiveerde documenten{{/link-to}}
                </li> --}}
                <li class="side-navigation__item">
                  <LinkTo @route="inbox.trash">
	                  <i class="vi vi-trash"></i>
	                  Prullenmand
                  </LinkTo>
                </li>
              </ul>
            </div>
          </div>
          <div class="sidebar__footer u-align-center">
          	<a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#notuleren" target="_blank" class="button button--alt button--small button--block u-spacer--tb--tiny"><i class="vi vi-book vi-u-s"></i> Bekijk handleiding</a>
            {{!-- <AcmidmLogout @class="button button--link button--small button--block" /> --}}
          </div>
        </div>
      </div>
    </div>
    <div class="col--10-12 u-wide-on-print">
      {{outlet}}
    </div>
  </div>
</div>
