<AuHeader @appTitle="Gelinkt Notuleren" />
<div class="container-flex--contain">
  <div class="grid grid--collapse">
    <div class="col--2-12 u-hide-on-print">
      <div class="container-flex--contain">
        <div class="sidebar">
          <div class="sidebar__header">
            <WuButton @isBlock={{true}} @onClick={{action "openNewDocument"}}>Nieuwe zitting</WuButton>
          </div>
          <div class="sidebar__content">
            <div class="side-navigation">
              <ul class="side-navigation__group">
                <li class="side-navigation__item">
                  <LinkTo @route="inbox.index">
                    <i class="vi vi-paper"></i>
                    Actieve documenten
                  </LinkTo>
                </li>
{{!--                 <li class="side-navigation__item">
                  {{#link-to 'inbox.archive'}}Gearchiveerde documenten{{/link-to}}
                </li> --}}
                <li class="side-navigation__item">
                  <LinkTo @route="inbox.trash">
                    <i class="vi vi-trash"></i>
                    Prullenmand
                  </LinkTo>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col--10-12 u-wide-on-print">
      {{outlet}}
    </div>
  </div>
</div>
