<div class="temporary-header">
  <div class="grid">
    <div class="col--6-12">
      <div class="temporary-header__logo"></div>
      <div class="temporary-header__vlaanderen">Vlaanderen</div>
      <div class="temporary-header__name">
        {{#link-to 'inbox'}}Besturen{{/link-to}}
        {{#link-to 'published'}}Burgers{{/link-to}}
      </div>
    </div>
    <div class="col--6-12 u-align-right">
      <div class="temporary-header__info">
        <p>Demo omgeving</p>
      </div>
    </div>
  </div>
</div>

<div class="container-flex--contain">
  <div class="grid grid--collapse">
    <div class="col--2-12">
      <div class="container-flex--contain">
        <div class="sidebar">
          <div class="sidebar__header">
            {{#wu-button isBlock=true onClick=(action "openNewDocument")}}Nieuwe zitting{{/wu-button}}
          </div>
          <div class="sidebar__content">
            <div class="side-navigation">
              <ul class="side-navigation__group">
                <li class="side-navigation__item">
                  {{#link-to 'inbox.index'}}Ontwerpen{{/link-to}}
                </li>
                <li class="side-navigation__item">
                  {{#link-to 'inbox.archive'}}Goedgekeurde notulen{{/link-to}}
                </li>
                <li class="side-navigation__item">
                  {{#link-to 'inbox.trash'}}Prullenbak{{/link-to}}
                </li>
              </ul>
            </div>
          </div>
          <div class="sidebar__footer">
            {{acmidm-logout class="button button--alt button--block"}}
          </div>
        </div>
      </div>
    </div>
    <div class="col--10-12">
      {{outlet}}
    </div>
  </div>
</div>
